{% extends 'base_coworking.html.twig' %}

{% block title %}Réservation en ligne{% endblock %}

{% block paralax %}{% endblock %}

{% block admin %}
  {% if is_granted('ROLE_ADMIN') %}
    {{ parent() }}
  {% endif %}
{% endblock %}


{% block body %}
<section class="p-0 m-0">
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <h1 class="h3">Réservation en ligne</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(reservations, '#', 'r.id') }}</th>
                        <th>{{ knp_pagination_sortable(reservations, 'Nom complet', 'r.fullName') }}</th>
                        <th>{{ knp_pagination_sortable(reservations, 'Réservation', 'r.date') }}</th>
                        <th>{{ knp_pagination_sortable(reservations, 'Statut', 'r.status') }}</th>
                        <th>{{ knp_pagination_sortable(reservations, 'Place', 'r.guest') }}</th>
                        <th>{{ knp_pagination_sortable(reservations, 'Créé le', 'r.createdAt') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.id }}</td>
                        <td>
                            {{ reservation.fullName }}<br>
                            <span class="fw-lighter">{{ reservation.email }}</span><br>
                            <span class="fw-bold">{{ reservation.phone }}</span>
                        </td>
                        <td>{{ reservation.date ? reservation.date|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ getEventStatus(reservation.status)|raw }}</td>
                        <td>{{ reservation.guest }}</td>
                        <td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a class="btn btn-sm rounded-cirle btn-info" href="{{ path('app_coworking_reservation_show', {'id': reservation.id}) }}"><i class="bi bi-eye"></i></a>
                            <a class="btn btn-sm rounded-cirle btn-danger" href="{{ path('app_coworking_reservation_edit', {'id': reservation.id}) }}"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(reservations) }}
        </div>
    </div>
</section>
{% endblock %}
