{% extends 'base_coworking.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block paralax %}{% endblock %}

{% block admin %}
  {% if is_granted('ROLE_ADMIN') %}
    {{ parent() }}
  {% endif %}
{% endblock %}


{% block body %}
<section class="p-0 m-0">
    <div class="container my-5">
        <div class="row p-5 align-items-center rounded-3 border shadow-lg">
            <h1 class="h3">Nouvelle réservation</h1>

            {{ include('coworking/user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
            
            <div>
                <a class="btn btn-primary my-3 px-5 rounded-pill" href="{{ path('app_user_index') }}"><i class="bi me-2 bi-arrow-left"></i>Retour à la liste</a>
            </div>
        </div>
    </div>    
</section>
    <h1>Create new Reservation</h1>

    {{ include('coworking/reservation/_form.html.twig') }}

    <a href="{{ path('app_coworking_reservation_index') }}">back to list</a>
{% endblock %}
