
{% set current_route = app.request.attributes.get('_route') %}
<div class="sidebar-area bg-white">
	<div class="logo-brand d-flex justify-content-between align-items-center">
	<a class="navbar-brand" href="{{ path('app_home') }}">
		<img id="logo" src="{{ asset('images/logo-olona-talents-black600x200.png') }}" width="150" height="56" class="" alt="Logo">
	</a>
	<button id="menuIcon" class="menu-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" aria-expanded="false" aria-label="Toggle navigation">
		<span></span>
        <span></span>
        <span></span>
	</button>
	</div>
  <div id="sidebarT" class="scroll-container">
    <ul class="nav nav-pills flex-column mb-auto mt-5 pt-3">
    <li class="nav-item">
      <a href="{{ path('app_tableau_de_bord_candidat')}}" class="nav-link {{ current_route == 'app_tableau_de_bord_candidat' ? 'underline' : '' }}" aria-current="page">
      <img src="{{ asset('v2/images/dashboard/dashboard.svg')}}" alt=""><span class="sidebar-text">Tableau de bord </span> 
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ path('app_tableau_de_bord_candidat_trouver_des_missions')}}" class="nav-link {{ (current_route == 'app_tableau_de_bord_candidat_trouver_des_missions' or current_route == 'app_tableau_de_bord_candidat_view_job_offer' or current_route == 'app_olona_talents_prestations') ? 'underline' : '' }}" aria-current="page">
      <img src="{{ asset('v2/images/dashboard/missions.svg')}}" alt=""><span class="sidebar-text">Trouver des missions</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ path('app_tableau_de_bord_candidat_annuaire_de_services')}}" class="nav-link {{ (current_route == 'app_tableau_de_bord_candidat_annuaire_de_services' or current_route == 'app_tableau_de_bord_candidat_view_prestation' or current_route == 'app_olona_talents_prestations') ? 'underline' : '' }}" aria-current="page">
      <img src="{{ asset('v2/images/dashboard/annuaire_icon.svg')}}" alt="" width="27" height="27"><span class="sidebar-text">Annuaire de service</span></a>
    </li>
    <li class="nav-item click-sub">
      <span class="nav-link sous-menu_ {{ (current_route == 'app_tableau_de_bord_candidat_profil' or current_route == 'app_tableau_de_bord_candidat_mes_prestations' or current_route == 'app_tableau_de_bord_candidat_mes_candidatures' or current_route == 'app_tableau_de_bord_candidat_reseaux_professionnelles') ? 'underline' : '' }}" aria-current="page"><img src="{{ asset('v2/images/dashboard/profil.svg')}}" alt=""><span class="sidebar-text">Profil</span> </span>
      <ul class="sub-nav-pills">
        <li class="sub-nav-item">
          <a href="{{ path('app_tableau_de_bord_candidat_profil')}}" class="sub-nav-link {{ current_route == 'app_tableau_de_bord_candidat_profil' ? 'underline' : '' }}" aria-current="page">
          Voir ou modifier mon profil
          </a>
        </li>
        <li class="sub-nav-item">
          <a href="{{ path('app_tableau_de_bord_candidat_mes_prestations')}}" class="sub-nav-link {{ (current_route == 'app_tableau_de_bord_candidat_mes_prestations' or current_route == 'app_v2_create_prestation' or current_route == 'app_v2_edit_prestation') ? 'underline' : '' }}" aria-current="page">
          Mes prestations
          </a>
        </li>
        <li class="sub-nav-item">
          <a href="{{ path('app_tableau_de_bord_candidat_mes_candidatures')}}" class="sub-nav-link {{ current_route == 'app_tableau_de_bord_candidat_mes_candidatures' ? 'underline' : '' }}" aria-current="page">
          Mes candidatures
          </a>
        </li>
        <li class="sub-nav-item">
          <a href="{{ path('app_tableau_de_bord_candidat_reseaux_professionnelles')}}" class="sub-nav-link {{ current_route == 'app_tableau_de_bord_candidat_reseaux_professionnelles' ? 'underline' : '' }}" aria-current="page">
          Réseaux professionnels
          </a>
        </li>
        <li class="sub-nav-item">
          <a href="{{ path('app_tableau_de_bord_candidat_simulateur')}}" class="sub-nav-link {{ current_route == 'app_tableau_de_bord_candidat_simulateur' ? 'underline' : '' }}" aria-current="page">
          Simulateur
          </a>
        </li>
        <li class="sub-nav-item">
          <a href="{{ path('app_tableau_de_bord_candidat_simulations')}}" class="sub-nav-link {{ current_route == 'app_tableau_de_bord_candidat_simulations' ? 'underline' : '' }}" aria-current="page">
          Mes simulations
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="{{ path('app_tableau_de_bord_candidat_tarifs_standard')}}" class="nav-link {{ (current_route == 'app_tableau_de_bord_candidat_tarifs_standard' or current_route == 'app_v2_view_prestation' or current_route == 'app_olona_talents_prestations') ? 'underline' : '' }}" aria-current="page">
      <img src="{{ asset('v2/images/dashboard/payment_icon.svg')}}" alt="" width="24" height="24"><span class="sidebar-text">Recharger mes credits</span></a>
    </li>
    <li class="nav-item">
      <a href="{{ path('app_tableau_de_bord_candidat_mes_commandes')}}" class="nav-link {{ (current_route == 'app_tableau_de_bord_candidat_mes_commandes' or current_route == 'app_v2_view_prestation' or current_route == 'app_olona_talents_prestations') ? 'underline' : '' }}" aria-current="page">
      <img src="{{ asset('v2/images/dashboard/money.svg')}}" alt="" width="24" height="24"><span class="sidebar-text">Facturation</span></a>
    </li>
    <li class="nav-item">
      <a href="{{ path('app_tableau_de_bord_candidat_notification')}}" class="nav-link {{ current_route == 'app_tableau_de_bord_candidat_notification' ? 'underline' : '' }}" aria-current="page">
      <img src="{{ asset('v2/images/dashboard/notification.svg')}}" alt=""><span class="sidebar-text">Notifications</span><span class="link-bulle">{{ notificationsCount }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ path('app_tableau_de_bord_candidat_tarifs')}}" class="nav-link {{ current_route == 'app_tableau_de_bord_candidat_tarifs' ? 'underline' : '' }}" aria-current="page">
      <img src="{{ asset('v2/images/dashboard/tarif.svg')}}" alt="" width="23" height="23"><span class="sidebar-text">Tarifs</span>
      </a>
    </li>
    <li class="nav-item click-sub">
      <span class="sep-menu"></span> 
      <span class="nav-link sous-menu_ {{ (current_route == 'app_tableau_de_bord_candidat_mon_compte' or current_route == 'app_tableau_de_bord_candidat_mise_a_jour_mot_de_passe' or current_route == 'app_tableau_de_bord_candidat_assistance') ? 'underline' : '' }}"><img src="{{ asset('v2/images/dashboard/setting.svg')}}" alt=""><span class="sidebar-text">Paramètres </span></span>
      <ul class="sub-nav-pills">
        <li class="sub-nav-item">
          <a href="{{ path('app_tableau_de_bord_candidat_mon_compte')}}" class="sub-nav-link {{ current_route == 'app_tableau_de_bord_candidat_mon_compte' ? 'underline' : '' }}" aria-current="page">
          Mon compte
          </a>
        </li>
        <li class="sub-nav-item">
          <a href="{{ path('app_tableau_de_bord_candidat_mise_a_jour_mot_de_passe')}}" class="sub-nav-link {{ current_route == 'app_tableau_de_bord_candidat_mise_a_jour_mot_de_passe' ? 'underline' : '' }}" aria-current="page">
          Modifier mon mot de passe
          </a>
        </li>
        <li class="sub-nav-item">
          <a href="{{ path('app_tableau_de_bord_candidat_assistance')}}" class="sub-nav-link {{ current_route == 'app_tableau_de_bord_candidat_assistance' ? 'underline' : '' }}" aria-current="page">
          Besoin d'assistance ?
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <span class="sep-menu"></span> 
      <a href="{{ path('app_logout')}}" class="nav-link">
      <img src="{{ asset('v2/images/dashboard/logout.svg')}}" alt=""><span class="sidebar-text">Se déconnecter</span> 
      </a>
    </li>
    </ul>
  </div>
</div>
</div>
<div class="db-content d-flex flex-column">