{% extends 'base_coworking.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1 class="h3">Commande #{{ order.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Créée le</th>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ order.customer }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ order.totalAmount }} Ar</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>
                    {{ statusOrder(order)|raw }}
                </td>
            </tr>
            <tr>
                <th>Mis à jour le</th>
                <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '-' }}</td>
            </tr>
            <tr>
                <th>{{ order.orderItems|length }} Items </th>
                <td>
                    {% for item in order.orderItems %}
                        <div class="">
                            <span class="fw-bold">{{ item.product.name }}</span>
                            <span class="mx-3 fw-lighter">({{ item.quantity }})</span>
                            <span class="text-muted">{{ item.product.price * item.quantity }} Ar</span>
                        </div>                        
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <a class="btn btn-primary my-3 px-5 rounded-pill" href="{{ path('app_order_index') }}"><i class="bi me-2 bi-arrow-left"></i>Retour à la liste</a>
    </div>

{% endblock %}
