{% include "mails/_header.html.twig" %}
            <p>Hello Nirina,</p>
            <p>Un utilisateur a renconté une <strong>erreur</strong></p>
            <div>
                Voici les détails : 
                <div>
                <p><strong>Nom de l'utilisateur</strong> : {{ user.nom }} {{ user.prenom }}</p>
                <p><strong>UserID</strong> : {{ user.id }}</p>
                <p><strong>Url</strong> : {{ url }}</p>
                <p><strong>Message</strong> : {{ exception.message|raw }}</p>
                <p><strong>Fichier</strong> {{ exception.file }} </p>
                <p><strong>Ligne</strong> {{ exception.line }} </p>
                </div>
            </div>
            <p>   
                Voici le lien pour acceder au logs de l'utilisateur
            </p>
            <p style="text-align: center;">    
            <a href="{{ dashboard_url|raw }}" style="display: inline-block; padding: 12px 24px; background-color: #0D6EFD; color: #FFFFFF; border-radius: 5px; text-decoration: none; font-weight: 500; margin-bottom: 20px;">Logs utilisateur</a>
            </p>
{% include "mails/_footer.html.twig" %}