{% extends 'base_admin_blog.html.twig' %}

{% block title %}Catégorie {{ category.title }}{% endblock %}

{% block body %}
    <h1 class="h3">Catégorie {{ category.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ category.slug }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ category.content|raw }}</td>
            </tr>
            <tr>
                <th>Meta Title</th>
                <td>{{ category.metaTitle }}</td>
            </tr>
            <tr>
                <th>Meta Description</th>
                <td>{{ category.metaDescription }}</td>
            </tr>
            <tr>
                <th>Mots clés</th>
                <td>{{ category.metaKeywords }}</td>
            </tr>
            <tr>
                <th>Création</th>
                <td>{{ category.createdAt ? category.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise à jour</th>
                <td>{{ category.updatedAt ? category.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>
                    {% if category.imageName %}
                        <img src="{{ asset('images/blogs/' ~ category.imageName) }}" alt="{{ category.title }}" class="img-thumbnail" style="width: 200px;"/>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end w-100">
        <a class="btn btn-secondary px-5 rounded-pill text-white" href="{{ path('app_blog_category_edit', {'id': category.id}) }}"><i class="bi me-2 bi-pencil"></i>Modifier</a>
        {{ include('blog/category/_delete_form.html.twig') }}
    </div>

    <div>
        <a class="btn btn-primary my-3 px-5 rounded-pill" href="{{ path('app_blog_category_index') }}"><i class="bi me-2 bi-arrow-left"></i>Retour à la liste</a>
    </div>
{% endblock %}
