{% extends 'security/base_login.html.twig' %}

{% block title %}Connexion | Olona Talents{% endblock %}

{% block meta %}
<meta name="description" content="Connectez-vous à votre compte sur https://olona-talents.com/ pour accéder à vos services personnalisés, gérer vos annonces, consulter vos candidatures et profiter d'une expérience utilisateur optimale.">
<meta name="keywords" content="freelance, projet, offre, portage salarial, cooptation, recrutement, travail, emploi, talents, candidat, recruteur, offres, agence, olona, olona talents, olona talents agence, talents agence, agence talents, candidature, candidature agence, candidature olona, candidature olona talents">
<meta property="og:title" content="Connexion | Olona Talents">
<meta property="og:description" content="Connectez-vous à votre compte sur https://olona-talents.com/ pour accéder à vos services personnalisés, gérer vos annonces, consulter vos candidatures et profiter d'une expérience utilisateur optimale.">
<meta property="og:url" content="{{ app.request.uri }}">
<meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ asset('/images/logo-og.png') }}">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ app.request.schemeAndHttpHost ~ path('app_login') }}">
{% endblock %}

{% block body %}

<section class="login-wrap">
    <div class="bg-mask"></div>
    <div class="login-header">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ path('app_home') }}">
                        <img src="{{ asset('images/login_olona_talents.webp') }}" class="img-fluid" alt="Image">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="sign-up_">
                        Pas encore membre ? <a href="{{ path('app_olona_talents_register') }}" class="fw-bolder text-white">Inscrivez-vous</a> et rejoignez la communauté Olona-talents.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-xl-8">
                    <div class="login-left-block">
                        
                        <h1>Le <span>1<sup>er</sup></span>moteur de recherche dédié à l'emploi à Madagascar</h1>
                        <ul class="features_list_">
                            <li><a href="{{ path('app_coworking_main')}}" class="text-white" target="_blank">Espace coworking</a></li>
                            <li><a href="" class="link-disabled text-white">Recrutement</a></li>
                            <li><a href="{{ path('app_home_simulateur_portage')}}" class="text-white" target="_blank">Portage salarial</a></li>
                            <li><a href="" class="link-disabled text-white">Domiciliation</a></li>
                            <li><a href="" class="link-disabled text-white">AutoPromotion</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="card shadow-lg border-0 rounded">
                        <div class="card-body p-4">
                            {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                            {% endif %}
                            
                            {% if app.user %}
                            <div class="alert alert-dark text-center">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                                <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                            {% endif %}
                            
                            <form method="post">
                                <div class="form-floating mb-2">
                                    <input type="email" class="form-control" id="email" name="email" required autofocus placeholder="Email">
                                    <label for="email">Adresse email</label>
                                </div> 
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                    <label for="password">Mot de passe</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me">
                                    <label class="form-check-label" for="remember_me">
                                        Se souvenir de moi
                                    </label>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="text-center my-3">
                                    <button type="submit" class="btn btn-login">Connexion</button>
                                </div>
                                <div class="mb-4 text-center text-forgot">
                                    <a href="{{ path('app_forgot_password_request') }}" class="fw-light small">Mot de passe oublié?</a>
                                </div>
                            </form>
                            <section class="social-login_ mt-3">
                                <div class="d-flex align-items-center my-3">
                                    <hr class="flex-grow-1">
                                    <h2 class="h5 text-center mx-3">Utiliser les réseaux sociaux</h2>
                                    <hr class="flex-grow-1">
                                </div>
                                <div class="d-flex gap-3 justify-content-center mt-3">
                                    <a href="{{ path('connect_google_start') }}" class="text-white btn btn-google">
                                        <img src="{{ asset('images/google-svg-icon.svg') }}" class="img-fluid" alt="icon google">
                                        {#Se connecter avec Google#}
                                    </a>
                                    <a href="{{ path('connect_facebook_start') }}" class="text-white btn btn-fb">
                                        <img src="{{ asset('images/facebook-svg-icon.svg') }}" class="img-fluid" alt="icon fb">
                                        {#Se connecter avec Facebook#}
                                    </a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block preview %}{% endblock %}
