{% extends 'base_v21.html.twig' %}

{% block title %}Connexion | Olona Talents{% endblock %}

{% block meta %}
<meta name="description" content="Connectez-vous à votre compte sur https://olona-talents.com/ pour accéder à vos services personnalisés, gérer vos annonces, consulter vos candidatures et profiter d'une expérience utilisateur optimale.">
<meta name="keywords" content="freelance, projet, offre, portage salarial, cooptation, recrutement, travail, emploi, talents, candidat, recruteur, offres, agence, olona, olona talents, olona talents agence, talents agence, agence talents, candidature, candidature agence, candidature olona, candidature olona talents">
<meta property="og:title" content="Connexion | Olona Talents">
<meta property="og:description" content="Connectez-vous à votre compte sur https://olona-talents.com/ pour accéder à vos services personnalisés, gérer vos annonces, consulter vos candidatures et profiter d'une expérience utilisateur optimale.">
<meta property="og:url" content="{{ app.request.uri }}">
<meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ asset('/images/logo-og.png') }}">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
{% endblock %}

{% block body %}

<section class="d-flex justify-content-center align-items-center">
    <div class="container py-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 d-none d-md-block text-center">
                <img src="{{ asset('images/login-light.webp') }}" id="login-image" class="img-fluid" alt="Image">
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="card shadow-lg border-0 rounded">
                    <div class="card-body p-4">
                        <h2 class="text-center mb-4">Se connecter</h2>
                        <p class="text-center mb-4">
                            Pas encore membre ? <a href="{{ path('app_olona_talents_register') }}" class="text-primary fw-bolder">Inscrivez-vous dès maintenant</a> et rejoignez la communauté Olona-talents.
                        </p>
                        <div class="mb-4 text-center">
                            <a href="{{ path('connect_google_start') }}" class="btn btn-outline-primary btn-block rounded-pill px-5">
                                Se connecter avec <i class="bi bi-google"></i>
                            </a>
                        </div>
                        
                        {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}
                        
                        {% if app.user %}
                        <div class="alert alert-dark text-center">
                            Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                        {% endif %}
                        
                        <form method="post">

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" required autofocus placeholder="Email">
                            <label for="email">Adresse email</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                            <label for="password">Mot de passe</label>
                        </div>

                            <div class="mb-4">
                                <div class="d-flex justify-content-end">
                                    <a href="{{ path('app_forgot_password_request') }}" class="fw-light text-end small">Mot de passe oublié</a>
                                </div>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me">
                                <label class="form-check-label" for="remember_me">
                                    Se souvenir de moi
                                </label>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="text-center my-3">
                              <button type="submit" class="btn btn-primary rounded-pill px-5 mx-auto">Connexion</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block preview %}{% endblock %}
