{% extends 'base_v21.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block meta %}
<meta name="description" content="Découvrez les mentions légales du site https://olona-talents.com/. Retrouvez les informations sur la propriété intellectuelle, les données personnelles, les conditions d’utilisation et les responsabilités légales liées à l’utilisation de nos services.">
<meta name="keywords" content="freelance, projet, offre, portage salarial, cooptation, recrutement">
<meta property="og:title" content="Mentions légales">
<meta property="og:description" content="Découvrez les mentions légales du site https://olona-talents.com/. Retrouvez les informations sur la propriété intellectuelle, les données personnelles, les conditions d’utilisation et les responsabilités légales liées à l’utilisation de nos services.">
<meta property="og:url" content="{{ app.request.uri }}">
<meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ asset('/images/logo-og.png') }}">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
{% endblock %}

{% block body %}
<section id="legal" class="my-5">
    <div class="container my-5 d-flex flex-column justify-content-center">
        <div class="row my-4">
            <div class="col d-flex flex-column justify-content-center">
                <h1 class="text-center display-4 mb-3">{{ 'app_home.legal.h1'|trans }}</h1>
                <h2 class="display-6 my-3">{{ 'app_home.legal.section1.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section1.p1'|trans |raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section1.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section1.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section1.p4'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section1.p5'|trans |raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section1.p6'|trans |raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section1.p7'|trans |raw }}</p>
                </div>

                <h2 class="display-6 my-3">{{ 'app_home.legal.section2.h2'|trans | raw }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section2.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">
                        {{ 'app_home.legal.section2.p1'|trans({
                            '%home_url%': path('app_home'),
                        })|raw }}<br>
                        {{ 'app_home.legal.section2.p2'|trans({
                            '%home_url%': path('app_home'),
                        })|raw }}<br>
                        {{ 'app_home.legal.section2.p3'|trans | raw }}<br>
                        {{ 'app_home.legal.section2.p4'|trans | raw }}<br>
                        {{ 'app_home.legal.section2.p5'|trans | raw }}<br>
                        {{ 'app_home.legal.section2.p6'|trans | raw }}<br>
                    </p>
                    <p class="fs-6">{{ 'app_home.legal.section2.p7'|trans }}</p>
                </div>

                <h2 class="display-6 my-3">{{ 'app_home.legal.section3.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section3.p'|trans }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section3.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section3.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="display-6 my-3">{{ 'app_home.legal.section4.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section4.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section4.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="display-6 my-3">{{ 'app_home.legal.section5.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section5.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section5.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section5.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="display-6 my-3">{{ 'app_home.legal.section6.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section6.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section6.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="display-6 my-3">{{ 'app_home.legal.section7.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section7.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section7.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section7.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="display-6 my-3">{{ 'app_home.legal.section8.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section8.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                </div>

                <h3 class="display-7 my-3">{{ 'app_home.legal.section9.h3'|trans }}</h3>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section9.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section9.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h3 class="display-7 my-3">{{ 'app_home.legal.section10.h3'|trans }}</h3>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section10.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <ul class="fs-6">
                        <li>
                            {{ 'app_home.legal.section10.li0'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section10.li1'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section10.li2'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section10.li3'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section10.li4'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                    </ul>
                    <p class="fs-6">{{ 'app_home.legal.section10.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h3 class="display-7 my-3">{{ 'app_home.legal.section11.h3'|trans }}</h3>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section11.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <ul class="fs-6">
                        <li>
                            {{ 'app_home.legal.section11.li0'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section11.li1'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section11.li2'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section11.li3'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section11.li4'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.legal.section11.li5'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                    </ul>
                    <p class="fs-6">{{ 'app_home.legal.section11.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section11.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="text-center fs-6">{{ 'app_home.legal.section11.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section11.p4'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section11.p5'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h3 class="display-7 my-3">{{ 'app_home.legal.section12.h3'|trans }}</h3>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section12.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section12.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section12.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section12.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h3 class="display-7 my-3">{{ 'app_home.legal.section13.h3'|trans }}</h3>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section13.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section13.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section13.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="display-7 my-3">{{ 'app_home.legal.section14.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section14.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section14.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <h3 class="display-7 my-3">{{ 'app_home.legal.section14.h3'|trans }}</h3>
                    <p class="fs-6">{{ 'app_home.legal.section14.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section14.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="display-7 my-3">{{ 'app_home.legal.section15.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section15.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                    <p class="text-center fs-6">{{ 'app_home.legal.section15.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <h3 class="display-7 my-3">{{ 'app_home.legal.section15.h3'|trans }}</h3>
                    <p class="fs-6">{{ 'app_home.legal.section15.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section15.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section15.p4'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section15.p5'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section15.p6'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section15.p7'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section15.p8'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section15.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section15.p9'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>

                    <h3 class="display-7 my-3">{{ 'app_home.legal.section16.h3'|trans }}</h3>
                    <p class="fs-6">{{ 'app_home.legal.section16.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section16.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section16.p2'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.legal.section16.p3'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="display-7 my-3">{{ 'app_home.legal.section17.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.legal.section17.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw  }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block preview %}{% endblock %}
