{% extends 'base_coworking.html.twig' %}

{% block title %}Portage salarial | Olona-Talents {% endblock %}

{% block paralax %}
    {% if not is_granted('ROLE_ADMIN') %}
        {% include "home/portage/_paralax.html.twig" %}
    {% endif %}
{% endblock %}

{% block admin %}{% endblock %}
{% block body %}

<section class="container-fluid py-5 bg-body-tertiary">
  
  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
      <h2 class="display-6 fw-bold">Liberté & Sécurité : L'indépendance sans risques</h2>
      <p class="lead">
        Le portage salarial vous permet de bénéficier d'une protection sociale complète (assurance maladie, retraite, chômage) tout en gardant votre indépendance. Plus besoin de vous soucier de la paperasse administrative, concentrez-vous sur votre cœur de métier pendant que nous gérons tout le reste.
      </p>
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/9njDbRzGd1U?si=zO06cA0g_qoqvAaK" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>
  </div>
    

</section>

  <section class="p-0 m-0">
      <div class="container my-5">
          <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
              <div class="p-3 p-lg-5 pt-lg-3">
                <h2 class="display-5 fw-bold lh-1 text-body-emphasis">Pourquoi nous faire confiance ?</h2>
              </div>
          </div>
          <div class="row row-cols-1 row-cols-md-4 g-4 text-center">
            <div class="col">
              <div class="card shadow h-100">
                <i class="bi bi-file-earmark-text display-4 fw-bolder ms-4 mt-4 text-warning"></i>
                <div class="card-body">
                  <h3 class="h5 fw-bold card-title">Contrats sur-mesure</h3>
                  <p class="card-text">Ajustez vos conditions comme vous le souhaitez.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow h-100">
                <i class="bi bi-person-badge display-4 fw-bolder ms-4 mt-4 text-warning"></i>
                <div class="card-body">
                  <h3 class="h5 fw-bold card-title">Accompagnement personnalisé</h3>
                  <p class="card-text">Un conseiller dédié pour vous guider.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow h-100">
                <i class="bi bi-cash-stack display-4 fw-bolder ms-4 mt-4 text-warning"></i>
                <div class="card-body">
                  <h3 class="h5 fw-bold card-title">Paiements rapides et sécurisés</h3>
                  <p class="card-text">Garantissez votre trésorerie, sans retard.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow h-100">
                <i class="bi bi-graph-up display-4 fw-bolder ms-4 mt-4 text-warning"></i>
                <div class="card-body">
                  <h3 class="h5 fw-bold card-title">Transparence totale</h3>
                  <p class="card-text">Aucune surprise, vous savez où va votre argent.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>

  <section class="container-fluid py-5">

      <div class="bg-dark text-white px-4 py-5 text-center" data-bs-theme="dark">
          <div class="py-5 container">
            <h2 class="display-5 fw-bold text-white mb-3">3 étapes simples pour démarrer</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
              <div class="col">
                <div class="h-100 rounded-3">
                  <i class="bi bi-pen display-4 fw-bolder ms-4 mt-4 text-warning"></i>
                  <h3 class="h2 test">Étape 1</h3>
                  <p class="lead">Signez votre contrat de portage en ligne (rapide et sans paperasse).</p>
                </div>
              </div>
              <div class="col">
                <div class="h-100 rounded-3">
                  <i class="bi bi-list-check display-4 fw-bolder ms-4 mt-4 text-warning"></i> 
                  <h3 class="h2 test">Étape 2</h3>
                  <p class="lead">Réalisez vos missions en toute liberté, nous gérons l'administratif.</p>
                </div>
              </div>
              <div class="col">
                <div class="h-100 rounded-3">
                  <i class="bi bi-wallet2 display-4 fw-bolder ms-4 mt-4 text-warning"></i>
                  <h3 class="h2 test">Étape 3</h3>
                  <p class="lead">Recevez vos paiements en temps et en heure, sans stress.</p>
                </div>
              </div>
            </div>
          </div>
      </div>

  </section>

  <section class="container-fluid py-5">
    <div class="py-5 container">
      <h2 class="display-5 fw-bold lh-1 text-body-emphasis">Ils ont choisi Olona Talents</h2>
      <div class="row mt-5">
        <div class="col">
          <div class="card h-100 mb-3 d-flex align-items-center shadow" style="max-width: 540px;">
            <div class="row g-0 align-items-center h-100">
              <div class="col-md-4 h-100 d-flex align-items-center">
                <img src="{{ asset('images/coworking/casmir.png')}}" class="img-fluid rounded-pill img-thumbnail" alt="...">
              </div>
              <div class="col-md-8 h-100 d-flex align-items-center">
                <div class="card-body">
                  <p class="card-text">"J'ai enfin pu me lancer en freelance sans craindre pour ma protection sociale."</p>
                  <p class="card-text">
                    <small class="fw-bold">Casmir</small>
                    <br>
                    <small class="text-body-secondary">Content Manager SEO</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 mb-3 d-flex align-items-center shadow" style="max-width: 540px;">
            <div class="row g-0 align-items-center h-100">
              <div class="col-md-4 h-100 d-flex align-items-center">
                <img src="{{ asset('images/coworking/ravaka.png')}}" class="img-fluid rounded-pill img-thumbnail" alt="...">
              </div>
              <div class="col-md-8 h-100 d-flex align-items-center">
                <div class="card-body">
                  <p class="card-text">"Olona Talents m'a permis de me concentrer sur mes missions, pas sur la paperasse."</p>
                  <p class="card-text">
                    <small class="fw-bold">Ravaka</small>
                    <br>
                    <small class="text-body-secondary">Assistante virtuelle</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="container-fluid py-5">
    <div class="container">
      <h2 class="display-6 fw-bold text-center">Prêt à prendre votre envol ?</h2>
      <div class="row align-items-center">
        <div class="col">
          <img src="{{ asset('images/coworking/map_olona-talents_compressed.png')}}" alt="map" class="img-fluid my-3">
        </div>
        <div class="col">
          <p class="lead"><i class="bi bi-phone"></i> <a href="tel:+261320373432">+261 32 03 734 32</a></p>
          <p class="lead"><i class="bi bi-geo-alt"></i> Ambatonakanga, Antananarivo</p>
          <div id="contactForm">
            <h3 class="h4 mb-4 fw-bold">Contact rapide</h3>
            {{ form_start(contactForm)}}
            <div class="mb-3">
              {{ form_widget(contactForm.titre, {'attr': {'placeholder': 'Nom complet'}}) }}
            </div>
            <div class="mb-3">
              {{ form_widget(contactForm.email, {'attr': {'placeholder': 'Email'}}) }}
            </div>
            <div class="mb-3">
              {{ form_widget(contactForm.numero, {'attr': {'placeholder': 'Téléphone'}}) }}
            </div>
            <div class="mb-3">
              {{ form_widget(contactForm.message, {'attr': {'placeholder': 'Votre message'}}) }}
            </div>
            <div class="col text-center">
              <!-- Button -->
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <button type="submit" class="btn btn-info btn-lg px-4 me-sm-3 fw-bold"><i class="bi bi-send me-2"></i> Envoyer</button>
              </div>
            </div>
            <div style="display: none;">
              {{ form_widget(contactForm) }}
            </div>
            {{ form_end(contactForm)}}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}