{% extends 'base_blog.html.twig' %}

{% block title %}Conditions Générales d'Utilisations{% endblock %}

{% block meta %}
<meta name="description" content="Découvrez les Conditions Générales d'Utilisation de https://olona-talents.com/. Informez-vous sur les termes, droits et obligations liés à l'utilisation de nos services en ligne. Lisez attentivement pour garantir une utilisation conforme et sécurisée.">
<meta name="keywords" content="freelance, projet, offre, portage salarial, cooptation, recrutement, travail, emploi, talents, candidat, recruteur, offres, agence, olona, olona talents, olona talents agence, talents agence, agence talents, candidature, candidature agence, candidature olona, candidature olona talents">
<meta property="og:title" content="Conditions Générales d'Utilisations">
<meta property="og:description" content="Découvrez les Conditions Générales d'Utilisation de https://olona-talents.com/. Informez-vous sur les termes, droits et obligations liés à l'utilisation de nos services en ligne. Lisez attentivement pour garantir une utilisation conforme et sécurisée.">
<meta property="og:url" content="{{ app.request.uri }}">
<meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ asset('/images/logo-og.png') }}">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
{% endblock %}

{% block paralax %}
<div class="paralax event-design">
  {% include "blog/_nav.html.twig" %}
  <div class="main-content-min">
    <div class="container">
      <!-- Content Section -->
      <div class="row">
        <div class="col-12 col-sm-8 mx-auto text-center">
          <h1 class="display-4 fw-bolder my-5">{{ 'app_home.terms.h1'|trans }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<section id="terms">
    <div class="container my-5 d-flex flex-column justify-content-center">
        <div class="row my-4">
            <div class="col d-flex flex-column justify-content-center">
                <div class="">
                    <p class="fs-6">{{ 'app_home.terms.section1.p'|trans |raw }}</p>
                    <p class="fs-6">{{ 'app_home.terms.section1.p1'|trans |raw }}</p>
                </div>

                <h2 class="display-6 my-3">{{ 'app_home.terms.section2.h2'|trans | raw }}</h2>
                <div class="">
                    <h3 class="display-7 my-3">{{ 'app_home.terms.section2.h3'|trans | raw }}</h3>
                    <p class="fs-6">{{ 'app_home.terms.section2.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <h3 class="display-7 my-3">{{ 'app_home.terms.section3.h3'|trans | raw }}</h3>
                    <p class="fs-6">{{ 'app_home.terms.section3.p'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <ul class="fs-6">
                        <li>
                            {{ 'app_home.terms.section3.li0'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li1'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li2'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li3'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li4'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li5'|trans({
                                '%model_url%': 'https://www.privacypolicies.com/blog/privacy-policy-template/',
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li6'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li7'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                        <li>
                            {{ 'app_home.terms.section3.li8'|trans({
                                '%home_url%': path('app_home'),
                            })|raw }}
                        </li><br>
                    </ul>
                </div>

                <h2 class="display-6 my-3">{{ 'app_home.privacy.section5.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.privacy.section5.p'|trans }}</p>
                    <p class="fs-6">{{ 'app_home.privacy.section5.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.privacy.section5.p3'|trans }}</p>
                    <p class="fs-6">{{ 'app_home.privacy.section5.p4'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                </div>

                <h2 class="display-6 my-3">{{ 'app_home.privacy.section6.h2'|trans }}</h2>
                <div class="">
                    <p class="fs-6">{{ 'app_home.privacy.section6.p'|trans }}</p>
                    <p class="fs-6">{{ 'app_home.privacy.section6.p1'|trans({
                        '%home_url%': path('app_home'),
                    })|raw }}</p>
                    <p class="fs-6">{{ 'app_home.privacy.section6.p2'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block preview %}{% endblock %}
