{% extends 'base_coworking.html.twig' %}

{% block title %}Réservez votre espace de coworking {% endblock %}

{% block paralax %}
  {% if not is_granted('ROLE_ADMIN') %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block admin %}
  {% if is_granted('ROLE_ADMIN') %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block body %}
<style>
  #available {
    scroll-margin-top: 100px; /* Adjust the value as needed */
}
</style>
{% if is_granted('ROLE_ADMIN') %}
  
{% else %}
<header class="header-home">
    <div class="page-content">
        <div class="home-banner-section bg-cover" style="background-image:url({{ asset('v2/images/coworking-olona-talents.webp')}})">
            <div class="home-inner-section">
                <div class="mid-section">
                    <div class="title-large">Un espace de travail inspirant pour être plus <span>productif</span></div>
                    <div class="title-light">Réserver votre espace dès maintenant</div>
                    <div class="btn-signUp">
                        <a href="{{path('app_coworking_main')}}#reservationForm" class="btn btn-primary">Voir les places disponibles</a>
                         <a href="#JeReserve" class="btn btn-primary">Je reserve</a>
                    </div>
                    <div class="popular-search">
                        <span class="ot-title"><i class="bi bi-pin"></i> Ambatonakanga, Antananarivo, Madagascar</span>
                    </div>
                </div>
                <div class="bottom-section">
                    <div class="ot-cvth">Un espace composé de 22 places</div>
                    <div class="blocks-wrap">
                        <!--link-1-->
                        <div class="blocks blocks-position-1">
                            <a class="btn-primary btn-social-item" target="_blank" href="https://www.linkedin.com/company/emploi-madagascar/posts?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BiwUwllhjTX2REM32%2BAYkfQ%3D%3D">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </div>
                        <!--link-2-->
                        <div class="blocks blocks-position-2">
                            <a class="btn-primary btn-social-item" target="_blank" href="https://www.facebook.com/olonatalents">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="presentation_bureau">
    <div class="container">
        <div class="d-lg-flex head_title">
            <h2 class="display-6 fw-bold">Votre bureau, <br/>comme vous l'imaginez</h2>
            <p>
                Découvrez nos espaces de travail conçus pour votre confort et votre productivité. Profitez de chaises ergonomiques, d'une lumière naturelle abondante, d'une connexion Wi-Fi fibre ultra-rapide et d'une ambiance professionnelle stimulante avec coin café et espaces communs.
            </p>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
                <div class="card_">
                    <img src="{{ asset('images/coworking/IMG_0700.png')}}" class="card-img-top" alt="...">
                    <p class="card-text_">Postes de travail individuels.</p>
                </div>
            </div>
            <div class="col">
                <div class="card_">
                    <img src="{{ asset('images/coworking/IMG_0682.png')}}" class="card-img-top" alt="...">
                    <p class="card-text_">Open space collaboratif.</p>
                </div>
            </div>
            <div class="col">
                <div class="card_">
                    <img src="{{ asset('images/coworking/IMG_0707.png')}}" class="card-img-top" alt="...">
                    <p class="card-text_">Salles de réunion équipées.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
<section class="choisir-notre-espace">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="figure-espace">
                            <img class="rounded-lg-3" src="{{ asset('images/coworking/screen-logo.png') }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="text-espace">
                            <h2 class="display-5 fw-bold">Pourquoi choisir notre espace de coworking?</h2>
                            <p>Chez Olona Talents, nous avons conçu un espace de travail dynamique et accueillant qui s'adresse aussi bien aux indépendants qu'aux équipes de petites entreprises. Situé dans un cadre inspirant, notre coworking offre cinq places cloisonnées pour ceux qui recherchent intimité et concentration, ainsi que treize espaces ouverts parfaits pour stimuler la collaboration et l'interaction.</p>
                            <p>Vous bénéficiez d'un accès constant à des installations modernes et confortables. Notre processus de réservation est rapide et sécurisé, vous assurant une tranquillité d'esprit et une flexibilité optimale pour gérer votre emploi du temps. De plus, notre équipe de support dévouée est toujours prête à vous assister, garantissant que votre expérience de coworking soit aussi fluide et productive que possible. </p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                            <a href="{{path('app_coworking_main')}}#reservationForm" class="btn btn-primary px-5 me-md-2 fw-bold">Privatiser</a>
                            <a href="{{path('app_coworking_main')}}#available" class="btn btn-outline-secondary px-5">Réserver</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-25_">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="card d-flex justify-content-between">
                            <div class="card-head"><img src="{{ asset('images/coworking/icon-wifi-cow.webp') }}" alt="" width="56" height="56"></div>
                            <div class="card-middle">
                                <h3 class="h5 fw-bold card-title">Wi-Fi ultra-rapide</h3>
                                <p class="card-text">Connexion fibre optique sécurisée et stable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card d-flex justify-content-between">
                            <div class="card-head"><img src="{{ asset('images/coworking/icon-emplacement-cow.webp') }}" alt="" width="56" height="56"></div>
                            <div class="card-middle">
                                <h3 class="h5 fw-bold card-title">Emplacement central</h3>
                                <p class="card-text">Proche des transports en commun.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card d-flex justify-content-between">
                            <div class="card-head"><img src="{{ asset('images/coworking/icon-collaboration-cow.webp') }}" alt="" width="56" height="56"></div>
                            <div class="card-middle">
                                <h3 class="h5 fw-bold card-title">Ambiance collaborative</h3>
                                <p class="card-text">Événements networking réguliers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card d-flex justify-content-between">
                            <div class="card-head"><img src="{{ asset('images/coworking/icon-service-cow.webp') }}" alt="" width="56" height="56"></div>
                            <div class="card-middle">
                                <h3 class="h5 fw-bold card-title">Services inclus</h3>
                                <p class="card-text">Imprimante, café, coin détente.</p>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="reservation_espace">
    <div class="bg-imgCoworking" style="background-image:url({{ asset('v2/images/coworking2-olona-talents.webp')}})"></div>
    <div class="container" >
        <div class="row justify-content-end">
            <div class="col-lg-5">
                <h2 class="display-5 fw-bold mb-3">Demander une réservation</h2>
                <p class="lead mb-4">
                    Réservez votre espace de travail idéal dès maintenant en remplissant le formulaire ci-dessous. Que ce soit pour une journée ou une période plus longue, nous avons une solution adaptée à vos besoins.
                </p>
                <div id="reservationForm">
                    <!-- Form -->
                    {{ form_start(form) }}
                    <div class="row gx-3">
                        <div class="col-md-6">        
                        <!-- Full name -->
                        <div class="mb-3">
                            {{ form_widget(form.fullName, {'attr': {'placeholder': 'Nom complet'}}) }}
                        </div>
        
                        <!-- Phone number -->
                        <div class="mb-3">
                            {{ form_widget(form.phone, {'attr': {'placeholder': 'Téléphone'}}) }}
                        </div>
        
                        <!-- Email address -->
                        <div class="mb-3">
                            {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                        </div>
                        </div>
                        <div class="col-md-6">
                        <!-- Guests -->
                        <div class="mb-3">
                            {{ form_widget(form.guest, {'attr': {'placeholder': '2 personnes'}}) }}
                        </div>
        
                        <!-- Date -->
                        <div class="mb-3">
                            {{ form_widget(form.date.date, {'attr': {'placeholder': 'Date'}}) }}
                        </div>
        
                        <!-- Time -->
                        <div class="mb-3">
                            {{ form_widget(form.date.time, {'attr': {'placeholder': 'Time'}}) }}
                        </div>
                        </div>
                        <div class="col mx-auto text-center">
                        <div class="mb-3">
                            {{ form_row(form.private) }}
                        </div>
                        <!-- Button -->
                        <div class="d-grid gap-2 d-sm-flex mt-5">
                            <button type="submit" class="btn btn-primary">Contactez moi</button>
                        </div>
                        </div>
                    </div>
                    <div style="display: none;">
                        {{ form_widget(form) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="place_dispo"> 
    <div id="available"></div>
    <div class="container">
        <div class="d-lg-flex justify-content-between">
            <div class="title_item">
                <h2 class="display-5 fw-bold">Places disponibles</h2>
                <p>Découvrez l'innovation et la flexibilité au cœur de notre espace de coworking, où des postes de travail sont prêts à vous accueillir.</p>
            </div>
            <div class="time_right text-center">
                <span class="fw-bold small ms-auto">
                    Réservez par téléphone au <i class="bi bi-phone"></i>
                    <a href="tel:+261320373431">+261 32 03 734 31</a> <br>
                    ou réservez en ligne (*)
                </span>
                <div id="liveDateTime" data-initial-date="{{ 'now'|date('Y-m-d H:i:s') }}"></div>
            </div>
        </div>
        <hr/>
        <!-- Navigation -->
        <div class="nav justify-content-center mb-6" id="menuTabs" role="tablist">
            <a class="nav-link active" id="todayTab" data-bs-toggle="tab" href="#today" role="tab" aria-controls="today" aria-selected="true" tabindex="-1"> Aujourd'hui </a>
            <a class="nav-link" id="tomorrowTab" data-bs-toggle="tab" href="#tomorrow" role="tab" aria-controls="tomorrow" aria-selected="false" tabindex="-1"> Demain </a>
            <a class="nav-link" id="afterTomorrowTab" data-bs-toggle="tab" href="#afterTomorrow" role="tab" aria-controls="afterTomorrow" aria-selected="false" tabindex="-1"> Après-demain </a>
            <a class="nav-link" id="otherDateTab" data-bs-toggle="tab" href="#otherDate" role="tab" aria-controls="otherDate" aria-selected="false" tabindex="-1"> Autre jour </a>
        </div>
        <!-- Content -->
        <div class="tab-content" id="menuContent">
            <div class="tab-pane fade active show" id="today" role="tabpanel" aria-labelledby="mainsTab">
                <div class="bloc-tab_">
                    <h3 class="fw-bold text-center mb-4">{{ availableTodayNumber}} Places restantes aujourd'hui</h3>
                    <div class="list-group">
                        <div class="row">
                            {% for category in categories %}
                            <div class="col-lg-4 col-md-6">
                                <a data-bs-toggle="modal" data-bs-target="#{{category.slug}}-today" href="#" class="list-group-item list-group-item-action" aria-current="true">
                                    <span class="imgSpaceBlock">
                                        <img src="{{ asset('images/places/' ~ category.imageName) }}" alt="twbs" class="flex-shrink-0 img-fluid rounded col-12 col-sm-3">
                                    </span>
                                    <div class="d-flex flex-column w-100">
                                        <div>
                                            <h4 class="h3 mb-3">{{ category.name }}</h4>
                                            <p class="mb-0 opacity-75 text-truncate text-md-wrap">{{ category.description|raw }}</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="small text-nowrap">
                                                <span class="fw-bolder text-nowrap">
                                                {{  category.places|length - countAvailableByCategory(availableToday, category) }}
                                                </span> 
                                                disponibles sur 
                                                <span class="fw-bolder text-nowrap">
                                                {{ category.places|length }} 
                                                </span>
                                            </div>
                                            <button class="btn btn-primary mt-3">Voir</button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% for item, placesCategory in placesCategories %}
                    <div class="modal fade" id="{{item}}-today" tabindex="-1" aria-labelledby="{{item}}-todayLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h3">{{ getCategoryBySlug(item).name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                    {% for event in placesCategory %}
                                        {% if isInArray(event, availableToday) %}
                                        <div class="col-lg-3 col-md-4">
                                            <!-- Description et Prix -->
                                            <div class="box-reservation">
                                                <!-- Description -->
                                                <div>
                                                    <h5 class="mb-2">{{ event.name }}</h5>
                                                    <p class="mb-2">{{ event.description|raw }}</p>
                                                </div>
                                                
                                                <!-- Prix -->
                                                <div class="mt-3">
                                                    <div class="fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                                    <button type="button" class="btn btn-dark btn-sm px-4 mt-3" disabled>Non disponible</button>
                                                </div>
                                            </div>
                                            {#<div class="py-3 border-bottom">
                                                <div class="row">
                                                    <!-- Image -->
                                                    <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                                        <div class="ratio ratio-1x1">
                                                            <img class="object-fit-cover blurry-image" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="..." style="width: 100%;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>#}
                                        </div>
                                        {% else %}
                                        <div class="col-lg-3 col-md-4">
                                            <!-- Description et Prix -->
                                            <div class="box-reservation">
                                                <!-- Description -->
                                                <div>
                                                    <h5 class="mb-2">{{ event.name }}</h5>
                                                    <p class="mb-2">{{ event.description|raw }}</p>
                                                </div>
                                                
                                                <!-- Prix -->
                                                <div class="mt-3">
                                                    <div class="fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                                    <a href="{{ path('app_event_new', {'placeId': event.id, 'date':'today'}) }}" class="btn btn-primary btn-sm px-4 mt-3">Réserver</a>
                                                </div>
                                            </div>
                                            {#<div class="py-3 border-bottom">
                                                <div class="row">
                                                    <!-- Image -->
                                                    <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                                        <div class="ratio ratio-1x1">
                                                            <img class="object-fit-cover" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="...">
                                                        </div>
                                                    </div>
                                                </div>                                  
                                            </div>#}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    {% if availableToday|length >0 %}
                    <h2 class="h4 text-center my-5 ">Places occupées aujourd'hui</h2>
                    <div class="col-12 col-sm-8 mx-auto">
                        <ul class="list-group">
                            {% for event in availableToday %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>
                                        <span class="fw-bold">Place {{ event.placeId }}</span>
                                        <span class="text-success mx-2">
                                            {{ getCategoryPlace(event.placeId) }}
                                        </span>
                                        - Réservée
                                    </span>
                                    {% if event.duration == 'demi_journee' %}
                                        <span class="badge bg-success rounded-pill">
                                            Demi-journée
                                        {% else %}
                                        <span class="badge bg-primary rounded-pill">
                                            Journée
                                        {% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="tomorrow" role="tabpanel" aria-labelledby="lunchTab">
                <div class="bloc-tab_">
                    <h3 class="fw-bold text-center mb-4">{{ availableTomorrowNumber}} Places restantes demain</h3>
                    <div class="list-group">
                        <div class="row">
                            {% for category in categories %}
                            <div class="col-lg-4 col-md-6">
                                <a data-bs-toggle="modal" data-bs-target="#{{category.slug}}-tomorrow" href="#" class="list-group-item list-group-item-action" aria-current="true">
                                    <span class="imgSpaceBlock">
                                        <img src="{{ asset('images/places/' ~ category.imageName) }}" alt="twbs" width="200" class="flex-shrink-0 img-fluid rounded col-12 col-sm-3">
                                    </span>
                                    <div class="d-flex flex-column w-100">
                                        <div>
                                            <h4 class="h3 mb-3">{{ category.name }}</h4>
                                            <p class="mb-0 opacity-75 text-truncate text-md-wrap">{{ category.description|raw }}</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="small text-nowrap">
                                                <span class="fw-bolder text-nowrap">
                                                {{  category.places|length - countAvailableByCategory(availableTomorrow, category) }}
                                                </span> 
                                                disponibles sur 
                                                <span class="fw-bolder text-nowrap">
                                                {{ category.places|length }} 
                                                </span>
                                            </div>
                                            <button class="btn btn-sm px-5 btn-primary mt-3">Voir</button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% for item, placesCategory in placesCategories %}
                    <div class="modal fade" id="{{item}}-tomorrow" tabindex="-1" aria-labelledby="{{item}}-tomorrowLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h3">{{ getCategoryBySlug(item).name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                    {% for event in placesCategory %}
                                        {% if isInArray(event, availableTomorrow) %}
                                            <div class="col-lg-3 col-md-4">
                                                <!-- Description et Prix -->
                                                <div class="box-reservation">
                                                    <!-- Description -->
                                                    <div>
                                                        <h5 class="mb-2">{{ event.name }}</h5>
                                                        <p class="mb-2">{{ event.description|raw }}</p>
                                                        <button type="button" class="btn btn-dark btn-sm px-4 mt-3" disabled>Non disponible</button>
                                                    </div>
                                                    
                                                    <!-- Prix -->
                                                    <div class="mt-3">
                                                        <div class="fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                                    </div>
                                                </div>
                                                {#<div class="py-3 border-bottom">
                                                    <div class="row">
                                                    <!-- Image -->
                                                    <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                                        <div class="ratio ratio-1x1">
                                                        <img class="object-fit-cover blurry-image" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="..." style="width: 100%;">
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>#}
                                            </div>
                                        {% else %}
                                            <div class="col-lg-3 col-md-4">
                                                <!-- Description et Prix -->
                                                <div class="box-reservation">
                                                    <!-- Description -->
                                                    <div>
                                                        <h5 class="mb-2">{{ event.name }}</h5>
                                                        <p class="mb-2">{{ event.description|raw }}</p>
                                                        <a href="{{ path('app_event_new', {'placeId': event.id, 'date':'today'}) }}" class="btn btn-primary btn-sm px-4 mt-3">Réserver</a>
                                                    </div>
                                                    
                                                    <!-- Prix -->
                                                    <div class="mt-3">
                                                        <div class="fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                                    </div>
                                                </div>
                                                {#<div class="py-3 border-bottom">
                                                    <div class="row">
                                                        <!-- Image -->
                                                        <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                                        <div class="ratio ratio-1x1">
                                                            <img class="object-fit-cover" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="...">
                                                        </div>
                                                        </div>
                                                    </div>                                  
                                                </div>#}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    {% if availableTomorrow|length >0 %}
                    <h2 class="h4 text-center my-5 ">Places reservées demain</h2>
                    <div class="col-12 col-sm-8 mx-auto">
                        <ul class="list-group">
                            {% for event in availableTomorrow %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>
                                        <span class="fw-bold">Place {{ event.placeId }}</span>
                                        <span class="text-success mx-2">
                                            {{ getCategoryPlace(event.placeId) }}
                                        </span>
                                        - Réservée
                                    </span>
                                    {% if event.duration == 'demi_journee' %}
                                        <span class="badge bg-success rounded-pill">
                                            Demi-journée
                                        {% else %}
                                        <span class="badge bg-primary rounded-pill">
                                            Journée
                                        {% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="afterTomorrow" role="tabpanel" aria-labelledby="dinnerTab">
                <div class="bloc-tab_">
                    <h3 class="fw-bold text-center mb-4">{{ availableDayAfterTomorrowNumber }} Places restantes après demain</h3>
                    <div class="list-group">
                        <div class="row">
                            {% for category in categories %}
                            <div class="col-lg-4 col-md-6">
                            <a data-bs-toggle="modal" data-bs-target="#{{category.slug}}-afterTomorrow" href="#" class="list-group-item list-group-item-action" aria-current="true">
                                <span class="imgSpaceBlock">
                                    <img src="{{ asset('images/places/' ~ category.imageName) }}" alt="twbs" width="200" class="flex-shrink-0 img-fluid rounded col-12 col-sm-3">
                                </span>
                                <div class="d-flex flex-column w-100">
                                    <div>
                                        <h4 class="h3 mb-3">{{ category.name }}</h4>
                                        <p class="mb-0 opacity-75 text-truncate text-md-wrap">{{ category.description|raw }}</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="small text-nowrap">
                                            <span class="fw-bolder text-nowrap">
                                            {{  category.places|length - countAvailableByCategory(availableDayAfterTomorrow, category) }}
                                            </span> 
                                            disponibles sur 
                                            <span class="fw-bolder text-nowrap">
                                            {{ category.places|length }} 
                                            </span>
                                        </div>
                                        <button class="btn btn-sm px-5 btn-primary mt-3">Voir</button>
                                    </div>
                                </div>
                            </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% for item, placesCategory in placesCategories %}
                    <div class="modal fade" id="{{item}}-afterTomorrow" tabindex="-1" aria-labelledby="{{item}}-afterTomorrowLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h3">{{ getCategoryBySlug(item).name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                    {% for event in placesCategory %}
                                    {% if isInArray(event, availableDayAfterTomorrow) %}
                                        <div class="col-lg-3 col-md-4">
                                            <!-- Description et Prix -->
                                            <div class="box-reservation">
                                                <!-- Description -->
                                                <div>
                                                    <h5 class="mb-2">{{ event.name }}</h5>
                                                    <p class="mb-2">{{ event.description|raw }}</p>
                                                    <button type="button" class="btn btn-dark btn-sm px-4 mt-3" disabled>Non disponible</button>
                                                </div>
                                                
                                                <!-- Prix -->
                                                <div class="mt-3">
                                                    <div class="fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                                </div>
                                            </div>
                                            {#<div class="py-3 border-bottom">
                                                <div class="row">
                                                <!-- Image -->
                                                <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                                    <div class="ratio ratio-1x1">
                                                    <img class="object-fit-cover blurry-image" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="..." style="width: 100%;">
                                                    </div>
                                                </div>
                                                </div>
                                            </div>#}
                                        </div>
                                    {% else %}
                                    <div class="col-lg-3 col-md-4">
                                        <!-- Description et Prix -->
                                        <div class="box-reservation">
                                        <!-- Description -->
                                            <div>
                                                <h5 class="mb-2">{{ event.name }}</h5>
                                                <p class="mb-2">{{ event.description|raw }}</p>
                                                <a href="{{ path('app_event_new', {'placeId': event.id, 'date':'today'}) }}" class="btn btn-primary btn-sm px-4 mt-3">Réserver</a>
                                            </div>
                                            
                                            <!-- Prix -->
                                            <div class="mt-3">
                                                <div class="fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                            </div>
                                        </div>
                                        {#<div class="py-3 border-bottom">
                                            <div class="row">
                                                <!-- Image -->
                                                <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                                    <div class="ratio ratio-1x1">
                                                        <img class="object-fit-cover" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="...">
                                                    </div>
                                                </div>
                                            </div>                                  
                                        </div>#}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    {% if availableDayAfterTomorrow|length >0 %}
                    <h2 class="h4 text-center my-5 ">Places reservées après-demain</h2>
                    <div class="col-12 col-sm-8 mx-auto">
                        <ul class="list-group">
                            {% for event in availableDayAfterTomorrow %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>
                                        <span class="fw-bold">Place {{ event.placeId }}</span>
                                        <span class="text-success mx-2">
                                            {{ getCategoryPlace(event.placeId) }}
                                        </span>
                                        - Réservée
                                    </span>
                                    {% if event.duration == 'demi_journee' %}
                                        <span class="badge bg-success rounded-pill">
                                            Demi-journée
                                        {% else %}
                                        <span class="badge bg-primary rounded-pill">
                                            Journée
                                        {% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="otherDate" role="tabpanel" aria-labelledby="drinksTab">
                <div class="bloc-tab_">
                    <div class="row">
                        <div class="mb-3 col-12 col-sm-6 mx-auto">
                            <h3 class="fw-bold text-center mb-4">Séléctionnez une date</h3>
                            <input type="date" id="reservation_form_other_date" placeholder="Date" class="form-control" value="{{ date }}">
                        </div>
                        <div id="reservationsContainer" class="mt-4 row">
                            <!-- Les résultats AJAX s'afficheront ici -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerBlock mt-4 text-center">
            <span class="fw-light">(*) Nous allons vous contacter pour valider votre réservation</span>
        </div>
    </div>
</section>
<div id="JeReserve" class="section-offre-coworking">      
    <div class="container">
        <div class="section-head left">
            <div class="ot-text-primary">
                <div> Espace Coworking</div>                                
            </div>
            <h2 class="display-6 fw-bold title">Nos offres</h2>
        </div>               
        <div class="section-content">
            <div class="pricing-block-outer">
                <div class="row justify-lg-content-center">
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="pricing-table-1">
                            <div class="p-table-title">
                                <h4 class="title">
                                    Privatisation de l’espace
                                </h4>
                            </div>
                            <div class="p-table-inner">
                                <div class="p-table-price p-table-prvatisation">
                                    <b>A partir de</b>
                                    <span>187 500 Ar/</span>
                                    <p>jour</p>
                                </div>
                                <div class="p-table-list">
                                    <ul class="liste_prix">
                                        <li><span>Demi-journée (Lundi au Vendredi) :</span> 187 500 Ar/jour</li>
                                        <li><span>Journée complète (Lundi au Vendredi) :</span> 375 000 Ar/jour</li>
                                        <li><span>Demi-journée (Samedi) :</span> 375 000 Ar</li>
                                        <li><span>Journée complète (Samedi) :</span> 625 000 Ar</li>
                                    </ul>
                                    <ul>
                                        <li><i class="bi bi-check"></i>WiFi ultra-rapide Starlink</li>
                                        <li><i class="bi bi-check"></i>accès à l’espace coworking</li>
                                        <li><i class="bi bi-check"></i>plateforme numérique Olona Talents (moteur de recherche)</li>
                                        <li><i class="bi bi-check"></i>écran SMART pour présentations.</li>
                                    </ul>
                                </div>
                                <div class="p-table-btn">
                                    <a href="{{path('app_coworking_main')}}#reservationForm" class="btn btn-primary">Je choisis</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 p-table-highlight m-b30">
                        <div class="pricing-table-1 circle-pink">
                            <div class="p-table-recommended">Recommandé</div>
                            <div class="p-table-title">
                                <h4 class="title">
                                    Abonnement VIP Coworking
                                </h4>
                            </div>
                            <div class="p-table-inner">
                                
                                <div class="p-table-price">
                                    <span>195 000 Ar /</span>
                                    <p>Mois</p>
                                </div>
                                <div class="p-table-list">
                                    <ul class="m-35">
                                        <li><i class="bi bi-check"></i>Accès illimité à l’espace coworking</li>
                                        <li><i class="bi bi-check"></i>600 crédits offerts pour les services d’Olona Talents</li>
                                        <li><i class="bi bi-check"></i>Connexion Starlink et groupe électrogène</li>
                                        <li><i class="bi bi-check"></i>-25% sur les services de portage salarial et domiciliation</li>
                                        <li><i class="bi bi-check"></i>-50% pour les accompagnants</li>
                                        <li><i class="bi bi-check"></i>Offre limitée aux 30 premiers inscrits</li>
                                    </ul>
                                </div>
                                <div class="p-table-btn">
                                    <a href="{{ path('app_main_vip_contract') }}" class="btn btn-primary">Je choisis</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 m-b30">
                        <div class="pricing-table-1 circle-yellow">
                            <div class="p-table-title">
                                <h4 class="title">
                                    Pack Flexi
                                </h4>
                            </div>
                            <div class="p-table-inner">
                                <div class="p-table-price">
                                    <span>100 000 Ar/</span>
                                    <p>jour</p>
                                    <b>10 journées complètes (sans engagement)</b>
                                </div>
                                <div class="p-table-list">
                                    <ul class="m-35">
                                        <li><i class="bi bi-check"></i>Flexibilité selon l’emploi du temps</li>
                                        <li><i class="bi bi-check"></i>Connexion Starlink ultra-rapide</li>
                                        <li><i class="bi bi-check"></i>Service de Domiciliation</li>
                                        <li><i class="bi bi-check"></i>Idéal pour les entrepreneurs et entreprises souhaitant une adresse commerciale officielle.</li>
                                    </ul>
                                </div>
                                <div class="p-table-btn">
                                    <a href="{{ path('app_main_flexi_contract') }}" class="btn btn-primary">Je choisis</a>
                                </div>
                            </div>
                        </div>
                    </div>                                

                </div>
            </div>  
        </div>            
    </div>
</div>
<section id="coworkingP" class="vister_notre_espace">
    <div class="container">
        <h2 class="display-6 fw-bold text-center">Visitez, testez, adoptez !</h2>
        <div class="block_contactForm">
            <div class="row align-items-center">
                <div class="col-12 col-sm-6">
                <img src="{{ asset('images/coworking/map_olona-talents_compressed.png')}}" alt="map" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6">
                    <div class="block_contact_">
                        <p class="lead"><i class="bi bi-phone"></i> <a href="tel:+261320373431">+261 32 03 734 31</a></p>
                        <p class="lead"><i class="bi bi-geo-alt"></i> Ambatonakanga, Antananarivo</p>
                        <div id="contactForm">
                            <h3 class="h4 mb-4 fw-bold">Contact rapide</h3>
                            {{ form_start(contactForm)}}
                            <div class="mb-3">
                            {{ form_widget(contactForm.titre, {'attr': {'placeholder': 'Nom complet'}}) }}
                            </div>
                            <div class="mb-3">
                            {{ form_widget(contactForm.email, {'attr': {'placeholder': 'Email'}}) }}
                            </div>
                            <div class="mb-3">
                            {{ form_widget(contactForm.numero, {'attr': {'placeholder': 'Téléphone'}}) }}
                            </div>
                            <div class="mb-3">
                            {{ form_widget(contactForm.message, {'attr': {'placeholder': 'Votre message'}}) }}
                            </div>
                            <div class="col text-center">
                                <!-- Button -->
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                                </div>
                            </div>
                            <div style="display: none;">
                            {{ form_widget(contactForm) }}
                            </div>
                            {{ form_end(contactForm)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<script>

  document.addEventListener('DOMContentLoaded', function () {
    const dateInput = document.getElementById('reservation_form_other_date');

    if (dateInput) {
        dateInput.addEventListener('change', function () {
            const selectedDate = this.value;            
            const fetchUrl = "{{ path('app_reservations') }}?date=" + selectedDate; // URL générée dynamiquement

            fetch(fetchUrl, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest' // Indique une requête AJAX
                }
            })
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('reservationsContainer');
                if (container) {
                    container.innerHTML = data.html;
                }
            })
            .catch(error => console.error('Error fetching reservations:', error));
        });
    }
});

  document.addEventListener("turbo:load", function () {
    const dateTimeElement = document.getElementById('liveDateTime');

    if (dateTimeElement) {
        const initialDate = dateTimeElement.getAttribute('data-initial-date');
        let currentDate = new Date(initialDate);
    
        function updateDateTime() {
            currentDate.setSeconds(currentDate.getSeconds() + 1);
            const formattedDateTime = `Antananarivo, ${currentDate.toLocaleDateString('fr-FR', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            })} ${currentDate.toLocaleTimeString('fr-FR', {
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit'
            })}`;
            dateTimeElement.textContent = formattedDateTime;
        }
    
        updateDateTime(); // Initial update
        setInterval(updateDateTime, 1000); // Update every second
    }
});

</script>
{% endblock %}
