{% extends 'base_coworking.html.twig' %}

{% block title %}Contrat Membre VIP - Olona Talents{% endblock %}

{% block meta %}
<meta name="description" content="Découvrez la liberté et la flexibilité du Pack Flexi chez Olona Talents : accès modulable, services adaptés et gestion simplifiée de votre activité.">
<meta name="keywords" content="Pack Flexi, Olona Talents, Flexibilité, Coworking, Services modulables, Madagascar">
<meta property="og:title" content="Pack Flexi - Olona Talents">
<meta property="og:description" content="Adoptez le Pack Flexi d'Olona Talents et profitez d’une solution flexible pour optimiser votre activité. Inscrivez-vous dès maintenant !">
<meta property="og:url" content="{{ app.request.uri }}">
<meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ asset('/images/opengraph/flexi.png') }}">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
{% endblock %}

{% block paralax %}
<div class="paralax product-design">
    {% include "coworking/_nav.html.twig" %}
    <div class="main-content-min">
      <div class="container">
        <!-- Content Section -->
        <div class="row">
          <div class="col-12 col-sm-8 mx-auto text-center">
            <h1 class="display-4 fw-bolder">Pack FLEXI <br>Olona Talents</h1>
          </div>
        </div>
        <!-- Social Links and Address Section in Line -->
        <div class="row">
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <!-- Social links -->
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="text-white text-opacity-75 text-primary-hover" target="_blank" href="https://www.linkedin.com/company/emploi-madagascar/posts?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BiwUwllhjTX2REM32%2BAYkfQ%3D%3D">
                  <i class="bi bi-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item ms-3">
                <a class="text-white text-opacity-75 text-primary-hover" target="_blank" href="https://www.facebook.com/olonatalents">
                  <i class="bi bi-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 small">
            <!-- Address -->
            <p class="font-serif text-white text-opacity-75 text-md-end">
              <i class="bi bi-geo-alt-fill"></i> Ambatonakanga, Antananarivo, Madagascar
            <br>
              <i class="bi bi-clock-history"></i>
              Lundi au Vendredi de 8h à 18h
            <br>
              Week-end - Privatisation uniquement
              <br>
              <i class="bi bi-phone"></i><a class="text-white" href="tel:+261320373432">+261 32 03 734 32</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block admin %}{% endblock %}

{% block body %}
<section class="p-0 m-0">
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="row mb-5">
                <section class="py-5">
                    <div class="container">
                        
                        <div class="row align-items-center mb-5">
                            <div class="col-md-6 text-center">
                                <img src="{{ asset('images/coworking/pack-flexi.png') }}" alt="Service VIP Olona Talents" class="img-fluid rounded">
                            </div>
                            <div class="col-md-6">
                                <h2 class="display-6 fw-bold">Pourquoi choisir notre Pack Flexi Olona Talents ?</h2>
                                <p class="lead">En souscrivant au <b>Pack Flexi Olona Talents</b>, vous accédez à une flexibilité totale pour gérer votre activité en toute liberté. Profitez d’un cadre de travail adapté à vos besoins, avec des services sur mesure pour optimiser votre organisation et maximiser vos opportunités professionnelles. 🚀</p>
                            </div>
                        </div>
                
                        <hr>
                
                        <h3 class="mt-5 mb-3 display-6 fw-bold">Avantages exclusifs</h3>
                        <ul class="list-group list-group-flush mb-5">
                            <li class="list-group-item"><i class="bi bi-check h5 text-danger me-2"></i> 10 accès journée complète (du lundi au vendredi, de 8h à 18h).</li>
                            <li class="list-group-item"><i class="bi bi-check h5 text-danger me-2"></i> Flexibilité élargie dans les heures d'accès.</li>
                            <li class="list-group-item"><i class="bi bi-check h5 text-danger me-2"></i> Connexion haut débit Starlink pour une productivité optimale.</li>
                            <li class="list-group-item"><i class="bi bi-check h5 text-danger me-2"></i> Contingence assurée avec des groupes électrogènes.</li>
                            <li class="list-group-item"><i class="bi bi-check h5 text-danger me-2"></i> Promotion facultative dans le post "Coworker du jour" sur Facebook.</li>
                            <li class="list-group-item"><i class="bi bi-check h5 text-danger me-2"></i> Réduction de 25 % sur nos services complementaires.</li>
                            <li class="list-group-item"><i class="bi bi-check h5 text-danger me-2"></i> Remise de 50 % pour vos accompagnants.</li>
                        </ul>
                
                        <div class="row">
                            <div class="col-md-8 mb-4">
                                <h4 class="display-6 fw-bold">Des conditions de réservation flexibles</h4>
                                <p class="lead">Réservez facilement votre espace de travail à l'avance grâce à notre moteur de réservation en ligne, ou directement via Messenger, WhatsApp, ou par téléphone.</p>
                            </div>
                            <div class="col-md-4 text-center align-self-center">
                                <a href="{{ path('app_v2_contact') }}" class="btn rounded-pill px-5 btn-primary btn-lg">En savoir plus</a>
                            </div>
                        </div>
                
                        <p class="mt-5"><small>Le Contrat Membre VIP Olona Talents est régie par les lois de Madagascar. Les tarifs sont garantis pour une durée d’un an avec une possibilité de révision à partir du 1er janvier 2026. Souscrivez aujourd'hui pour accéder à un monde d'optimisation et de qualité de service.</small></p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</section>
<section class="container-fluid py-5">

  <div class="bg-dark text-secondary px-4 py-5 text-center" data-bs-theme="dark">
      <div class="py-5">
        <h2 class="display-5 fw-bold text-white mb-3">Souscrire au Pack FLEXI</h2>
        <div class="col-lg-6 mx-auto">
          <p class="text-center lead mb-4 text-white">
            Transformez votre expérience de travail avec notre offre VIP exclusive. Remplissez le formulaire ci-dessous pour réserver votre espace et bénéficiez d'un accès prioritaire à nos installations de premier ordre. Que ce soit pour un passage rapide ou une quête de productivité prolongée, notre service VIP répond à toutes vos attentes.
          </p>
          <div class="row justify-content-lg-center">
            <div class="col-12 col-sm-10" id="contractForm">
              <!-- Form -->
              {{ form_start(form) }}
                <div class="row gx-3">
                  <div class="col-md-6">        
                    <!-- Full name -->
                    <div class="mb-3 h6 text-white mt-2 text-end" id="person-type">
                      Je suis une
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- Guests -->
                    <div class="mb-3">
                      {{ form_widget(form.typePerson, {'attr': {'placeholder': 'Prénom(s)'}}) }}
                    </div>  
                  </div>
                </div>
                <div class="row gx-3">
                  <div class="col-md-6">        
                    <!-- Full name -->
                    <div class="mb-3">
                      {{ form_widget(form.socialReason, {'attr': {'placeholder': 'Raison sociale'}}) }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- Guests -->
                    <div class="mb-3">
                      {{ form_widget(form.siret, {'attr': {'placeholder': 'Numéro de SIRET'}}) }}
                    </div>  
                  </div>
                </div>
                <div class="row gx-3">
                  <div class="col-md-6">        
                    <!-- Full name -->
                    <div class="mb-3">
                      {{ form_widget(form.firstName, {'attr': {'placeholder': 'Nom'}}) }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <!-- Guests -->
                    <div class="mb-3">
                      {{ form_widget(form.lastName, {'attr': {'placeholder': 'Prénom(s)'}}) }}
                    </div>  
                  </div>
                </div>
                <div class="row gx-3">
                  <div class="col-md-6">   
                    <div class="mb-3">
                      {{ form_widget(form.telephone, {'attr': {'placeholder': 'Téléphone'}}) }}
                    </div>
                  </div>
                  <div class="col-md-6">
  
                    <!-- Date -->
                    <div class="mb-3">
                      {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                    </div>
                  </div>
                </div>
                <div class="row gx-3">
                  <div class="col-md-6">   
                    <!-- Email address -->
                    <div class="mb-3">
                      {{ form_widget(form.adress, {'attr': {'placeholder': 'Adresse'}}) }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      {{ form_widget(form.postalCode, {'attr': {'placeholder': 'Code postale'}}) }}
                    </div>
                  </div>
                </div>
                <div class="row gx-3">
                  <div class="col-md-6">   
                    <!-- Email address -->
                    <div class="mb-3">
                      {{ form_widget(form.city, {'attr': {'placeholder': 'Ville'}}) }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      {{ form_widget(form.localisation, {'attr': {'placeholder': 'Pays'}}) }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="mb-3 col-md-8 mx-auto">
                      <div class="row d-flex align-items-center gap-2">
                          <div class="col-auto">
                              {{ form_widget(form.acceptTerms) }}
                          </div>
                          <div class="col-auto">
                              <label class="form-check-label required" for="contract_acceptTerms">
                                  J'accepte les <a class="text-warning fw-bolder" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">conditions d'utilisation</a>
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
              
                <div class="row">

                  <div class="col mx-auto text-center">
                    <!-- Button -->
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <button type="submit" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Je prends le pack FLEXI</button>
                    </div>
                  </div>
                </div>
                <div style="display: none;">
                  {{ form_widget(form) }}
                </div>
                {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Conditions d'utilisation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-4">
          <h2 class="h4">1. Préambule</h2>
          <p>
              Les présentes conditions d'utilisation régissent les modalités et conditions applicables au Contrat Membre VIP Olona Talents, proposé par la société Olona Talents (ci-après dénommée "la Société"). En souscrivant à ce contrat, le client (ci-après dénommé "le Client") accepte les présentes conditions dans leur intégralité.
          </p>
        </div>

        <!-- Section 2: Objet du contrat -->
        <div class="mb-4">
          <h2 class="h4">2. Objet du contrat</h2>
          <p>
              Le Contrat Membre VIP Olona Talents offre des services exclusifs d'accès et d'utilisation des espaces de coworking, des outils numériques et des avantages personnalisés, tels que définis dans les sections suivantes.
          </p>
        </div>

        <!-- Section 3: Services inclus -->
        <div class="mb-4">
          <h2 class="h4">3. Services inclus</h2>
          <ul>
              <li>Réservations illimitées et prioritaires pour l'accès aux espaces de coworking (du lundi au vendredi, de 8h à 18h).</li>
              <li>Connexion haut débit via Starlink et service continu grâce aux groupes électrogènes.</li>
              <li>Publication facultative d’un post "Coworker du jour" sur notre page Facebook.</li>
              <li>Remises avantageuses : 25 % sur les autres services Olona Talents et 50 % pour les accompagnants.</li>
          </ul>
        </div>

        <!-- Section 4: Modalités de réservation -->
        <div class="mb-4">
          <h2 class="h4">4. Modalités de réservation</h2>
          <p>
              Les réservations doivent être effectuées à l'avance via l'un des canaux suivants :
          </p>
          <ul>
              <li>Moteur de réservation en ligne</li>
              <li>Messenger</li>
              <li>WhatsApp</li>
              <li>Téléphone</li>
          </ul>
          <p>
              En cas de privatisation ou d'indisponibilité des espaces, la Société se réserve le droit de refuser certaines réservations.
          </p>
        </div>

        <!-- Section 5: Engagement et renouvellement -->
        <div class="mb-4">
          <h2 class="h4">5. Engagement et renouvellement</h2>
          <p>
              Le contrat est conclu pour une durée mensuelle, renouvelable tacitement à chaque date d’anniversaire.
          </p>
          <p>
              Le Client peut résilier à tout moment, avec un préavis minimum de <strong>3 jours avant la date d'anniversaire mensuelle.</strong>
          </p>
        </div>

        <!-- Section 6: Conditions de paiement -->
        <div class="mb-4">
          <h2 class="h4">6. Conditions de paiement</h2>
          <p>
              <strong>Premier paiement :</strong> à la signature du contrat.<br>
              <strong>Paiements récurrents :</strong> à la date d’anniversaire mensuelle.
          </p>
          <p>
              <strong>Modes de paiement acceptés :</strong>
          </p>
          <ul>
              <li>Virement bancaire</li>
              <li>Mobile Money</li>
              <li>Espèces (au bureau)</li>
          </ul>
          <p>
              <strong>Retards de paiement :</strong>
          </p>
          <ul>
              <li>Un retard supérieur à <strong>7 jours</strong> entraîne la suspension des avantages contractuels et l'annulation de l'engagement tarifaire.</li>
              <li>Facturation basée sur les journées/demi-journées consommées, avec une majoration de <strong>10 %</strong> tous les 7 jours de retard.</li>
              <li>Procédure judiciaire en cas de non-paiement au-delà de 3 relances.</li>
          </ul>
        </div>

        <!-- Section 7: Engagement de la Société -->
        <div class="mb-4">
          <h2 class="h4">7. Engagement de la Société</h2>
          <p>
              La Société garantit les tarifs pour une période d’un an. Toute révision de l’offre ou des tarifs prendra effet à partir du <strong>1er janvier 2026</strong> et sera communiquée au Client avec un préavis de 30 jours.
          </p>
          </div>

          <!-- Section 8: Responsabilités et obligations -->
          <div class="mb-4">
          <h2 class="h4">8. Responsabilités et obligations</h2>
          <p>
              Le Client s'engage à respecter les conditions d'utilisation des espaces, notamment :
          </p>
          <ul>
              <li>Prévenir à l'avance de sa présence et de ses horaires.</li>
              <li>Utiliser les équipements et installations de manière responsable.</li>
          </ul>
          <p>
              La Société décline toute responsabilité en cas de dommages causés par une mauvaise utilisation des installations ou des services.
          </p>
        </div>

        <!-- Section 9: Législation applicable -->
        <div class="mb-4">
          <h2 class="h4">9. Législation applicable</h2>
          <p>
              Le contrat est régi et interprété conformément aux lois en vigueur à Madagascar. En cas de litige, les parties s’efforceront de trouver une solution à l’amiable. À défaut, le différend sera soumis à la juridiction compétente.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
