{% extends 'base_coworking.html.twig' %}

{% block title %}Réservez votre espace de coworking {% endblock %}

{% block paralax %}
{% include "coworking/event/_paralax.html.twig" with {'title': 'Places disponibles'} %}
{% endblock %}

{% block admin %}{% endblock %}

{% block body %}

<section class="container-fluid py-5"> 
    <div class="container" >
        <div class="row g-5">
          <div class="col-md-8">
            <h2 class="display-5 fw-bold lh-1 text-body-emphasis text-center"></h2>
            
            <div id="liveDateTime" class="display-6 text-primary text-center" data-initial-date="{{ 'now'|date('Y-m-d H:i:s') }}"></div>
            <div class="row">
              <div class="col mb-5">
                <!-- Navigation -->
                <div class="nav justify-content-center mb-6" id="menuTabs" role="tablist">
                  <a class="nav-link active" id="todayTab" data-bs-toggle="tab" href="#today" role="tab" aria-controls="today" aria-selected="true" tabindex="-1"> Aujourd'hui </a>
                  <a class="nav-link" id="tomorrowTab" data-bs-toggle="tab" href="#tomorrow" role="tab" aria-controls="tomorrow" aria-selected="false" tabindex="-1"> Demain </a>
                  <a class="nav-link" id="afterTomorrowTab" data-bs-toggle="tab" href="#afterTomorrow" role="tab" aria-controls="afterTomorrow" aria-selected="false" tabindex="-1"> Après-demain </a>
                  <a class="nav-link" id="otherDateTab" data-bs-toggle="tab" href="#otherDate" role="tab" aria-controls="otherDate" aria-selected="false" tabindex="-1"> Autre jour </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <!-- Content -->
                <div class="tab-content" id="menuContent">
                  <div class="tab-pane fade active show" id="today" role="tabpanel" aria-labelledby="mainsTab">
                    <div class="row">
                      <h3 class="display-6 fw-bold text-center mb-4">{{ availableTodayNumber}} Places restantes aujourd'hui</h3>
                      <div class="list-group">
                      {% for category in categories %}
                        <a data-bs-toggle="modal" data-bs-target="#{{category.slug}}-today" href="#" class="list-group-item list-group-item-action d-flex flex-column flex-md-row gap-3 py-3" aria-current="true">
                          <img src="{{ asset('images/places/' ~ category.imageName) }}" alt="twbs" class="flex-shrink-0 img-fluid rounded col-12 col-sm-4">
                          <div class="d-flex flex-column w-100">
                            <div>
                              <h4 class="h3 mb-3">{{ category.name }}</h4>
                              <p class="mb-0 opacity-75 text-truncate text-md-wrap">{{ category.description|raw }}</p>
                            </div>
                            <div class="small text-nowrap">
                              <span class="fw-bolder text-nowrap">
                                {{  category.places|length - countAvailableByCategory(availableToday, category) }}
                              </span> 
                              disponibles sur 
                              <span class="fw-bolder text-nowrap">
                                {{ category.places|length }} 
                              </span>
                              <br>
                              <button class="btn btn-sm rounded-pill px-5 btn-primary mt-3">Voir</button>
                            </div>
                          </div>
                        </a>
                      {% endfor %}
                      </div>
                      {% for item, placesCategory in placesCategories %}
                      <div class="modal fade" id="{{item}}-today" tabindex="-1" aria-labelledby="{{item}}-todayLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title h3">{{ getCategoryBySlug(item).name }}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              {% for event in placesCategory %}
                                {% if isInArray(event, availableToday) %}
                                  <div class="col">
                                    <div class="py-3 border-bottom">
                                      <div class="row">
                                        <!-- Image -->
                                        <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                          <div class="ratio ratio-1x1">
                                            <img class="object-fit-cover blurry-image" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="..." style="width: 100%;">
                                          </div>
                                        </div>
                                    
                                        <!-- Description et Prix -->
                                        <div class="col-6 col-sm-9 order-3 order-sm-2 d-flex flex-column justify-content-between mt-3 mt-sm-0">
                                          <!-- Description -->
                                          <div>
                                            <h5 class="mb-2">{{ event.name }}</h5>
                                            <p class="mb-2">{{ event.description|raw }}</p>
                                            <button type="button" class="btn btn-dark btn-sm rounded-pill px-4 mt-3" disabled>Non disponible</button>
                                          </div>
                                          
                                          <!-- Prix -->
                                          <div class="mt-3">
                                            <div class="fs-4 fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% else %}
                                <div class="col">
                                  <div class="py-3 border-bottom">
                                    <div class="row">
                                      <!-- Image -->
                                      <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                        <div class="ratio ratio-1x1">
                                          <img class="object-fit-cover" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="...">
                                        </div>
                                      </div>
                                    
                                      <!-- Description et Prix -->
                                      <div class="col-6 col-sm-9 order-3 order-sm-2 d-flex flex-column justify-content-between mt-3 mt-sm-0">
                                        <!-- Description -->
                                        <div>
                                          <h5 class="mb-2">{{ event.name }}</h5>
                                          <p class="mb-2">{{ event.description|raw }}</p>
                                          <a href="{{ path('app_event_new', {'placeId': event.id, 'date':'today'}) }}" class="btn btn-primary btn-sm rounded-pill px-4 mt-3">Réserver</a>
                                        </div>
                                        
                                        <!-- Prix -->
                                        <div class="mt-3">
                                          <div class="fs-4 fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                        </div>
                                      </div>
                                    </div>                                  
                                  </div>
                                </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      
                      {% if availableToday|length >0 %}
                      <h2 class="h4 text-center my-5 ">Places occupées aujourd'hui</h2>
                      <div class="col-12 col-sm-8 mx-auto">
                          <ul class="list-group">
                              {% for event in availableToday %}
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <span>
                                          <span class="fw-bold">Place {{ event.placeId }}</span>
                                          <span class="text-success mx-2">
                                              {{ getCategoryPlace(event.placeId) }}
                                          </span>
                                          - Réservée
                                      </span>
                                      {% if event.duration == 'demi_journee' %}
                                          <span class="badge bg-success rounded-pill">
                                              Demi-journée
                                          {% else %}
                                          <span class="badge bg-primary rounded-pill">
                                              Journée
                                          {% endif %}
                                      </span>
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tomorrow" role="tabpanel" aria-labelledby="lunchTab">
                    <div class="row">
                      <h3 class="display-6 fw-bold text-center mb-4">{{ availableTomorrowNumber}} Places restantes demain</h3>
                      <div class="list-group">
                      {% for category in categories %}
                        <a data-bs-toggle="modal" data-bs-target="#{{category.slug}}-tomorrow" href="#" class="list-group-item list-group-item-action d-flex flex-column flex-md-row gap-3 py-3" aria-current="true">
                          <img src="{{ asset('images/places/' ~ category.imageName) }}" alt="twbs" width="200" class="flex-shrink-0 img-fluid rounded col-12 col-sm-3">
                          <div class="d-flex flex-column w-100">
                            <div>
                              <h4 class="h3 mb-3">{{ category.name }}</h4>
                              <p class="mb-0 opacity-75 text-truncate text-md-wrap">{{ category.description|raw }}</p>
                            </div>
                            <div class="small text-nowrap">
                              <span class="fw-bolder text-nowrap">
                                {{  category.places|length - countAvailableByCategory(availableTomorrow, category) }}
                              </span> 
                              disponibles sur 
                              <span class="fw-bolder text-nowrap">
                                {{ category.places|length }} 
                              </span>
                              <br>
                              <button class="btn btn-sm rounded-pill px-5 btn-primary mt-3">Voir</button>
                            </div>
                          </div>
                        </a>
                      {% endfor %}
                      </div>
                      {% for item, placesCategory in placesCategories %}
                      <div class="modal fade" id="{{item}}-tomorrow" tabindex="-1" aria-labelledby="{{item}}-tomorrowLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title h3">{{ getCategoryBySlug(item).name }}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              {% for event in placesCategory %}
                                {% if isInArray(event, availableTomorrow) %}
                                  <div class="col">
                                    <div class="py-3 border-bottom">
                                      <div class="row">
                                        <!-- Image -->
                                        <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                          <div class="ratio ratio-1x1">
                                            <img class="object-fit-cover blurry-image" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="..." style="width: 100%;">
                                          </div>
                                        </div>
                                    
                                        <!-- Description et Prix -->
                                        <div class="col-6 col-sm-9 order-3 order-sm-2 d-flex flex-column justify-content-between mt-3 mt-sm-0">
                                          <!-- Description -->
                                          <div>
                                            <h5 class="mb-2">{{ event.name }}</h5>
                                            <p class="mb-2">{{ event.description|raw }}</p>
                                            <button type="button" class="btn btn-dark btn-sm rounded-pill px-4 mt-3" disabled>Non disponible</button>
                                          </div>
                                          
                                          <!-- Prix -->
                                          <div class="mt-3">
                                            <div class="fs-4 fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% else %}
                                <div class="col">
                                  <div class="py-3 border-bottom">
                                    <div class="row">
                                      <!-- Image -->
                                      <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                        <div class="ratio ratio-1x1">
                                          <img class="object-fit-cover" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="...">
                                        </div>
                                      </div>
                                    
                                      <!-- Description et Prix -->
                                      <div class="col-6 col-sm-9 order-3 order-sm-2 d-flex flex-column justify-content-between mt-3 mt-sm-0">
                                        <!-- Description -->
                                        <div>
                                          <h5 class="mb-2">{{ event.name }}</h5>
                                          <p class="mb-2">{{ event.description|raw }}</p>
                                          <a href="{{ path('app_event_new', {'placeId': event.id, 'date':'today'}) }}" class="btn btn-primary btn-sm rounded-pill px-4 mt-3">Réserver</a>
                                        </div>
                                        
                                        <!-- Prix -->
                                        <div class="mt-3">
                                          <div class="fs-4 fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                        </div>
                                      </div>
                                    </div>                                  
                                  </div>
                                </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      
                      {% if availableTomorrow|length >0 %}
                      <h2 class="h4 text-center my-5 ">Places reservées demain</h2>
                      <div class="col-12 col-sm-8 mx-auto">
                          <ul class="list-group">
                              {% for event in availableTomorrow %}
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <span>
                                          <span class="fw-bold">Place {{ event.placeId }}</span>
                                          <span class="text-success mx-2">
                                              {{ getCategoryPlace(event.placeId) }}
                                          </span>
                                          - Réservée
                                      </span>
                                      {% if event.duration == 'demi_journee' %}
                                          <span class="badge bg-success rounded-pill">
                                              Demi-journée
                                          {% else %}
                                          <span class="badge bg-primary rounded-pill">
                                              Journée
                                          {% endif %}
                                      </span>
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="tab-pane fade" id="afterTomorrow" role="tabpanel" aria-labelledby="dinnerTab">
                    <div class="row">
                      <h3 class="display-6 fw-bold text-center mb-4">{{ availableDayAfterTomorrowNumber }} Places restantes après demain</h3>
                      <div class="list-group">
                      {% for category in categories %}
                        <a data-bs-toggle="modal" data-bs-target="#{{category.slug}}-afterTomorrow" href="#" class="list-group-item list-group-item-action d-flex flex-column flex-md-row gap-3 py-3" aria-current="true">
                          <img src="{{ asset('images/places/' ~ category.imageName) }}" alt="twbs" width="200" class="flex-shrink-0 img-fluid rounded col-12 col-sm-3">
                          <div class="d-flex flex-column w-100">
                            <div>
                              <h4 class="h3 mb-3">{{ category.name }}</h4>
                              <p class="mb-0 opacity-75 text-truncate text-md-wrap">{{ category.description|raw }}</p>
                            </div>
                            <div class="small text-nowrap">
                              <span class="fw-bolder text-nowrap">
                                {{  category.places|length - countAvailableByCategory(availableDayAfterTomorrow, category) }}
                              </span> 
                              disponibles sur 
                              <span class="fw-bolder text-nowrap">
                                {{ category.places|length }} 
                              </span>
                              <br>
                              <button class="btn btn-sm rounded-pill px-5 btn-primary mt-3">Voir</button>
                            </div>
                          </div>
                        </a>
                      {% endfor %}
                      </div>
                      {% for item, placesCategory in placesCategories %}
                      <div class="modal fade" id="{{item}}-afterTomorrow" tabindex="-1" aria-labelledby="{{item}}-afterTomorrowLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title h3">{{ getCategoryBySlug(item).name }}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              {% for event in placesCategory %}
                                {% if isInArray(event, availableDayAfterTomorrow) %}
                                  <div class="col">
                                    <div class="py-3 border-bottom">
                                      <div class="row">
                                        <!-- Image -->
                                        <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                          <div class="ratio ratio-1x1">
                                            <img class="object-fit-cover blurry-image" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="..." style="width: 100%;">
                                          </div>
                                        </div>
                                    
                                        <!-- Description et Prix -->
                                        <div class="col-6 col-sm-9 order-3 order-sm-2 d-flex flex-column justify-content-between mt-3 mt-sm-0">
                                          <!-- Description -->
                                          <div>
                                            <h5 class="mb-2">{{ event.name }}</h5>
                                            <p class="mb-2">{{ event.description|raw }}</p>
                                            <button type="button" class="btn btn-dark btn-sm rounded-pill px-4 mt-3" disabled>Non disponible</button>
                                          </div>
                                          
                                          <!-- Prix -->
                                          <div class="mt-3">
                                            <div class="fs-4 fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% else %}
                                <div class="col">
                                  <div class="py-3 border-bottom">
                                    <div class="row">
                                      <!-- Image -->
                                      <div class="col-6 col-sm-3 align-self-center order-1 order-sm-1">
                                        <div class="ratio ratio-1x1">
                                          <img class="object-fit-cover" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="...">
                                        </div>
                                      </div>
                                    
                                      <!-- Description et Prix -->
                                      <div class="col-6 col-sm-9 order-3 order-sm-2 d-flex flex-column justify-content-between mt-3 mt-sm-0">
                                        <!-- Description -->
                                        <div>
                                          <h5 class="mb-2">{{ event.name }}</h5>
                                          <p class="mb-2">{{ event.description|raw }}</p>
                                          <a href="{{ path('app_event_new', {'placeId': event.id, 'date':'today'}) }}" class="btn btn-primary btn-sm rounded-pill px-4 mt-3">Réserver</a>
                                        </div>
                                        
                                        <!-- Prix -->
                                        <div class="mt-3">
                                          <div class="fs-4 fw-bold font-serif text-body-emphasis">{{ event.price }} Ar</div>
                                        </div>
                                      </div>
                                    </div>                                  
                                  </div>
                                </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      
                      {% if availableDayAfterTomorrow|length >0 %}
                      <h2 class="h4 text-center my-5 ">Places reservées après-demain</h2>
                      <div class="col-12 col-sm-8 mx-auto">
                          <ul class="list-group">
                              {% for event in availableDayAfterTomorrow %}
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <span>
                                          <span class="fw-bold">Place {{ event.placeId }}</span>
                                          <span class="text-success mx-2">
                                              {{ getCategoryPlace(event.placeId) }}
                                          </span>
                                          - Réservée
                                      </span>
                                      {% if event.duration == 'demi_journee' %}
                                          <span class="badge bg-success rounded-pill">
                                              Demi-journée
                                          {% else %}
                                          <span class="badge bg-primary rounded-pill">
                                              Journée
                                          {% endif %}
                                      </span>
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="tab-pane fade" id="otherDate" role="tabpanel" aria-labelledby="drinksTab">
                    <div class="row">
                      <div class="mb-3 col-12 col-sm-6 mx-auto">
                        <h3 class="display-6 fw-bold text-center mb-4">Séléctionnez une date</h3>
                        <input type="date" id="reservation_form_other_date" placeholder="Date" class="form-control" value="{{ date }}">
                      </div>
                      <div id="reservationsContainer" class="mt-4 row">
                          <!-- Les résultats AJAX s'afficheront ici -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
              <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4 class="fw-bolder">Statistiques</h4>
                <p class="mb-0">

                  <span class="fw-bolder me-2">{{ app.user.events|length }}</span>
                  <span class="fw-light">
                      {% if app.user.events|length == 0 %}
                          aucune réservation effectuée
                      {% elseif app.user.events|length == 1 %}
                          réservation effectuée
                      {% else %}
                          réservations effectuées
                      {% endif %}
                  </span><br>
                </p>
                <hr>
                <div class="d-grid gap-2">
                  {% if app.user.contracts|length == 0 %}
                    <a href="{{ path('app_main_vip_contract') }}" class="text-white btn btn-danger fw-bolder text-uppercase h5 text-white"> 
                      <i class="bi bi-person-bounding-box me-3 h4"></i>
                      Devenir membre VIP
                    </a>
                  {% else %}
                  <h4 class="fw-bolder">Contrat en cours</h4>
                    {% for contract in app.user.contracts %}
                      <h5 class="lead"><i class="bi bi-star me-2"></i> {{ contract.package.name }}</h5>
                      <p class="small">
                        Date de signature : {{ contract.createdAt|date('d/m/Y')}}<br>
                        Status : {{ getContractStatus(contract)|raw }} <br>
                        Durée : 1 mois<br>
                        Conditions Acceptées : Oui<br>
                        Montant Total : {{ contract.package.price }} Ar<br>
                        Mode de Paiement : À la caisse
                      </p>
                      <hr>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<script>

  document.addEventListener('DOMContentLoaded', function () {
    const dateInput = document.getElementById('reservation_form_other_date');

    if (dateInput) {
        dateInput.addEventListener('change', function () {
            const selectedDate = this.value;            
            const fetchUrl = "{{ path('app_reservations') }}?date=" + selectedDate; // URL générée dynamiquement

            fetch(fetchUrl, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest' // Indique une requête AJAX
                }
            })
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('reservationsContainer');
                if (container) {
                    container.innerHTML = data.html;
                }
            })
            .catch(error => console.error('Error fetching reservations:', error));
        });
    }
});

  document.addEventListener("turbo:load", function () {
    const dateTimeElement = document.getElementById('liveDateTime');

    if (dateTimeElement) {
        const initialDate = dateTimeElement.getAttribute('data-initial-date');
        let currentDate = new Date(initialDate);
    
        function updateDateTime() {
            currentDate.setSeconds(currentDate.getSeconds() + 1);
            const formattedDateTime = `Antananarivo, ${currentDate.toLocaleDateString('fr-FR', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            })} ${currentDate.toLocaleTimeString('fr-FR', {
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit'
            })}`;
            dateTimeElement.textContent = formattedDateTime;
        }
    
        updateDateTime(); // Initial update
        setInterval(updateDateTime, 1000); // Update every second
    }
});

</script>
{% endblock %}
