{% extends 'base_coworking.html.twig' %}

{% block title %}Modifier la réservation{% endblock %}

{% block paralax %}
{% if not is_granted('ROLE_ADMIN') %}
    {% include "coworking/event/_paralax.html.twig" with {'title': 'Réservation'} %}
  {% endif %}
{% endblock %}

{% block admin %}
  {% if is_granted('ROLE_ADMIN') %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block body %}
{% if not is_granted('ROLE_ADMIN') %}
<header class="header-home">
    <div class="page-content">
        <div class="home-banner-section header-home-user bg-cover" style="background-image:url({{ asset('v2/images/coworking-olona-talents.webp')}})">
            <div class="home-inner-section">
                <div class="mid-section">
                    <div id="liveDateTime" data-initial-date="{{ 'now'|date('Y-m-d H:i:s') }}"></div>
                    <h1 class="title-large">Modifier la réservation</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}
<section class="p-0 m-0">
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
          <h1 class="h3">Modifier une réservations</h1>
        {% endif %}
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">

            {{ include('coworking/event/_form.html.twig', {'button_label': 'Modifier'}) }}
            
            {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex justify-content-end w-100">
                {{ include('coworking/event/_delete_form.html.twig') }}
            </div>
            {% endif %}
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="{{ asset('images/coworking/IMG_0678.png') }}" alt="" width="720">
          </div>
            <div class="my-5">
              <a class="btn btn-info px-5 rounded-pill" href="javascript:history.back()"><i class="bi me-2 bi-arrow-left"></i>Retour à la liste</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
