<!DOCTYPE html>
<html data-bs-theme="light">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Olona Talents{% endblock %}</title>
		{#<link rel="icon" href="{{ asset('images/favicon.ico') }}">#}
		{% block meta %}{% endblock %}
		{% block stylesheets %}
			<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		{% include "gtag_cookie_script.html.twig" %}
	</head>
	<body class="bootstrap-light">
		<div class="transition-fade">
			{% block header %}
			{% set last_query = app.request.query.get('q', '') %}
				<nav class="header-area bg-white">
					<div class="d-flex justify-content-between align-items-center">
						<a class="navbar-brand d-block d-lg-none" href="{{ path('app_home') }}">
							<img id="logo" src="{{ asset('images/logo-olona-talents-black600x200.png') }}" width="150" height="56" class="" alt="Logo">
						</a>
						<div class="db-search">
						{% if action is defined %}
							<form action="{{ action }}" class="input-group rounded-pill w-100">
								<button class="btn" type="submit"><i class="bi bi-search"></i></button>
								<input class="form-control" type="search" name="q" value="{{last_query}}" placeholder="Rechercher">
							</form>
						{% else %}
							<form action="{{ path('app_olona_talents_candidates') }}" class="input-group rounded-pill w-100">
								<button class="btn" type="submit"><i class="bi bi-search"></i></button>
								<input class="form-control" type="search" name="q" value="{{last_query}}" placeholder="Rechercher">
							</form>
						{% endif %}
						</div>
						<div class="d-none d-lg-flex justify-content-end align-items-center info_db">
							{% if app.user %}
								<button id="switch-theme">
									<i class="bi bi-moon-stars-fill"></i>
								</button>
								<a href="{{ path('app_tableau_de_bord_candidat_notification', {'isRead':'0'}) }}" class="position-relative">
									<img src="{{ asset('v2/images/dashboard/notification.svg')}}" alt="">
									<span class="position-absolute top-0 start-100 translate-middle rounded-pill ">
									<span class="badge bagde-circle text-bg-danger">{{ notificationsCount }}</span>
									<span class="visually-hidden">unread messages</span>
									</span>
								</a>
								<div class="small my-auto text-center block-credit">
									Mes crédits <span class="fw-bold" id="current-user-credit">{{ credit }}</span>
								</div>
								<div class="dropdown">
									<button type="button" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle btn" data-bs-toggle="dropdown" aria-expanded="false">
										{% if app.user.gravatar is not null %}
											{% if (app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_CANDIDAT')) and app.user.candidateProfile is not null and app.user.candidateProfile.fileName is not empty) %}
												<img src="{{ asset('uploads/experts/' ~ app.user.candidateProfile.fileName) }}" alt="Avatar" width="45px" height="45px" class="rounded-circle">
											{% elseif (app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_ENTREPRISE')) and app.user.entrepriseProfile is not null and app.user.entrepriseProfile.fileName is not empty)  %}
												<img src="{{ asset('uploads/compagnies/' ~ app.user.entrepriseProfile.fileName) }}" alt="Avatar" width="45px" height="45px" class="rounded-circle">
											{% else %}
												<img src="{{ app.user.gravatar }}" alt="Avatar" width="45px" height="45px" class="rounded-circle">
											{% endif %}
										{% elseif (app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_CANDIDAT')) and app.user.candidateProfile is not null and app.user.candidateProfile.fileName is not empty) %}
											<img src="{{ asset('uploads/experts/' ~ app.user.candidateProfile.fileName) }}" alt="Avatar" width="45px" height="45px" class="rounded-circle">
										{% elseif (app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_ENTREPRISE')) and app.user.entrepriseProfile is not null and app.user.entrepriseProfile.fileName is not empty) %}
											<img src="{{ asset('uploads/compagnies/' ~ app.user.entrepriseProfile.fileName) }}" alt="Avatar" width="45px" height="45px" class="rounded-circle">
										{% else %}
											<img src="{{ asset('uploads/experts/avatar-default.jpg') }}" alt="Avatar" width="45px" height="45px" class="rounded-circle">
										{% endif %}
									</button>
									<ul class="dropdown-menu text-small shadow">
										<li><a class="dropdown-item" href="{{ path('app_v2_dashboard')}}">Tableau de bord</a></li>
										<li><a class="dropdown-item" href="{{ path('app_v2_prestation')}}">Mes prestations</a></li>
										<li><a class="dropdown-item" href="{{ path('app_v2_dashboard_notification')}}">Mes notifications</a></li>
										<li><a class="dropdown-item" href="{{ path('app_v2_dashboard')}}">Mon profil</a></li>
										<li><a class="dropdown-item" href="{{ path('app_v2_contacts')}}">Mon réseau</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item" href="{{ path('app_coworking_main')}}">Coworking</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item" href="{{ path('app_logout')}}">Se déconnecter</a></li>
									</ul>
								</div>
							{% else %}
								<a href="{{ path('app_login')}}" class="me-3 mt-2">Se connecter</a>
							{% endif %}
						</div>
						<button id="menuMobile" class="d-lg-none menu-icon" type="button" aria-controls="offcanvasScrolling" aria-expanded="false" aria-label="Toggle navigation">
							<span></span>
							<span></span>
							<span></span>
						</button>
					</div>
				</nav>
			{% endblock %}
			{% block sidebar %}{% include "tableau_de_bord/layout/candidat.html.twig" %}{% endblock %}
			{% block body %}{% endblock %}
			{% block preview %}
        	<a href="javascript:history.back()" class="d-none d-sm-block d-md-none btn btn-info fw-semibold text-uppercase px-4 my-5 me-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
			{% endblock %}
		</div>
        <footer class="py-3 my-4">
          <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="{{ path('app_v2_dashboard')}}" class="px-2 text-body-secondary">Olona Talents</a></li>
              <li class="nav-item"><a href="{{ path('app_coworking_main')}}" class="px-2 text-body-secondary">Coworking</a></li>
              <li class="nav-item"><a href="{{ path('app_home_simulateur_portage')}}" class="px-2 text-body-secondary">Portage salarial</a></li>
              <li class="nav-item"><a href="{{ path('app_blog_index')}}" class="px-2 text-body-secondary">Le blog</a></li>
              <li class="nav-item"><a href="{{ path('app_home_legal')}}" class="px-2 text-body-secondary">Mentions Légales</a></li>
              <li class="nav-item"><a href="{{ path('app_home_privacy')}}" class="px-2 text-body-secondary">Politique de Confidentialité</a></li>
              <li class="nav-item"><a href="{{ path('app_home_terms')}}" class="px-2 text-body-secondary">Conditions d'Utilisation</a></li>
              <li class="nav-item"><a href="{{ path('app_contact_us')}}" class="px-2 text-body-secondary">Nous contacter</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2024 Olona Talents, Tous droits réservés.</p>
          </div>
        </footer>
		{% include "cookies_management.html.twig" %}

	{{ encore_entry_script_tags('main') }}
	{{ encore_entry_script_tags('iary') }}
	</body>
</html>
