{% extends 'tableau_de_bord/base_entreprise.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <div class="loader-container" id="loader-container" style="display:none;">
        <span class="loader"></span>
    </div>

    <section class="">
        <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
            <h5 class="mb-0"> Profile </h5>
            <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
                <li class="breadcrumb-item position-relative">
                    <a routerlink="v2/candidate/dashboard/" class="d-inline-block position-relative" href="v2/candidate/dashboard/">
                    <i class="ri-home-8-line"></i> Tableau de bord </a> 
                </li>
                <li class="breadcrumb-item position-relative"> Trouver des missions </li>
            </ol>
        </div>
    </section>
    <section class="detail_db d-md-flex bp_">
        <div class="biographie-profil mb-4 p-4">
            <div class="mission-list-title">
                <h1>Bienvenue dans votre Annuaire de services.</h1>
                <p> Découvrez ou proposez des solutions professionnelles sur mesure. Boostez votre entreprise, avancez dans votre carrière et valorisez vos compétences. Trouvez le partenaire idéal pour votre réussite.
                </p>
            </div>
            <div class="ils_recrutentBlock mb-4">
                <h2><span>Ils recrutent</span></h2>
                <div class="inner-recruter d-flex align-items-center">
                    <div class="item-recruter-box">
                        <div class="recruter_box d-flex">
                            <a href="{{ path('app_v2_view_recruiter_profile', {'id': 118 }) }}">
                                <img class="img-fluid" src="{{ asset('images/pubs/.webp')}}">
                            </a>
                            <a href="{{ path('app_v2_view_recruiter_profile', {'id': 118 }) }}">
                                <img class="img-fluid" src="{{ asset('images/pubs/.webp')}}">
                            </a>
                            <a href="{{ path('app_v2_view_recruiter_profile', {'id': 118 }) }}">
                                <img class="img-fluid" src="{{ asset('images/pubs/.webp')}}">
                            </a>
                        </div>
                    </div>
                    <div class="item-recruter-box">
                        <a href="{{ path('app_v2_view_recruiter_profile', {'id': 118 }) }}">
                            <img class="img-fluid" src="{{ asset('images/pubs/espace-pub-horizontal-regard-beauty-_1_.webp')}}">
                        </a>
                    </div>
                    <div class="item-recruter-box">
                        <div class="recruter_box d-flex">
                            <a href="{{ path('app_v2_view_recruiter_profile', {'id': 118 }) }}">
                                <img class="img-fluid" src="{{ asset('images/pubs/.webp')}}">
                            </a>
                            <a href="{{ path('app_v2_view_recruiter_profile', {'id': 118 }) }}">
                                <img class="img-fluid" src="{{ asset('images/pubs/.webp')}}">
                            </a>
                            <a href="{{ path('app_v2_view_recruiter_profile', {'id': 118 }) }}">
                                <img class="img-fluid" src="{{ asset('images/pubs/.webp')}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="offre-emploi-list">
                <div class="row">
                    <div class="col-lg-8">
                        {% for job in offres  %}
                        <article class="article-item_">
                            <div class="row">
                                <div class="col-md-2 aside-left-item_">
                                    <span class="date_p">Publié {{ job.dateCreation|date('d/m/Y') }}</span>
                                </div>
                                <div class="col-md-10 aside-right-item_">
                                    <div class="detail_annonce_">
                                        <h2>
                                            {% if app.user %}
                                                <a href="{{ path('app_v2_candidate_view_job_offer', {'id': job.id })}}" class="btn-primary">
                                                    {{ job.titre }}
                                                </a>
                                            {% else %}
                                                <span style="cursor:pointer;" class="annonce-link" data-id="{{ job.id }}">{{ job.titre }}</span>
                                            {% endif %}
                                        </h2>
                                        <h3><a href="" class="btn-primary">SOCIETE</a> <span class="secteur_job"><i class="bi bi-tags"></i> {{ job.secteur.nom}}</span></h3>
                                        <div class="type_contact_">{{ job.typeContrat }}</div>
                                        <div class="description_courte_">{{ job.shortDescription|raw }}</div>
                                        <div class="info_publication_">
                                            <span class="small fw-light">
                                                <span class="badge bg-info rounded-pill px-2"></span>
                                                <span class="badge rounded-pill px-2 text-bg-success">Ouvert</span>
                                                <span class="small text-center mx-2">|</span>
                                                <span class="">Date limite {{ job.dateCreation|date('d/m/Y') }}</span>
                                                <span class="small text-center mx-2">|</span>
                                                <i class="bi bi-eye"></i> {{ job.annonceVues|length }}
                                                <span class="small text-center mx-2">|</span>
                                                <i class="bi bi-bookmark-check"></i> {{ job.applications|length }} offres
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <span data-annonce="{{ job.id }}" style="display:none">
                            {% include "v2/preview/_prev_joblistings.html.twig" %}
                        </span>
                        {% endfor %}
                    </div>
                    <div class="col-lg-4">
                        <div class="aside_filter position-sticky">
                            <h4>Filtrer</h4>

                        </div>
                    </div>
                </div>
            </div>#}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script> 
    
    var currentPage = 1;
    var allDataLoaded = false;

    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - 100 && !allDataLoaded) {
            loadMoreJobs();
        }
    });

    function loadMoreJobs() {
        if (!allDataLoaded) {
            currentPage++;
            var url = `{{ path('api_job_offers') }}?page=${currentPage}`;
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json', 
                success: function(data) {
                    $('#jobs-container').append(data.html);
                    if (!data.hasMore) {
                        allDataLoaded = true;
                    }
                },
                error: function() {
                    allDataLoaded = true; 
                }
            });
        }
    }
    </script>
{% endblock %}
