{% extends 'tableau_de_bord/base_entreprise.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <div class="loader-container" id="loader-container" style="display:none;">
        <span class="loader"></span>
    </div>

    <section class="">
        <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a href="javascript:history.back()" class="d-block btn btn-info fw-semibold text-uppercase me-3 btn_retour">
                <i class="mx-2 bi bi-arrow-left"></i>Retour</a>
                <h5 class="mb-0"> Notifications </h5>
            </div>
            <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
                <li class="breadcrumb-item position-relative">
                    <a routerlink="{{ path('app_tableau_de_bord_entreprise')}}" class="d-inline-block position-relative" href="{{ path('app_tableau_de_bord_entreprise')}}">
                    <i class="ri-home-8-line"></i> Tableau de bord </a>
                </li>
                <li class="breadcrumb-item position-relative"> Notifications </li>
            </ol>
        </div> 
    </section>
    {% if not entreprise.isIsPremium %}
    <section class="warning_freemium mb-4 d-flex align-items-center">
        <span><img src="{{ asset('v2/images/dashboard/warning_outline_icon.svg')}}" alt=""></span>
        <div class="warning-block">
            Vous êtes actuellement sur un plan gratuit. commencez notre <a routerlink="{{ path('app_tableau_de_bord_entreprise_tarifs')}}" class="btn-primary" href="{{ path('app_tableau_de_bord_entreprise_tarifs')}}">abonnement premium</a> pour accéder à notre CVthèque exclusive et publier des annonces en illimité !.
        </div>
    </section>
    {% endif %}
    <section class="recruteur-container">
        <div class="recruteur-block d-block p-5 mb-4">
            <div class="notification-top-item">
                <h1>Mes notifications</h1>
                    {% if notifications|length > 0 %}
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">{{ knp_pagination_sortable(notifications, 'Titre', 'n.titre') }}</th>
                            <th scope="col" class="text-center">{{ knp_pagination_sortable(notifications, 'Reçu le', 'n.dateMessage') }}</th>
                            <th scope="col" class="text-center">{{ knp_pagination_sortable(notifications, 'Lu', 'n.isRead') }}</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for notification in notifications %}
                        {% set class = "fw-semibold" %}
                        {% set icone = "bi-bell-fill" %}
                        {% set status = '<span class="badge bg-primary"> Nouveau </span>' %}
                        {% if notification.isRead %}
                            {% set class = "fw-lighter" %}
                            {% set icone = "bi-bell" %}
                            {% set status = '<span class="badge bg-success px-3"><i class="bi bi-check2-square"></i> Lu </span>' %}
                        {% endif %}
                            <tr>
                                <td>{{ notification.titre }}</td>
                                <td class="text-center">{{ notification.dateMessage|date('d/m/Y') }}</td>
                                <td class="text-center">{{ notification.isRead ? '<i class="h3 bi bi-toggle-on"></i>' : '<i class="h3 bi bi-toggle-off"></i>' }}</td>
                                <td>
                                    <button 
                                        type="button" 
                                        class="btn btn-sm btn-secondary rounded-pill" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#notification"
                                        data-bs-id="{{ notification.id }}"
                                        data-bs-title='<i class="bi {{ icone }}"></i> {{ notification.titre }}'
                                        data-bs-content="{{ notification.contenu }}"
                                        data-bs-expediteur="{{ notification.expediteur.nom | slice(0, 1) | upper }}. {{ notification.expediteur.prenom }}"
                                    >
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ knp_pagination_render(notifications) }}
                    {% else %}
                    <div class="text-center col-lg-6 col-sm-12 mx-auto">
                        <img src="{{ asset('images/empty.png')}}" class="img-fluid">
                        <p class="text-center">Aucune notification trouvée</p>
                    </div>
                    {% endif %}
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="notification" tabindex="-1" aria-labelledby="notificationLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fs-5" id="notificationLabel">Notification</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
{% endblock %}
