{% extends 'tableau_de_bord/base_entreprise.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <div class="loader-container" id="loader-container" style="display:none;">
        <span class="loader"></span>
    </div>

    <section class="">
        <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
            <h5 class="mb-0"> Entreprise </h5>
            <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0"> 
                <li class="breadcrumb-item position-relative">
                    <a routerlink="{{ path('app_tableau_de_bord_entreprise')}}" class="d-inline-block position-relative" href="{{ path('app_tableau_de_bord_entreprise')}}">
                    <i class="ri-home-8-line"></i> Tableau de bord </a>
                </li>
                <li class="breadcrumb-item position-relative"> Publier une annonce </li>
            </ol>
        </div>
    </section>
    {% if not entreprise.isIsPremium %}
    <section class="warning_freemium mb-4 d-flex align-items-center">
        <span><img src="{{ asset('v2/images/dashboard/warning_outline_icon.svg')}}" alt=""></span>
        <div class="warning-block">
            Vous êtes actuellement sur un plan gratuit. commencez notre <a routerlink="{{ path('app_tableau_de_bord_entreprise_tarifs')}}" class="btn-primary" href="{{ path('app_tableau_de_bord_entreprise_tarifs')}}">abonnement premium</a> pour accéder à notre CVthèque exclusive et publier des annonces en illimité !.
        </div>
    </section>
    {% endif %}
    <section class="recruteur-container">
        <div class="recruteur-block d-block p-5 mb-4">
            <div class="offre-emploi-item">
                <div>
                    <h1>Publiez votre offre et recrutez les meilleurs talents</h1>
                    <p>Atteignez une vaste communauté de professionnels qualifiés avec Olona-Talents.com. En quelques étapes simples, décrivez votre poste, les compétences recherchées, le type de contrat et le lieu. Ajoutez des questions personnalisées pour affiner votre sélection dès le départ. Votre annonce sera visible par des milliers de candidats prêts à propulser votre entreprise. Commencez dès maintenant !</p>
                </div>
            </div>
            {{ include('tableau_de_bord/flashes_message.html.twig') }}
            <div id="jobListingForm">
                {{ form_start(form, {'attr': {'data-turbo': 'false', 'id': 'createJob'}}) }}
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            {{ form_row(form.titre)}}
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                {{ form_row(form.typeContrat)}}
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                {{ form_row(form.secteur)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                {{ form_row(form.lieu)}}
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                {{ form_row(form.nombrePoste)}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                {{ form_row(form.competences)}}
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                {{ form_row(form.dateExpiration)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="mb-3">
                            <label class="fw-bold small" for="prestation_tarifPrestation_typeTarif">Tarif</label>
                            {{ form_widget(form.budgetAnnonce.typeBudget)}}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            <label class="fw-bold small" for="prestation_tarifPrestation_montant">Montant</label>
                            {{ form_widget(form.budgetAnnonce.montant)}}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            <label class="fw-bold small" for="prestation_tarifPrestation_currency">Devise</label>
                            {{ form_widget(form.budgetAnnonce.currency)}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{ form_row(form.description)}}
                </div>
                <div class="row">
                    <div class="col">
                        <div style="display:none;">
                        {{ form_widget(form) }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg my-3 my-sm-4 fs-6 px-4 px-sm-5 fw-semibold text-uppercase">
                            <i class="bi bi-save"></i>
                            Publier ( 20 crédits)
                        </button>
                    </div>
                
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
