{% if joblistings_boost is defined %}
{% include "v2/result/boost/_annonces.html.twig" %}
{% endif %}
<div class="jobs-list-wrap">
		{% for job in joblistings %}
		<article class="article-item_">
			<div class="row">
				<div class="col-md-2 aside-left-item_">
					<span class="date_p">Publié {{ job.dateCreation|date('d/m/Y') }}</span>
				</div>
				<div class="col-md-10 aside-right-item_">
					<div class="detail_annonce_">
						<h2>
							{% if app.user %}
								<a href="{{ path('app_olona_talents_view_job_offer', {'id': job.id })}}" class="btn-primary">
									{{ job.titre }}
								</a>
							{% else %}
								<span style="cursor:pointer;" class="annonce-link" data-id="{{ job.id }}">{{ job.titre }}</span>
							{% endif %}
						</h2>
						<h3><a href="{{ path('app_tableau_de_bord_candidat_view_recruiter', {'id': job.entreprise.id })}}" class="btn-primary">{{ job.entreprise.nom }}</a> <span class="secteur_job"><i class="bi bi-tags"></i> {{ job.secteur.nom}}</span></h3>
						<div class="type_contact_">{{ job.typeContrat }}</div>
						<div class="description_courte_">{{ job.shortDescription|raw }}</div>
						<div class="info_publication_">
							<span class="small fw-light">
								<span class="badge bg-info rounded-pill px-2"></span>
								<span class="badge rounded-pill px-2 text-bg-success">Ouvert</span>
								<span class="small text-center mx-2">|</span>
								<span class="">Date limite {{ job.dateExpiration|date('d/m/Y') }}</span>
								<span class="small text-center mx-2">|</span>
								<i class="bi bi-eye"></i> {{ job.annonceVues|length }}
								<span class="small text-center mx-2">|</span>
								<i class="bi bi-bookmark-check"></i> {{ job.applications|length }} offres
							</span>
						</div>
					</div>
				</div>
			</div>
		</article>
		{% endfor %}
</div>

