{% if prestations_boost is defined %}
{% include "v2/result/boost/prestations.html.twig" %}
{% endif %}

{#<div class="card position-relative text-center d-none d-md-block">
    <a href="{{ path('app_v2_view_recruiter_profile', {'id': 118 }) }}">
        <img class="img-fluid" src="{{ asset('images/pubs/espace-pub-horizontal-regard-beauty-_1_.webp')}}">
    </a>
</div>

<div class="m-4 card position-relative text-center d-block d-md-none">
    <a href="{{ path('app_v2_view_recruiter_profile', {'id': 5 }) }}">
        <img class="img-fluid" src="{{ asset('images/pubs/olona-talents-vertical.webp')}}">
    </a>
</div>#}
<div class="jobs-list-wrap">
        {% for prestation in prestations %}
		<article class="article-item_">
			<div class="row">
				<div class="col-md-2 aside-left-item_">
                    <a href=""><img class="img-fluid profile-img" style="border-radius: 10px; object-fit: cover;" src="{{ prestation.fileName ? asset('uploads/prestations/' ~ prestation.fileName) : asset('images/dashboard/logo_defaut_entreprise2.webp') }}" alt=""></a>
				</div>
				<div class="col-md-10 aside-right-item_">
					<div class="detail_annonce_">
						<h2>
                            {% if app.user %}
                                <a href="{{ path('app_v2_view_prestation', {'prestation': prestation.id })}}" class="btn-primary">
                                    {{ prestation.titre }}
                                </a>
                            {% else %}
                                <span style="cursor:pointer;" class="prestation-link" data-id="{{ prestation.id }}">{{ prestation.titre }}</span>
                            {% endif %}

							<span class="badge-cetification">
                                {{ prestation.secteurs.nom}}
                            </span>
						</h2>
						<h3><span class="small">{{ getAuthor(prestation)}}</span></h3>
						<div class="description_courte_">
							{% if prestation.openai is not null %}
                            {{ prestation.openai|raw }}
                            {% else %}
                            {{ prestation.description|raw }}
                            {% endif %}
						</div>
						<div class="info_publication_">
							<p class="small fw-light">
                                {{ satusPrestation(prestation)|raw }}
                                <span class="small text-center mx-2">|</span>
                                <span class="">Publié
                                    {{ prestation.createdAt|time_ago }}</span>
                                <span class="small text-center mx-2">|</span>
                                <i class="bi bi-eye"></i> {{ prestation.prestationVues|length}} vues
                                <span class="small text-center mx-2">|</span>
                                <i class="mx-2 bi bi-person-workspace"></i> {{ prestation.modalitesPrestation }}
                            </p>
						</div>
                        <div class="right-content d-flex ms-auto my-2 me-2">
                            {% if app.user %}
                                <a class="btn btn-primary" href="{{ path('app_v2_view_prestation', {'prestation': prestation.id })}}">Plus de details</a>
                            {% else %}
                                <div class="d-none d-md-block">
                                    <button class="btn btn-primary prestation-link" type="button" data-id="{{ prestation.id }}">Plus de details</button>
                                </div>
                                
                                <div class="d-block d-md-none">
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#connectingModal" data-bs-href="{{ path('app_v2_view_prestation', {'prestation':prestation.id}) }}">Plus de détails</button>
                                </div>
                            {% endif %}
                        </div>
					</div>
				</div>
			</div>
		</article>
		<span data-prestation="{{ prestation.id }}" style="display:none">
            {% include "v2/preview/_prev_prestations.html.twig" %}
        </span>
		{% endfor %}
</div>