<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Olona Talents
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/favicon.ico')}}">
		{% block meta %}
			<meta name="description" content="Rejoignez la première plateforme où projets ambitieux et talents de Madagascar et de l'espace francophone se rencontrent. Lancez-vous dans une aventure professionnelle sans précédent.">
			<meta name="keywords" content="freelance, projet, offre, portage salarial, cooptation, recrutement">
			<meta property="og:title" content="Olona Talents">
			<meta property="og:description" content="Rejoignez la première plateforme où projets ambitieux et talents de Madagascar et de l'espace francophone se rencontrent. Lancez-vous dans une aventure professionnelle sans précédent.">
		{% endblock %}
		<meta property="og:url" content="{% block og_url %}{{ app.request.uri }}{% endblock %}">
		<meta property="og:image" content="{% block og_image %}{{ app.request.schemeAndHttpHost ~ asset('/images/logo-og.png') }}{% endblock %}">
		<meta property="og:image:width" content="1200"/>
		<meta property="og:image:height" content="630"/>
		<script class="u-script" type="text/javascript" src="{{asset('v2/js/jquery.js')}}" defer=""></script>
		<script class="u-script" type="text/javascript" src="{{asset('v2/js/nicepage.js')}}" defer=""></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="{{asset('assets/errorLogger.js')}}"></script>
		{% endblock %}
	</head>
	<body class="home-ot" data-lang="fr">
		{% block header %}{% endblock %}
		{% block body %}{% endblock %}
		<!-- Modal porte d'entrée -->
		<div class="modal fade" id="connectingModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="">
						<div class="row">
							<div class="col-12 col-sm-4" style="
								background-image:url('{{ asset('images/home/annexe/etape-2.webp')}}');
								background-repeat: no-repeat;
								background-size: cover;
								background-position-x: left;
								border-top-left-radius: 10px;
								border-bottom-left-radius: 10px;">
							</div>
							<div class="col-12 col-sm-8 p-4 p-sm-5">
								<h3 class="">Pour accéder à cette page, inscrivez-vous gratuitement</h3>
								<p class="">Choisissez votre profil :</p>
								<a href="{{ path('app_olona_talents_register', {'typology': 'Entreprise'})}}">
								<div class="row border rounded mb-3">
									<div class="col-4" style="
										background-image:url('{{ asset('images/Entreprise.png')}}');
										background-repeat: no-repeat;
										background-size: cover;
										background-position-x: left;
										border-top-left-radius: 5px;
										border-bottom-left-radius: 5px;">
									</div>
									<div class="col-8 py-4">
										<span class="fw-bold">Client</span><br>
										<span class="">J'ai un projet</span>
									</div>
								</div>
								</a>
								<a href="{{ path('app_olona_talents_register', {'typology': 'Candidat'})}}">
								<div class="row border rounded mb-3">
									<div class="col-4" style="
										background-image:url('{{ asset('images/Candidat.png')}}');
										background-repeat: no-repeat;
										background-size: cover;
										background-position-x: left;
										border-top-left-radius: 5px;
										border-bottom-left-radius: 5px;">
									</div>
									<div class="col-8 py-4">
										<span class="fw-bold">Prestataire</span><br>
										<span class="">Je cherche des projets</span>
									</div>
								</div>
								</a>
								<p class="">Déjà inscrit sur olona-talents.com ? <a href="{{ path('app_login')}}">Se connecter</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
