{% extends 'base_v21.html.twig' %}

{% block title %}Olona Talents{% endblock %}

{% block meta %}
<meta name="description" content="Rejoignez la première plateforme où projets ambitieux et talents de Madagascar et de l'espace francophone se rencontrent. Lancez-vous dans une aventure professionnelle sans précédent.">
<meta name="keywords" content="freelance, projet, offre, portage salarial, cooptation, recrutement, travail, emploi, talents, candidat, recruteur, offres, agence, olona, olona talents, olona talents agence, talents agence, agence talents, candidature, candidature agence, candidature olona, candidature olona talents">
<meta property="og:title" content="Conditions Générales d'Utilisations">
<meta property="og:description" content="Rejoignez la première plateforme où projets ambitieux et talents de Madagascar et de l'espace francophone se rencontrent. Lancez-vous dans une aventure professionnelle sans précédent.">
<meta property="og:url" content="{{ app.request.uri }}">
<meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ asset('/images/logo-og.png') }}">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
{% endblock %}

{% block header %}
	{% set last_query = app.request.query.get('q', '') %}
	<!-- Boutons en haut à droite -->
	<div class="fixed-top d-flex justify-content-end p-2">
		{% if app.user %}
			<a href="{{ path('app_v2_dashboard_notification', {'isRead':'0'}) }}" class="position-relative me-4">
				<i class="bi bi-bell fs-4 "></i>
				<span class="position-absolute top-0 start-100 translate-middle rounded-pill ">
				{{ component('count_notification_component')}}
				<span class="visually-hidden">unread messages</span>
				</span>
			</a>
			{{ component('credit_user_component') }}
			<div class="dropdown me-3">
				<button type="button" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle btn" data-bs-toggle="dropdown" aria-expanded="false">
					{% if app.user.gravatar is not null %}
					<img src="{{ app.user.gravatar }}" alt="Avatar" style="height: 27px; width: auto;" class="rounded-circle">
					{% else %}
					<img src="{{ asset('uploads/experts/avatar-default.jpg') }}" alt="Avatar" style="height: 27px; width: auto;" class="rounded-circle">
					{% endif %}
				</button>
				<ul class="dropdown-menu text-small shadow">
					<li><a class="dropdown-item" href="{{ path('app_v2_dashboard')}}">Tableau de bord</a></li>
					<li><a class="dropdown-item" href="{{ path('app_v2_prestation')}}">Mes prestations</a></li>
					<li><a class="dropdown-item" href="{{ path('app_v2_dashboard_notification')}}">Mes notifications</a></li>
					<li><a class="dropdown-item" href="{{ path('app_v2_dashboard')}}">Mon profil</a></li>
					<li><a class="dropdown-item" href="{{ path('app_v2_contacts')}}">Mon réseau</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="{{ path('app_logout')}}">Se déconnecter</a></li>
				</ul>
			</div>
		{% else %}
			<a href="{{ path('app_login')}}" class="me-3 mt-2">Se connecter</a>
		{% endif %}
		<button id="switch-theme" class="btn btn-secondary btn-sm">
			<i class="bi bi-moon-stars-fill"></i>
		</button>
	</div>
	<header class="p-3 mb-2">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-4 mx-auto my-4">
					<a href="{{ path('app_home') }}">
						<img id="logo" src="{{ asset('images/logo-olona-talents-black600x200.png') }}" class="img-fluid mx-auto" alt="Logo">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-10 text-center mx-auto">
					<h1 class="fs-5 my-4">Le #1 moteur de recherche dédié à l'emploi à Madagascar.</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6 mx-auto">
					<form action="{{ path('app_olona_talents_candidates') }}" class="input-group mb-3 rounded-4 shadow">
						<input class="form-control" type="search" name="q" value="{{last_query}}" placeholder="Faites une recherche dès maintenant et découvrez nos services..." style="font-size: 0.8em;">
						<button class="btn btn-outline-success" type="submit"><i class="bi bi-stars"></i></button>
					</form>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block body %}

	<section class="">
		<div class="row">
			<div class="col-12 col-sm-7 mx-auto border rounded-4 shadow-custom">
				<div class="text-center p-2 p-sm-5">
					<h1 class="fs-4">
						Offres d'emploi - Profils de talents - Prestations
					</h1>
					<p class="fs-6">
						Domiciliation d'entreprise - Espace coworking - Espace publicitaire professionnel<br />Portage salarial
					</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block preview %}{% endblock %}
