{% extends 'dashboard/base.html.twig' %}

{% block title %}Toutes les participations{% endblock %}

{% block body %}
<section class="p-0 m-0">
  <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <div class="row mb-3">
                <div class="col">
                    <h1 class="h3">Toutes les participations ({{ count }})</h1>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <form action="{{ path('app_moderateur_facebook_contest_entry_index')}}" method="get">
                                <select class="form-select" name="status" onchange="this.form.submit()" aria-label="Default select example">
                                    {% for label, status in statuses %}
                                        <option value="{{ status }}" {% if selectedStatus == status %}selected{% endif %}>{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="col-auto">
                            <span class="badge bg-success">{{ countStatus }} </span>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(contest_entries, '#', 'c.id') }}</th>
                        <th>{{ knp_pagination_sortable(contest_entries, 'Utilisateur', 'c.submittedAt') }}</th>
                        <th>{{ knp_pagination_sortable(contest_entries, 'Avec CV', 'c.cvSumbitted') }}</th>
                        <th>{{ knp_pagination_sortable(contest_entries, 'Statut', 'c.status') }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for contest_entry in contest_entries %}
                    <tr>
                        <td>
                            {% if contest_entry.candidateProfile is not null %}
                                <a href="{{ path('app_dashboard_moderateur_profile_candidat_view', {'id': contest_entry.candidateProfile.id}) }}">{{ generatePseudo(contest_entry.candidateProfile) }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {{ contest_entry.user }} <br>
                            <small class="fw-bolder">{{ contest_entry.user.email }}</small> <br>
                            <small class="fw-lighter">{{ contest_entry.submittedAt|time_ago  }}</small>
                        </td>
                        <td>{{ contest_entry.cvSumbitted ? 'Oui' : 'Non' }} <span class="fw-lighter"> (Étape {{ contest_entry.step }} )</span></td>
                        <td><span class="fw-bolder">{{ contest_entry.labels[contest_entry.status]|raw }}</span></td>
                        <td>
                            <a class="btn btn-sm rounded-cirle btn-info" href="{{ path('app_moderateur_facebook_contest_entry_show', {'id': contest_entry.id}) }}"><i class="bi bi-eye"></i></a>
                            <a class="btn btn-sm rounded-cirle btn-danger" href="{{ path('app_moderateur_facebook_contest_entry_edit', {'id': contest_entry.id}) }}"><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(contest_entries) }}
        </div>
    </div>
</section>

{% endblock %}
