{% extends 'dashboard/base.html.twig' %}

{% block title %}Recruteur #{{ entreprise_profile.id }}{% endblock %}

{% block body %}
<section class="p-0 m-0">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <h1 class="h3">{{ entreprise_profile.nom }} </h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th class="col-3">Inscrit le</th>
                        <td>{{ entreprise_profile.createdAt ? entreprise_profile.createdAt|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Taille</th>
                        <td>{{ entreprise_profile.tailles[entreprise_profile.taille]|raw }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Localisation</th>
                        <td><i class="bi bi-geo-alt-fill"></i> {{ show_country(entreprise_profile.localisation) }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Gérant(e)</th>
                        <td>{{ entreprise_profile.entreprise }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Adresse email</th>
                        <td>{{ entreprise_profile.entreprise.email }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Téléphone</th>
                        <td> {{ entreprise_profile.entreprise.telephone }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">SiteWeb</th>
                        <td>{{ entreprise_profile.siteWeb }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Status</th>
                        <td>{{ entreprise_profile.labels[entreprise_profile.status]|raw }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Annonces</th>
                        <td>
                            {% if (entreprise_profile.jobListings|length > 0) %}
                            <a href="#" class="btn btn-sm rounded-pill px-4 btn-info">
                                {{ entreprise_profile.jobListings|length }} postées
                            </a>
                            {% else %}
                            Aucune annonce
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="col-3">Logo</th>
                        <td>
                            {% if entreprise_profile.fileName %}
                            <img src="{{ asset('uploads/compagnies/' ~ entreprise_profile.fileName) }}" alt="Logo" class="img-thumbnail" style="width: 100px;"/>
                            {% else %}
                            Aucun logo
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="col-3">Description</th>
                        <td>{{ entreprise_profile.description|raw }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end w-100">
                <a class="btn btn-secondary px-5 rounded-pill" href="{{ path('app_moderateur_entreprise_profile_edit', {'id': entreprise_profile.id}) }}"><i class="bi me-2 bi-pencil"></i>Modifier</a>
                {{ include('white_label/client1/admin/recruiter/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>

{% endblock %}
