{% extends 'base_admin_blog.html.twig' %}

{% block title %}Contrat #{{ contract.id }}{% endblock %}

{% block paralax %}{% endblock %}
{% block admin %}
  <div class="">
    {% include "coworking/_nav_admin.html.twig" %}
  </div>
{% endblock %}

{% block body %}
    <h1 class="h3">Contrat #{{ contract.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ contract.id }}</td>
            </tr>
            <tr>
                <th>Société</th>
                <td>{{ contract.typePerson ? 'Oui' : 'Non' }}</td>
            </tr>
            {% if contract.typePerson %}
            <tr>
                <th>Raison sociale</th>
                <td>{{ contract.socialReason ? contract.socialReason : '-' }}</td>
            </tr>
            <tr>
                <th>Numéro de SIRET</th>
                <td>{{ contract.siret ? contract.siret : '-' }}</td>
            </tr>                
            {% else %}
            <tr>
                <th>Nom</th>
                <td>{{ contract.firstName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contract.lastName }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Email</th>
                <td>{{ contract.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ contract.adress }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ contract.localisation }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ contract.telephone }}</td>
            </tr>
            <tr>
                <th>Création</th>
                <td>{{ contract.createdAt ? contract.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise à jour</th>
                <td>{{ contract.updatedAt ? contract.updatedAt|date('Y-m-d H:i:s') : '-' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ getPostStatus(contract.status)|raw }}</td>
            </tr>
            <tr>
                <th>Numéro contract</th>
                <td>{{ contract.contractNumber }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end w-100">
        <a class="btn btn-secondary px-5 rounded-pill" href="{{ path('app_coworking_contract_edit', {'id': contract.id}) }}"><i class="bi me-2 bi-pencil"></i>Modifier</a>
        {{ include('coworking/contract/_delete_form.html.twig') }}
    </div>

    <div>
        <a class="btn btn-primary my-3 px-5 rounded-pill" href="{{ path('app_coworking_contract_index') }}"><i class="bi me-2 bi-arrow-left"></i>Retour à la liste</a>
    </div>
{% endblock %}
