{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>Gestion des transactions</h2>

		{% if is_granted('ROLE_SUPER_ADMIN') %}
            <div>
                <a class="btn btn-primary my-3 px-5 rounded-pill" href="{{ path('app_dashboard_moderateur_business_model_transaction_new') }}"><i class="bi me-2 bi-plus-lg"></i>Ajouter</a>
            </div>
		{% endif %}
    {% include "dashboard/moderateur/business_model/_filter_transaction.html.twig" with {form:form} %}
    
			{% if transactions|length > 0 %}
			<span class="text-muted small">Votre recherche renvoie <span class="text-strong">{{ transactions.getTotalItemCount }}</span> résultats.</span>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<td scope="col" class="h5">
					    		Utilisateur
								</td>
								<td scope="col-2" class="h5">
								{{ knp_pagination_sortable(transactions, 'Pack', 'p.name') }}
								</td>
								<td scope="col-2" class="h5">
								{{ knp_pagination_sortable(transactions, 'Référence', 't.reference') }}
								</td>
								<td scope="col-2" class="h5">
								{{ knp_pagination_sortable(transactions, 'Date', 't.transactionDate') }}
								</td>
							</tr>
						</thead>
						<tbody>
							{% for item in transactions %}
								<tr id="row_transaction_{{item.id}}">
									<td class="">
									{% if item.user is defined and item.user is not null %}
										{{ item.user}}
										<br>
										<span class="fw-lighter small">
											{{ item.user.type }}
										</span>
										{% if item.user.type == 'ENTREPRISE' %}
										|
										<span class="fw-bold small">
											{{ item.user.entrepriseProfile.nom }}
										</span>
										{% endif %}
										{% if item.user.type == 'CANDIDAT' %}
										|
										<span class="fw-bold small">
											{{ item.user.candidateProfile.titre }}
										</span>
										{% endif %}
										<span class="fw-bold small">
											{{ item.user.email}}
										</span>
									{% endif %}
									</td>
									<td class="col-2">
										<span class="fw-light small">{{ item.package.name }} </span>
										<br>{{ statusTransaction(item)|raw }}
										<br>
										<span class="fw-lighter small">
											{{ item.amount }} Ar 
										</span>
										{% if item.transactionReferences|length > 0 %}
											<br><span class="badge badge-sm bg-info small"><i class="bi bi-info-circle"></i> Multiple </span>
										{% endif %}
									</td>
									<td class="col-2">
										<a href="{{ path('app_dashboard_moderateur_business_model_transaction_view', { 'transaction': item.id })}}" class="small">
											{{ item.reference}}
										</a>
										<br> <span class="fw-lighter small">{{ item.typeTransaction.name }}</span>
									</td>
									<td class="col-2">
										<span class="fw-light small">
											{{ item.transactionDate|date('d/m/Y h:m:i') }}
										</span>
										<br>
										<span class="fw-bold small">
											{{ item.transactionDate|time_ago }}
										</span>
										{% if item.status == 'COMPLETED' %}
											<br>
											{% if item.command.status is same as(constant('App\\Entity\\BusinessModel\\Order::STATUS_COMPLETED'))%}
											<a target=_blank href="{{ path('payment_facture', {'order': item.command.id})}}" class="small"><i class="bi bi-receipt"></i> Facture</a>
											{% endif %}
										{% endif %}
									</td>
									<td class="col-2">
										<a href="{{ path('app_dashboard_moderateur_business_model_transaction_view', { 'transaction': item.id })}}" class="btn btn-sm btn-secondary rounded-pill">
											<i class="bi bi-eye"></i>
										</a>
										<form action="{{ path('app_dashboard_moderateur_business_model_transaction_delete')}}" method="post">
											<input type="hidden" name="transactionId" value="{{item.id}}">
											<button type="submit" class="btn btn-sm btn-danger rounded-pill"
											onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette transaction ?');" >
												<i class="bi bi-trash"></i>
											</button>
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="navigation mt-5">
						{{ knp_pagination_render(transactions, 'parts/_pagination.html.twig') }}
					</div>
				</div>
			{% else %}
				<h3 class="fs-5 fw-bolder my-3 my-sm-5 text-center">
					<span class="">
						<img src="{{ asset('v2/images/6939131.png') }}" alt="icone" style="width: 30px;">
					</span>
					Aucun résultat
				</h3>
			{% endif %}

</div>
{% endblock %}

