{% extends 'base_v21.html.twig' %}

{% block title %}
	Résultat de recherche | Olona Talents
{% endblock %}

{% block meta %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}

	{% if app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_CANDIDAT'))  %}
		{% include "v2/dashboard/layout_candidat.html.twig" %}
	{% endif %}

	{% if app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_ENTREPRISE'))  %}
		{% include "v2/dashboard/layout_entreprise.html.twig" %}
	{% endif %}

{% endblock %}

{% block body %}
<input type="hidden" id="hidden-query" value="{{ getSearchQuery('q') }}">
	<div class="container">
		<div class="row mt-3 mt-sm-5">
			{% set page = "Trouver une mission" %}
			{% if app.user.type is same as(constant('App\\Entity\\User::ACCOUNT_ENTREPRISE'))  %}
			{% set page = "Trouver des opportunités" %}
			{% endif %}
			<h1 class="h5">Resultats pour "{{ getSearchQuery('q')}}" dans {{ page }}</h1>
			<div class="row">
				<div class="col-12" id="joblistings-list">
					{% if joblistings|length > 0 %}
					<p class="small fw-light mt-3">
						{% if totalResults > 2 %}
						{{ totalResults }} resultats trouvés
						{% else %}
						{{ totalResults }} resultat trouvé
						{% endif %}
					</p>
						{% include "v2/dashboard/result/parts/_part_joblistings_list.html.twig" %}
					{% else %}
                    	{% include "v2/dashboard/result/none/_none_joblistings.html.twig" %}
					{% endif %}
                </div>
			</div>

		</div>
	</div>

{% endblock %}
