{{ form_start(form, {'attr': {'class': 'white-label-form'}}) }}
{{ form_row(form.titre)}}
{{ form_row(form.description)}}
{% if job_listing is defined and job_listing.imageName %}
    <div class="mb-3">
        <img src="{{ vich_uploader_asset(job_listing, 'imageFile') }}" alt="Image" class="img-fluid" style="max-width: 200px;"/>
    </div>
{% endif %}
{{ form_row(form.imageFile)}}
<div class="row">
    <div class="col">
    {{ form_row(form.dateExpiration)}}
    </div>
    <div class="col">
    {{ form_row(form.region)}}
    </div>
</div>
<div class="row">
    <div class="col">
    {{ form_row(form.lieu)}}
    </div>
</div>
<div class="row">
    <div class="col">
    {{ form_row(form.secteur)}}
    </div>
    <div class="col">
    {{ form_row(form.nombrePoste)}}
    </div>
</div>
<div class="row">
    <div class="col">
    {{ form_row(form.competences)}}
    </div>
</div>
<div class="row">
    <div class="col">
    {{ form_row(form.entreprise)}}
    </div>
    <div class="col">
    {{ form_row(form.status)}}
    </div>
</div>
    <div class="col-12">
        {{ form_label(form.budgetAnnonce, null, {
            'label_attr': {
                'class': 'fw-bold fs-6'
            }
        }) }}
    </div>
            <div class="row mt-3">
                {{ form_label(form.primeAnnonce, null, {
                    'label_attr': {
                        'class': 'fw-bold fs-6'
                    }
                }) }}
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="fw-bold small">Prime</label>
                            {{ form_widget(form.primeAnnonce.montant) }}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="fw-bold small">Devise</label>
                            {{ form_widget(form.primeAnnonce.devise) }}
                        </div>
                    </div>
                </div>
            </div>
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label class="fw-bold small" for="prestation_tarifPrestation_montant">Salaire</label>
                {{ form_widget(form.budgetAnnonce.montant)}}
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label class="fw-bold small" for="prestation_tarifPrestation_currency">Devise</label>
                {{ form_widget(form.budgetAnnonce.currency)}}
            </div>
        </div>
    </div>
    <div class="col-12">
        {{ form_help(form.budgetAnnonce) }}
    </div>
    <div style="display:none;">
        {{ form_widget(form) }}
    </div>
    <button class="btn btn-primary px-5 rounded-pill my-4"><i class="bi me-2 bi-save"></i>{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
