
<nav class="container navbar navbar-expand-lg px-5 bg-dark">
  <a class="navbar-brand" href="{{ path('app_coworking_main') }}">
      <img src="{{ asset('images/logo-olona-talents-white600x200.png') }}" alt="logo" class="px-0 img-fluid" style="width: 100px;">
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-2">
        <a class="nav-link" href="{{ path('app_blog_post_index')}}">Articles</a>
        <a class="nav-link" href="{{ path('app_blog_category_index')}}">Catégories</a>
        <a class="nav-link" href="{{ path('app_blog_comment_index')}}">Commentaires</a>
        <a class="nav-link" href="{{ path('app_coworking_main')}}">Coworking</a>
        <a class="nav-link" href="{{ path('app_facebook_contest_index')}}">Concours</a>
        <a class="nav-link" href="{{ path('app_facebook_contest_entry_index')}}">Entrées</a>
      </div>
    </div>
  </nav>