<!DOCTYPE html>
<html data-bs-theme="light">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Olona Talents{% endblock %}</title>
		<link rel="icon" href="{{ asset('images/white-label/cropped-favicon-32x32.png') }}" sizes="32x32">
		{% block meta %}{% endblock %}
		{% block stylesheets %}
			<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bootstrap-light">
		<div class="transition-fade">
			{% block sidebar %}{% endblock %}
			{% block body %}{% endblock %}
			{% block preview %}
        	<a href="javascript:history.back()" class="d-none d-sm-block d-md-none btn btn-info fw-semibold text-uppercase px-4 my-5 me-3"><i class="mx-2 bi bi-arrow-left"></i>Retour</a>
			{% endblock %}
		</div>
		<script>

			function loadCKEditor() {
				if (typeof ClassicEditor === 'undefined') {
					var scriptTag = document.createElement('script');
					scriptTag.src = "{{ asset('assets/ckeditor5/ckeditor.js') }}";
					document.body.appendChild(scriptTag);
				}
			}

			loadCKEditor();
			document.addEventListener('turbo:load', loadCKEditor);

		</script>
		<!-- Modal porte d'entrée -->
		<div class="modal fade" id="connectingModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="">
						<div class="row">
							<div class="col-12 col-sm-4" style="
								background-image:url('{{ asset('images/home/annexe/etape-2.webp')}}');
								background-repeat: no-repeat;
								background-size: cover;
								background-position-x: left;
								border-top-left-radius: 10px;
								border-bottom-left-radius: 10px;">
							</div>
							<div class="col-12 col-sm-8 p-4 p-sm-5">
								<h3 class="">Pour postuler à cette offre, inscrivez-vous gratuitement</h3>
								<p class="">Creer votre profil :</p>
								<a href="{{ path('app_white_label_register', {'typology': 'Candidat'})}}">
								<div class="row border rounded mb-3">
									<div class="col-4" style="
										background-image:url('{{ asset('images/Candidat.png')}}');
										background-repeat: no-repeat;
										background-size: cover;
										background-position-x: left;
										border-top-left-radius: 5px;
										border-bottom-left-radius: 5px;">
									</div>
									<div class="col-8 py-4">
										<span class="fw-bold">Prestataire</span><br>
										<span class="">Je cherche des projets</span>
									</div>
								</div>
								</a>
								<p class="">Déjà inscrit ? <a href="{{ path('app_client1_login')}}">Se connecter</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- Bouton de retour en haut -->
        <button id="backToTop" class="back-to-top" style="display: none;"><i class="bi bi-chevron-up"></i></button>
		<!-- Modal -->
		<div class="modal fade" id="cooption" tabindex="-1" aria-labelledby="cooptionLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5 text-dark" id="cooptionLabel">Recommander un ami</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-dark">
					<p class="">
					Nous sommes ravis de vous offrir la possibilité de participer à notre programme de recommandation. En nous recommandant à un ami qui est à la recherche d'opportunités, non seulement vous nous aidez à grandir, mais vous bénéficiez également d'une récompense lorsque votre ami signe un contrat avec nous. Voici comment ça fonctionne :
					</p>
					<p class="">
					Recommandez un Ami : Partagez le lien de recommandation que vous trouverez dans votre espace utilisateur avec vos amis.
					</p>
					<p class="">
					Complétez vos Infos de Paiement : Assurez-vous de remplir les informations de paiement nécessaires dans votre profil pour que nous puissions vous envoyer votre récompense sans accroc.
					</p>
					<p class="">
					Récoltez les Fruits : Une fois que votre ami recommandé signe un contrat avec nous, vous recevrez votre récompense directement sur le moyen de paiement que vous avez indiqué.
					</p>
					<p class="">
					Pourquoi participer ?
					</p>
					<p class="">
					Soutenez vos Amis : Aidez vos amis à trouver une opportunité qui peut changer leur vie.
					</p>
					<p class="">
					Contribuez à Notre Croissance : Aidez-nous à trouver les meilleurs talents grâce à votre réseau.
					</p>
					<p class="">
					Recevez une Récompense : Gagnez une récompense financière en signe de notre gratitude.
					</p>
					<p class="">
					Nous apprécions votre engagement envers notre communauté et sommes impatients de récompenser votre soutien. Pour plus de détails sur le programme de recommandation ou pour toute question, n'hésitez pas à nous contacter.
					</p>
					<p class="">
					Merci de faire partie de notre succès ! Cliquez ci-dessous pour commencer.
					</p>
					</div>
					<div class="modal-footer">
						<a href="{{ path('app_dashboard_referrer_become')}}" class="btn btn-warning rounded-pill px-5">Remplir mes info Coopteur</a>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script src="{{asset('assets/js/jquery.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.steps.min.js')}}"></script>
	<script src="{{asset('assets/js/jqueryValidate.js')}}"></script>
	<script src="{{asset('assets/main.js')}}"></script>
	{{ encore_entry_script_tags('main') }}
</html>
