<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        <title>{% block title %}Coworking | Olona Talents{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    </head>
    <body id="base-coworking">
        {% block paralax %}
          <div class="paralax default-design">
            {% include "coworking/_nav.html.twig" %}
            <div class="main-content">
              <div class="container">
                <!-- Content Section -->
                <div class="row">
                  <div class="col-12 col-sm-10 mx-auto text-center">
                    <h1 class="display-5 fw-bolder">Un espace de travail inspirant pour booster votre productivité</h1>
                    <p class="lead my-4">Espaces modernes, connectés et modulables, pensés pour votre réussite.</p>
                    <a href="{{path('app_coworking_main')}}#reservationForm" class="text-white btn btn-outline-warning px-5">Réserver votre espace dès maintenant</a>
                  </div>
                </div>
                <!-- Social Links and Address Section in Line -->
                <div class="row">
                  <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <!-- Social links -->
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="text-white text-opacity-75 text-primary-hover" target="_blank" href="https://www.linkedin.com/company/emploi-madagascar/posts?lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BiwUwllhjTX2REM32%2BAYkfQ%3D%3D">
                          <i class="bi bi-linkedin"></i>
                        </a>
                      </li>
                      <li class="list-inline-item ms-3">
                        <a class="text-white text-opacity-75 text-primary-hover" target="_blank" href="https://www.facebook.com/olonatalents">
                          <i class="bi bi-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item ms-3">
                        <a class="text-white text-opacity-75 text-primary-hover" href="#">
                          <i class="bi bi-instagram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <!-- Address -->
                    <p class="font-serif text-white text-opacity-75 text-md-end">
                      <i class="bi bi-geo-alt-fill"></i> Ambatonakanga, Antananarivo, Madagascar
                    <br>
                      <i class="bi bi-clock-history"></i>
                      Lundi au Vendredi de 8h à 18h
                    <br>
                      Week-end - Privatisation uniquement
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endblock %}

        {% block admin %}
          <div class="">
            {% include "coworking/_nav_admin.html.twig" %}
          </div>
        {% endblock %}

        <div class="container-fluid m-0 p-0">
            <div class="row" id="coworking">
                {% block body %}{% endblock %}
            </div>
        </div>
        <footer class="py-3 my-4">
          <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="{{ path('app_home_legal')}}" class="px-2 text-body-secondary">Mentions Légales</a></li>
              <li class="nav-item"><a href="{{ path('app_home_privacy')}}" class="px-2 text-body-secondary">Politique de Confidentialité</a></li>
              <li class="nav-item"><a href="{{ path('app_home_terms')}}" class="px-2 text-body-secondary">Conditions d'Utilisation</a></li>
              <li class="nav-item"><a href="{{ path('app_v2_dashboard')}}" class="px-2 text-body-secondary">Olona Talents</a></li>
              <li class="nav-item"><a href="{{ path('app_home_simulateur_portage')}}" class="px-2 text-body-secondary">Portage salarial</a></li>
              {% if app.user %}
              <li class="nav-item"><a href="{{ path('app_v2_contact')}}" class="px-2 text-body-secondary">Nous contacter</a></li>
              {% else %}
              <li class="nav-item"><a href="{{ path('app_contact')}}" class="px-2 text-body-secondary">Nous contacter</a></li>
              {% endif %}
            </ul>
            <p class="text-center text-body-secondary">© 2024 Olona Talents, Tout droit reservé</p>
          </div>
        </footer>
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('main') }}
    {% endblock %}
</html>
