<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        <title>{% block title %}Coworking | Olona Talents{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    </head>
    <body id="base-coworking">
        {% block paralax %}
          <div class="paralax default-design">
            {% include "coworking/_nav.html.twig" %}
            <div class="d-flex align-items-center justify-content-center vh-100">
              <div class="row w-100">
                <div class="col-12 col-sm-8 mx-auto text-center">
                  <h1 class="display-1 fw-bolder">Coworking</h1>
                  <p class="lead my-4">Notre espace de coworking propose un environnement collaboratif idéal pour les professionnels désireux de travailler dans un cadre dynamique et inspirant.</p>
                  <button type="button" class="btn btn-outline-warning px-5">Prendre une reservation</button>
                </div>
              </div>
            </div>
          </div>
        {% endblock %}

        {% block admin %}
          <div class="">
            {% include "coworking/_nav_admin.html.twig" %}
          </div>
        {% endblock %}

        <div class="container-fluid m-0 p-0">
            <div class="row" id="coworking">
                {% block body %}{% endblock %}
            </div>
        </div>

        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{ path('app_home_legal')}}" class="px-2 text-body-secondary">Mentions Légales</a></li>
            <li class="nav-item"><a href="{{ path('app_home_privacy')}}" class="px-2 text-body-secondary">Politique de Confidentialité</a></li>
            <li class="nav-item"><a href="{{ path('app_home_terms')}}" class="px-2 text-body-secondary">Conditions d'Utilisation</a></li>
            <li class="nav-item"><a href="{{ path('app_home')}}" class="px-2 text-body-secondary">Olona Talents</a></li>
            {% if app.user %}
            <li class="nav-item"><a href="{{ path('app_v2_contact')}}" class="px-2 text-body-secondary">Nous contacter</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ path('app_contact')}}" class="px-2 text-body-secondary">Nous contacter</a></li>
            {% endif %}
          </ul>
          <p class="text-center text-body-secondary">© 2024 Olona Talents, Tout droit reservé</p>
        </footer>
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('main') }}
    {% endblock %}
</html>
