<!DOCTYPE html>
<html data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        <title>{% block title %}Blog | Olona Talents{% endblock %}</title>
        {% block meta %}
          <meta name="description" content="Réservez votre espace dès aujourd'hui chez Olona Talents : 18 postes de coworking disponibles, modernes et connectés. Profitez d'un cadre inspirant pour booster votre productivité et travailler en toute sérénité.">
          <meta name="keywords" content="coworking, antananarivo, madagascar, espace francophone, talents, freelance, projet, offre, portage salarial, cooptation, recrutement">
          <meta property="og:title" content="Blog | Olona Talents">
          <meta property="og:description" content="Réservez votre espace dès aujourd'hui chez Olona Talents : 18 postes de coworking disponibles, modernes et connectés. Profitez d'un cadre inspirant pour booster votre productivité et travailler en toute sérénité.">
          <meta property="og:url" content="{{ app.request.uri }}">
          <meta property="og:image" content="{{ app.request.schemeAndHttpHost ~ asset('/images/opengraph/coworking.png') }}">
          <meta property="og:image:width" content="1200"/>
          <meta property="og:image:height" content="630"/>
        {% endblock %}
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {% include "gtag_cookie_script.html.twig" %}
    </head>
    <body id="base-coworking">
        {% block header %}
            <!-- Boutons en haut à droite -->
            {% include "home/_nav_contact.html.twig" %}
        {% endblock %}

        {% block body %}{% endblock %}
        <footer class="footer-light bg-cover">
            <div class="container">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <div class="ot_about">
                                <div class="logo-footer clearfix">
                                    <a href="/"><img src="{{ asset('images/logo-olona-talents-white600x200.png')}}" alt="Olona Talents" width="250" height="93"></a>
                                </div>
                                <p>Olona Talents, le <span>#1</span> moteur de recherche</p>
                                <ul class="ftr-list">
                                    <li><p><span>Address :</span>Ambatonakanga, Antananarivo, Madagascar </p></li>
                                    <li><p><span>Horaire :</span>Lundi au Vendredi de 8h à 18h</p></li>
                                    <li><p><span>Tel. :</span>+261 32 03 734 31</p></li>
                                    <li><p><span>Suivez-nous sur :</span><a href="https://www.facebook.com/olonatalents" target="_blank"><i class="bi bi-facebook"></i></a></p></li>
                                </ul>
                            </div>                            
                            
                        </div> 

                        <div class="col-lg-9 col-md-12">
                            <div class="row">
                                
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="ot_services ftr-list-center">
                                        <h3 class="title">Pour les candidats</h3>
                                        <ul>
                                            <li><a href="#">Tableau de bord utilisateur</a></li>
                                            <li><a href="#">Alerte d'emploi</a></li>
                                            <li><a href="#">Candidature</a></li>
                                            <li><a href="#">Annonces de services</a></li>
                                        </ul>
                                    </div>
                                </div>
                            
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="ot_services ftr-list-center">
                                        <h3 class="title">Pour les entreprises</h3>
                                        <ul>
                                            <li><a href="#">Tableau de bord utilisateur</a></li>
                                            <li><a href="#">Consultation CVthèque</a></li>
                                            <li><a href="#">Offre d'emploi</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">  
                                    <div class="ot_services ftr-list-center">
                                        <h3 class="title">Infos</h3>
                                        <ul>
                                            <li><a href="/legal-mentions">Mentions Légales</a></li>
                                            <li><a href="/privacy-policy">Politique de Confidentialité</a></li>
                                            <li><a href="/terms-and-conditions">Conditions d'Utilisation</a></li>
                                            <li><a href="/contact">Nous contacter</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">  
                                    <div class="ot_services ftr-list-center">
                                        <h3 class="title">Liens divers</h3>
                                        <ul>
                                            <li><a href="#">Accueil</a></li>
                                            <li><a href="/portage-salarial">Portage salariale</a></li>
                                            <li><a href="/coworking/">coworking</a></li>
                                            <li><a href="#">Prestations</a></li>
                                            <li><a href="/blog/">Le Blog</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>  

                        </div> 

                    </div>
                </div>
                <!-- FOOTER COPYRIGHT -->
                <div class="footer-bottom">
                
                    <div class="footer-bottom-info">
                        <div class="footer-copy-right">
                            <span class="copyrights-text">Copyright © 2025 OlonaTalents.</span>
                        </div>
                        <ul class="social-icons">
                            <li><a href="" class="profil-social"><img src="{{ asset('v2/images/dashboard/facebook.svg')}}" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        {% include "cookies_management.html.twig" %}
    
        <script>
    
          function loadCKEditor() {
            if (typeof ClassicEditor === 'undefined') {
              var scriptTag = document.createElement('script');
              scriptTag.src = "{{ asset('assets/ckeditor5/ckeditor.js') }}";
              document.body.appendChild(scriptTag);
            }
          }
    
          loadCKEditor();
          document.addEventListener('turbo:load', loadCKEditor);
    
        </script>
        <!-- Bouton de retour en haut -->
        <button id="backToTop" class="back-to-top" style="display: none;"><i class="bi bi-chevron-up"></i></button>
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('main') }}
        {{ encore_entry_script_tags('iary') }}
    {% endblock %}
</html>
