{% extends 'dashboard/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Tableau de bord</h1>

    <div class="row">
        <div class="col-md-4">
            <a href="{{ path('app_dashboard_moderateur_simulateur') }}" class="text-decoration-none">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ simulations }}</h2>
                        <p class="card-text small">Simulations</p>
                    </div>
                </div>
            </a>
        </div>  
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="{{ path('app_dashboard_moderateur_secteur') }}" class="text-decoration-none">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ secteurs }}</h2>
                        <p class="card-text small">Secteur d'activité</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="{{ path('app_dashboard_moderateur_type_contrat') }}" class="text-decoration-none">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ typeContrats }}</h2>
                        <p class="card-text small">Type de contrat</p>
                    </div>
                </div>
            </a>
        </div>    
    </div>

    <div class="row">

        <div class="col-md-4">
                <div class="card text-white bg-secondary mb-3">
                    <div class="row">
                        <div class="col">
                        <a href="{{ path('app_dashboard_moderateur_annonces') }}" class="text-decoration-none text-white">
                            <div class="card-body">
                                <h2 class="card-title">{{ annonces }}</h2>
                                <p class="card-text small">Annonces</p>
                            </div>
                        </a>
                        </div>
                        <div class="col">
                            <div class="card-body">
                            {% if annonces_pending > 0 %}
                            <a href="{{ path('app_dashboard_moderateur_annonces', {'status':'PENDING'}) }}" class="text-decoration-none">
                                <p class="card-text"> <span class="badge text-bg-dark rounded-pill"><span class="fs-6">{{ annonces_pending }}</span> à valider</span></p>
                            </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        </div> 
        <div class="col-md-4">
            <a href="{{ path('app_dashboard_moderateur_profile_entreprise') }}" class="text-decoration-none">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ entreprises }}</h2>
                        <p class="card-text small">Entreprises</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                        <a href="{{ path('app_dashboard_moderateur_profile_candidat') }}" class="text-decoration-none text-white">
                            <h2 class="card-title">{{ candidats }}</h2>
                            <p class="card-text small">Candidats</p>
                        </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                        <a href="{{ path('app_dashboard_moderateur_profile_candidat', {'status':'PENDING'}) }}" class="text-decoration-none">
                        {% if candidats_pending > 0 %}
                            <p class="card-text"> <span class="badge text-bg-dark rounded-pill"><span class="fs-6">{{ candidats_pending }}</span> à valider</span></p>
                        {% endif %}
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="{{ path('app_dashboard_moderateur_invitation') }}" class="text-decoration-none">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ invitations }}</h2>
                        <p class="card-text small">Invitation</p>
                    </div>
                </div>
            </a>
        </div>  

        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                        <a href="{{ path('app_v2_staff_prestation') }}" class="text-decoration-none text-white">
                            <h2 class="card-title">{{ prestations }}</h2>
                            <p class="card-text small">Prestations</p>
                        </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                        <a href="{{ path('app_dashboard_notification', {'isRead':'0'}) }}" class="text-decoration-none">
                        {% if prestations_new|length > 0 %}
                            <p class="card-text"> <span class="badge text-bg-dark rounded-pill">Nouvelles <span class="fs-6">{{ prestations_new|length }}</span></span></p>
                        {% endif %}
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    

        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                        <a href="{{ path('app_dashboard_moderateur_candidatures') }}" class="text-decoration-none text-white">
                            <h2 class="card-title">{{ candidatures }}</h2>
                            <p class="card-text small">Candidatures</p>
                        </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                        <a href="{{ path('app_dashboard_moderateur_candidatures', {'status':'PENDING'}) }}" class="text-decoration-none">
                        {% if candidatures_new > 0 %}
                            <p class="card-text"> <span class="badge text-bg-dark rounded-pill">Nouvelles <span class="fs-6">{{ candidatures_new }}</span></span></p>
                        {% endif %}
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                        <a href="{{ path('app_dashboard_moderateur_business_model_transaction') }}" class="text-decoration-none text-white">
                            <h2 class="card-title">{{ transactions }}</h2>
                            <p class="card-text small">Transactions</p>
                        </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-body">
                        <a href="{{ path('app_dashboard_moderateur_business_model_transaction', {'status':'PENDING'}) }}" class="text-decoration-none">
                        {% if transactions_new > 0 %}
                            <p class="card-text"> <span class="badge text-bg-dark rounded-pill">Nouvelles <span class="fs-6">{{ transactions_new }}</span></span></p>
                        {% endif %}
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

{% endblock %}
