{% extends 'dashboard/base.html.twig' %}

{% block body %}
	<div class="container mt-5">
        <h1 class="h4 mb-3">Utilisateurs connéctés à Olona Talents</h1>
        {{ form_start(form) }}
        <div class="m-4">
          <div class="input-group">
              {{ form_widget(form.days, {'attr': {'class': 'form-control'}}) }}
              {{ form_widget(form.startDate, {'attr': {'class': 'form-control'}}) }}
              {{ form_widget(form.endDate, {'attr': {'class': 'form-control'}}) }}
              {{ form_widget(form.submit, {'attr': {'class': 'btn btn-dark px-5'}}) }}
          </div>
        </div>
        {{ form_end(form) }}
        {% if users|length > 0 %}
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">{{ knp_pagination_sortable(users, 'Nom et prénoms', 'u.nom') }}</th>
                <th scope="col">{{ knp_pagination_sortable(users, 'Compte', 'u.type') }}</th>
                <th scope="col">{{ knp_pagination_sortable(users, 'Date', 'u.lastLogin') }}</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                  <td>
                    {{ user.nom }} {{ user.prenom }} <br>
                    <span class="small fw-lighter">{{ user.email }}</span>
                  </td>
                  <td>{{ user.type }}</td>
                  <td>
                    {{ user.lastLogin|date('d/m/Y') }}<br>
                    <span class="small fw-lighter">{{ user.lastLogin|date('H:i:s') }}</span>
                  </td>
                  <td><a target="_blank" href="{{ path('app_v2_staff_history_user', {'user': user.id })}}" class="btn-primary btn btn-sm rounded-pill px-3">Voir</a></td>
                </tr>                    
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(users, 'parts/_pagination.html.twig') }}
        </div>

        {% else %}
            <div class="text-center col-lg-6 col-sm-12 mx-auto">
                <img src="{{ asset('images/empty.png')}}" class="img-fluid">
                <p class="text-center">Aucune historique à afficher.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}