{% extends 'dashboard/base.html.twig' %}

{% block title %}
  Gestion des prestations
{% endblock %}

{% block body %}
<section class="p-0 m-0">
  <div class="container">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
      <div class="row mb-3">
        <h1 class="h3">Gestion des prestations</h1>
        <div>
          <a class="btn btn-primary my-3 px-5 rounded-pill" href="{{ path('app_v2_staff_create_prestation') }}"><i class="bi me-2 bi-plus-lg"></i>Ajouter</a>
        </div>
        <div class="shadow-custom p-2 p-sm-4">
          {% if prestations|length > 0 %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="fw-bolder">
                            <th scope="col">{{ knp_pagination_sortable(prestations, 'Titre', 'p.title') }}</th>
                            <td scope="col" class="text-center">Créée par</td>
                            <th scope="col">{{ knp_pagination_sortable(prestations, 'Statut', 'p.status') }}</th>
                            <td scope="col" class=""></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in prestations %}
                    <tr>
                        <td class="">{{ item.titre }}</td>
                        <td class="text-center fs-6 fw-light">{{ getAuthor(item)|raw }}</td>
                        <td class="">{{ satusPrestation(item)|raw }}</td>
                        <td class="">
                          <a href="{{ path('app_v2_staff_edit_prestation', { 'prestation': item.id })}}" class="btn btn-sm btn-primary rounded-pill"><i class="bi bi-pencil-square"></i></a>
                          <a href="{{ path('app_v2_staff_view_prestation', { 'prestation': item.id })}}" class="btn btn-sm btn-secondary rounded-pill"><i class="bi bi-eye"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation mt-5">
                  {{ knp_pagination_render(prestations) }}
                </div>
            </div>
          {% else %}
            <h3 class="fs-5 fw-bolder my-3 my-sm-5 text-center">
                <span class="">
                    <img src="{{ asset('v2/images/6939131.png') }}" alt="icone" style="width: 30px;">
                </span>
                1ère chose à faire
            </h3>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
