<div class="mb-4 mb-2">
    <div class="">
        <div class="card-img-top bg-image-candidat" style="background-image: url('{{ asset('images/annonce.jpg')}}');">
            <div class="titre-overlay position-absolute w-100">
                <h6 class="card-title m-0 p-2">{{ job.titre|upper }}</h6>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text small">
                {{ job.shortDescription|raw }}
            </p>
            {% if job.competences|length > 0 %}
                <p class="card-text fw-bold small">
                    <span class="fs-5">Compétences requises</span><br>
                    {% set count = 0 %}
                    {% for skill in job.competences %}
                        {% if count < 3 %}
                            <span class="badge bg-info">{{ skill.nom }}</span>
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if job.competences|length > 4 %}
                        <span class="badge bg-dark rounded-pill">+{{ job.competences|length - 3 }}</span>
                    {% endif %}
                </p>
            {% endif %}
            <p class="small">
                <span class="fw-bold fs-5">Type contrat</span><br>
                <i class="bi bi-bookmark-check"></i>
                {{ job.typeContrat }}
            </p>
            {% if job.budgetAnnonce is not empty %}
                <p class="small">
                    <span class="fw-bold fs-5">Budget indicatif</span><br>
                    <i class="bi bi-currency-exchange"></i>
                    {{ job.budgetAnnonce }}
                </p>
            {% endif %}
            <p class="small">
                <span class="fw-bold fs-5">Date expiration</span><br>
                <i class="bi bi-hourglass-top"></i>
                {{ job.dateExpiration|date("d/m/Y") }}
            </p>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-sm fw-semibold mb-3 px-3 mx-auto" data-bs-toggle="modal" data-bs-target="#connectingModal" data-bs-href="{{ path('app_v2_recruiter_favorite_add_candidate', {'id':job.id}) }}">Voir contact</button>
                <button type="button" class="btn btn-primary btn-sm fw-semibold mb-3 px-3 mx-auto" data-bs-toggle="modal" data-bs-target="#connectingModal" data-bs-href="{{ path('app_v2_recruiter_favorite_add_candidate', {'id':job.id}) }}">Postuler</button>
            </div>
        </div>
    </div>
</div>