
    <div class="mb-4 mb-2">
        <div class="">
            <div class="card-img-top bg-image-candidat" style="background-image: url('{{ asset('uploads/experts/' ~ candidate.fileName)}}');">
                <div class="titre-overlay position-absolute w-100">
                    <h6 class="card-title m-0 p-2">{{ generatePseudoById(candidate.id) }}</h6>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <span class="mb-1 fs-4">{{ candidate.titre|upper }} </span>
                </p>
                <p class="card-text small">
                {{ candidate.metaDescription|raw}}
                </p>
                {% if candidate.competences|length > 0 %}
                <p class="card-text fw-bold small">
                    <span class="fs-5">Compétences</span><br>
                    {% set count = 0 %}
                    {% for skill in candidate.competences %}
                        {% if count < 3 %}
                            <span class="badge bg-info">{{ skill.nom }}</span>
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if candidate.competences|length > 4 %}
                        <span class="badge bg-dark rounded-pill">+{{ candidate.competences|length - 3 }}</span>
                    {% endif %}
                </p>
                {% endif %}
                {% if candidate.experiences|length > 0 %}
                <p class="small">
                    <span class="fw-bold fs-5">Expériences</span><br>
                    <i class="mx-1 bi bi-trophy"></i> Missions réalisées: <span class="badge bg-success">5</span>
                </p>
                {% endif %}
                {% if candidate.langages|length > 0 %}
                <p class="small">
                    <span class="fw-bold fs-5">Langues</span><br>
                    {% for langage in candidate.langages %}
                    {{ isoToEmoji(langage.langue.code) }}
                    {% endfor %}
                </p>
                {% endif %}
                <p class="small">
                    <span class="fw-bold fs-5">Disponibilité</span><br>
                    <i class="bi bi-clock-history"></i> {{ candidate.availability }}</span>
                </p>
                {% if candidate.tarifCandidat is not empty %}
                <p class="small">
                    <span class="fw-bold fs-5">Tarif</span><br>
                    <i class="bi bi-tag"></i> {{ candidate.tarifCandidat }}</span>
                </p>
                {% endif %}
                <p class="fw-bold small">
                    <span class="fs-5">Secteur d'activité</span><br>
                    {% set countSecteurs = 0 %}
                    {% for skill in candidate.secteurs %}
                        {% if countSecteurs < 3 %}
                            <span class="badge bg-warning">{{ skill.nom }}</span>
                            {% set countSecteurs = countSecteurs + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if candidate.secteurs|length > 4 %}
                        <span class="badge bg-dark rounded-pill">+{{ candidate.secteurs|length - 3 }}</span>
                    {% endif %}
                </p>
                <div class="text-center">
                    {% if app.user %}
                        <a class="dropdown-item" href="{{ path('app_v2_recruiter_favorite_add_candidate', {'id':candidate.id}) }}">Voir le contact (50 crédits)</a>
                        <a class="dropdown-item add-to-favorites" data-href="{{ path('app_v2_recruiter_favorite_add_candidate', {'id':candidate.id}) }}" href="#">Ajouter comme favoris</a>
                    {% else %}
                        <button type="button" class="btn btn-primary btn-sm fw-semibold mb-3 px-3 mx-auto" data-bs-toggle="modal" data-bs-target="#connectingModal" data-bs-href="{{ path('app_v2_recruiter_favorite_add_candidate', {'id':candidate.id}) }}">Voir contact</button>
                        <button type="button" class="btn btn-primary btn-sm fw-semibold mb-3 px-3 mx-auto" data-bs-toggle="modal" data-bs-target="#connectingModal" data-bs-href="{{ path('app_v2_recruiter_favorite_add_candidate', {'id':candidate.id}) }}">Ajouter comme favoris</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>