
    <div class="mb-4 mb-2">
        <div class="">
            <div class="card-img-top bg-image-candidat" style="background-image: url('{{ prestation.fileName ? asset('uploads/prestations/' ~ prestation.fileName) : asset('images/Coopteur.png') }}');">
                <div class="titre-overlay position-absolute w-100">
                    <h6 class="card-title m-0 p-2">{{ prestation.titre }} </h6>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text small">
                {{ prestation.openai}}
                </p>
                {% if prestation.competences is not empty and prestation.competences|length > 0 %}
                <p class="card-text fw-bold small">
                    <span class="fs-5">Spécialisations</span><br>
                    {% set count = 0 %}
                    {% for skill in prestation.competences %}
                        {% if count < 3 %}
                            <span class="badge bg-info rounded-pill">{{ skill.nom }}</span>
                            {% set count = count + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if prestation.competences|length > 4 %}
                        <span class="badge bg-dark rounded-pill">+{{ prestation.competences|length - 3 }}</span>
                    {% endif %}
                </p>
                {% endif %}
                <p class="card-text fw-bold small">
                    <span class="fs-5">Secteur</span><br>
                    <span class="badge bg-dark rounded-pill">{{ prestation.secteurs.nom }}</span>
                </p>
                <p class="small">
                    <span class="fw-bold fs-5">Modalité prestation</span><br>
                    <i class="bi bi-person-workspace me-2"></i> {{ prestation.modalitesPrestation }}</span>
                </p>
                {% if prestation.tarifPrestation is defined and prestation.tarifPrestation is not null %}
                <p class="card-text fw-bold small">
                    <span class="fs-5">Tarif</span><br>
                    {{ prestation.tarifPrestation }}
                </p>
                {% endif %}
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-sm fw-semibold mb-3 px-3 mx-auto" data-bs-toggle="modal" data-bs-target="#connectingModal" data-bs-href="{{ path('app_v2_view_prestation', {'prestation':prestation.id}) }}">Voir contact</button>
                </div>
            </div>
        </div>
    </div>
