{% extends 'base_coworking.html.twig' %}

{% block title %}Places{% endblock %}

{% block paralax %}{% endblock %}

{% block admin %}
  {% if is_granted('ROLE_ADMIN') %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block body %}
{% if not is_granted('ROLE_ADMIN') %}
<header class="header-home">
    <div class="page-content">
        <div class="home-banner-section header-home-user bg-cover" style="background-image:url({{ asset('v2/images/coworking-olona-talents.webp')}})">
            <div class="home-inner-section">
                <div class="mid-section">
                    <div id="liveDateTime" data-initial-date="{{ 'now'|date('Y-m-d H:i:s') }}"></div>
                    <h1 class="title-large">Places</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}
<section class="p-0 m-0">
  <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg">
            <div class="col-9">
                
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                <h1 class="h3">Places coworking</h1>
                <div>
                    <a class="btn btn-primary my-3 px-5 rounded-pill" href="{{ path('app_place_new') }}"><i class="bi me-2 bi-plus-lg"></i>Ajouter</a>
                </div>
                {% endif %}
        
                {% if places|length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">{{ knp_pagination_sortable(places, 'ID', 'p.id') }}</th>
                        <th scope="col">{{ knp_pagination_sortable(places, 'Reference', 'p.name') }}</th>
                        <th scope="col">{{ knp_pagination_sortable(places, 'Catégorie', 'p.category') }}</th>
                        <th scope="col" class="text-center">{{ knp_pagination_sortable(places, 'Prix', 'p.price') }}</th>
                        <th scope="col" class="text-center">{{ knp_pagination_sortable(places, 'Privatisée', 'p.isAvailable') }}</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for place in places %}
                        <tr>
                            <td>{{ place.id }}</td>
                            <td>{{ place.name }}</td>
                            <td>{{ place.category == null ? 'Non défini' : place.category.name }}</td>
                            <td class="text-center">{{ place.price }} Ar</td>
                            <td class="text-center">{{ place.isAvailable ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a class="btn btn-sm rounded-cirle btn-info" href="{{ path('app_place_show', {'id': place.id}) }}"><i class="bi bi-eye"></i></a>
                                <a class="btn btn-sm rounded-cirle btn-danger" href="{{ path('app_place_edit', {'id': place.id}) }}"><i class="bi bi-pencil"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(places) }}
                {% else %}
                <div class="text-center col-lg-6 col-sm-12 mx-auto">
                    <img src="{{ asset('images/empty.png')}}" class="img-fluid">
                    <p class="text-center">Aucune place trouvée</p>
                </div>
                {% endif %}
            </div>
            <div class="col-3">
                {% include "coworking/place/_side.html.twig" %}
            </div>
    </div>
</section>
{% endblock %}
