{% set current_route = app.request.attributes.get('_route') %}
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark position-sticky top-0" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{ path('app_dashboard_moderateur')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur' ? 'active' : 'text-white' }}" 
            {{ current_route == 'app_dashboard_moderateur' ? 'aria-current=page' : '' }}>
            <i class="mx-2 h5 bi bi-house-door"></i>
            Tableau de bord  
        </a>
      </li>
      <hr>
      <li>
        <a href="{{ path('app_marketing_lead_index')}}" 
            class="nav-link {{ current_route == 'app_marketing_lead_index' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-chat-dots"></i>
            Leads
        </a>

      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_profile_candidat')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_profile_candidat' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-people"></i>
            Profils  
        </a>
      </li>
      <li>
        <a href="{{ path('app_moderateur_facebook_contest_entry_index')}}" 
            class="nav-link {{ current_route == 'app_moderateur_facebook_contest_entry_index' ? 'active' : 'text-white' }}">
            <i class="h5 mx-2 bi bi-controller"></i>
            Concours   
        </a>
      </li>
      <li>
        <a href="{{ path('app_moderateur_activity_page_chart')}}" 
            class="nav-link {{ current_route == 'app_moderateur_activity_page_chart' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-graph-up"></i>
            Metrics  
        </a>
      </li>
      <li>
        <a href="{{ path('app_moderateur_entreprise_profile_index')}}" 
            class="nav-link {{ current_route == 'app_moderateur_entreprise_profile_index' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-building"></i>
            Entreprises  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_annonces')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_annonces' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-megaphone"></i>
            Annonces   
        </a>

      </li>
      <li>
        <a href="{{ path('app_v2_staff_prestation')}}" 
            class="nav-link {{ current_route == 'app_v2_staff_prestation' ? 'active' : 'text-white' }}">
            <i class="bi bi-person-workspace mx-2 h5"></i>
            Prestations   
        </a>

      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_business_model_transaction')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_business_model_transaction' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-credit-card-fill"></i>
            Transactions  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_candidatures')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_candidatures' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-person-bounding-box"></i>
            Candidatures  
        </a>
      </li>
      <li>
        <a href="{{ path('app_v2_staff_history')}}" 
            class="nav-link {{ current_route == 'app_v2_staff_history' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-calendar3"></i>
            Logs Utilisateurs  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_moderateur_invitation')}}" 
            class="nav-link {{ current_route == 'app_dashboard_moderateur_invitation' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-send"></i>
            Invitations  
        </a>
      </li>
      <li>
        <a href="{{ path('app_affiliate_tool_index')}}" 
            class="nav-link {{ current_route == 'app_affiliate_tool_index' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-robot"></i>
            AI Tools  
        </a>
      </li>
      <li>
        <a href="{{ path('app_dashboard_formation')}}" 
            class="nav-link {{ current_route == 'app_dashboard_formation' ? 'active' : 'text-white' }}">
            <i class="mx-2 h5 bi bi-journal-bookmark-fill"></i>
            Formations  
        </a>
      </li>
    </ul>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="{{ path('app_logout')}}" class="nav-link text-white">
            <i class="mx-2 h5 bi bi-box-arrow-right"></i>
            {{ 'app_dashboard_entreprise.logout'|trans }}    
        </a>
      </li>
    </ul>
  </div>