{% extends 'tableau_de_bord/base.html.twig' %}

{% block title %}Mes simulations{% endblock %}

{% block body %}
<section class="">
    <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
                <a href="javascript:history.back()" class="d-block btn btn-info fw-semibold text-uppercase me-3 btn_retour">
                <i class="mx-2 bi bi-arrow-left"></i>Retour</a>
                <h5 class="mb-0"> Mes simulations </h5>
            </div>
        <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
            <li class="breadcrumb-item position-relative">
                <a routerlink="{{ path('app_tableau_de_bord_candidat')}}" class="d-inline-block position-relative" href="{{ path('app_tableau_de_bord_candidat')}}">
                <i class="ri-home-8-line"></i> Tableau de bord </a>
            </li>
            <li class="breadcrumb-item position-relative"> Profil </li>
            <li class="breadcrumb-item position-relative"> Mes simulations </li>
        </ol>
    </div>
</section>
{% if not candidat.isIsPremium %}
<section class="warning_freemium mb-4 d-flex align-items-center">
    <span><img src="{{ asset('v2/images/dashboard/warning_outline_icon.svg')}}" alt=""></span>
    <div class="warning-block">
        Vous êtes actuellement sur un plan gratuit. <a routerlink="{{ path('app_tableau_de_bord_candidat_tarifs_standard')}}" class="btn-primary" href="{{ path('app_tableau_de_bord_candidat_tarifs_standard')}}">Achetez du credit</a> pour <a routerlink="{{ path('app_tableau_de_bord_candidat_boost')}}" class="btn-primary" href="{{ path('app_tableau_de_bord_candidat_boost')}}">booster la visibilité</a> de votre profil ou encore, passez à un <a routerlink="{{ path('app_tableau_de_bord_candidat_tarifs')}}" class="btn-primary" href="{{ path('app_tableau_de_bord_candidat_tarifs')}}">abonnement premium</a> pour profiter d’avantages supplémentaires, gagné de rang pour être au sommet du resultat de recherche.
    </div>
</section>
{% endif %}
<section class="detail_db d-md-flex bp_">
    <div class="biographie-profil mb-4 p-4">
        <div class="notification-top-item">
            <h1>Mes simulations</h1>
                {% if simulations|length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">{{ knp_pagination_sortable(simulations, 'Salaire net souhaité', 's.salaireNet') }}</th>
                        <th scope="col" class="text-center">{{ knp_pagination_sortable(simulations, 'Créée le', 's.createdAt') }}</th>
                        <th scope="col" class="text-center">{{ knp_pagination_sortable(simulations, 'Type', 's.type') }}</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for simulation in simulations %}
                        <tr>
                            <td>{{ simulation.salaireNet }} {{ simulation.devise.symbole }}</td>
                            <td class="text-center">{{ simulation.createdAt|date('d/m/Y') }}</td>
                            <td class="text-center">{{ simulation.type}}</td>
                            <td>
                                <a href="{{ path('app_tableau_de_bord_candidat_simulateur_view', { 'simulateur': simulation.id })}}" class="btn btn-sm btn-secondary rounded-pill">
                                    <i class="bi bi-eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(simulations) }}
                {% else %}
                <div class="text-center col-lg-6 col-sm-12 mx-auto">
                    <img src="{{ asset('images/empty.png')}}" class="img-fluid">
                    <p class="text-center">Aucune simulation de salaire trouvée</p>
                </div>
                {% endif %}
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="notification" tabindex="-1" aria-labelledby="notificationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="notificationLabel">Notification</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
{% endblock %}