{% extends 'tableau_de_bord/base.html.twig' %}

{% block title %}Mofifier mot de passe{% endblock %}

{% block body %}
<section class="">
    <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
                <a href="javascript:history.back()" class="d-block btn btn-info fw-semibold text-uppercase me-3 btn_retour">
                <i class="mx-2 bi bi-arrow-left"></i>Retour</a>
                <h5 class="mb-0"> Modifier mon mot de passe </h5>
            </div>
        <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
            <li class="breadcrumb-item position-relative">
                <a routerlink="{{ path('app_tableau_de_bord_candidat')}}" class="d-inline-block position-relative" href="{{ path('app_tableau_de_bord_candidat')}}">
                <i class="ri-home-8-line"></i> Tableau de bord </a>
            </li>
            <li class="breadcrumb-item position-relative"> Paramètres </li>
            <li class="breadcrumb-item position-relative"> Modifier mot de passe </li>
        </ol>
    </div>
</section>
<div class="biographie-profil mb-4 p-4 mjr_mdp">
    <h2> Mettez à jour votre mot de passe </h2>
    {{ form_start(form)}}
    {{ form_widget(form)}}
    <button type="submit" class="btn btn-primary">Modifier mon mot de passe</button>
    {{ form_end(form)}}
</div>
{% endblock %}
