{% extends 'tableau_de_bord/base.html.twig' %}

{% block title %}Mofifier mon profil{% endblock %}

{% block body %}
<section class="">
    <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
        <h5 class="mb-0">Modifier mon profil</h5>
        <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
            <li class="breadcrumb-item position-relative">
                <a routerlink="{{ path('app_tableau_de_bord_candidat')}}" class="d-inline-block position-relative" href="{{ path('app_tableau_de_bord_candidat')}}">
                <i class="ri-home-8-line"></i> Tableau de bord </a>
            </li>
            <li class="breadcrumb-item position-relative"> Paramètres </li>
            <li class="breadcrumb-item position-relative"> Mon profil </li>
        </ol>
    </div>
</section>
<div class="biographie-profil mb-4 p-4 apparition_">
    {{ form_start(form, {'attr': {'data-turbo': 'false'}})}}
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-3 col-sm-12 text-center">
            <div class="rounded-circle profile-img bg-image-candidat-account" style="background-image: url('{{ form.vars.data.fileName ? asset('uploads/experts/' ~ form.vars.data.fileName) : asset('uploads/experts/avatar-default.jpg') }}');cursor:pointer;" alt="Avatar">
                <div class="overlay-text">Changer la photo</div>
            </div>
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
        </div>
        <div class="col-lg-9 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                {{ form_row(form.candidat.nom)}}
                </div>
                <div class="col-lg-6 col-sm-12">
                {{ form_row(form.candidat.prenom)}}
                </div>
            </div>
            {{ form_row(form.birthday)}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
        {{ form_row(form.candidat.telephone)}}
        </div>
        <div class="col-lg-6 col-sm-12">
        {{ form_row(form.candidat.adress)}}
        </div>
    </div>
    {{ form_row(form.candidat.email)}}
    {{ form_row(form.titre)}}
    {{ form_row(form.secteurs)}}
    {{ form_row(form.resume)}}
    <div class="row">
        <div class="col-sm-12 col-md-4">{{ form_row(form.tarifCandidat.montant) }}</div>
        <div class="col-sm-12 col-md-4">{{ form_row(form.tarifCandidat.typeTarif) }}</div>
        <div class="col-sm-12 col-md-4">{{ form_row(form.tarifCandidat.currency) }}</div>
    </div>
    {{ form_row(form.competences)}}
    {{ form_row(form.experiences)}}
    {{ form_row(form.langages)}}
    {{ form_row(form.social)}}
    {{ form_row(form.cv)}}
    <div style="display:none;">
        {{ form_widget(form)}}
    </div>
    <hr/>
    <button type="submit" class="btn btn-primary px-5 rounded-pill btn-lg">Sauvegarder</button>
    {{ form_end(form)}}
</div>
<script>
    document.querySelector('.profile-img').addEventListener('click', function() {
        document.getElementById('{{ form.file.vars.id }}').click();
    });

    document.getElementById('{{ form.file.vars.id }}').addEventListener('change', function(event) {
        if (event.target.files && event.target.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.querySelector('.profile-img').style.backgroundImage = 'url(' + e.target.result + ')';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    });
</script>
{% endblock %}
