{% extends 'tableau_de_bord/base.html.twig' %}

{% block title %}Mes notifications{% endblock %}

{% block body %}
<section class="">
    <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
        <h5 class="mb-0"> Profile</h5>
        <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
            <li class="breadcrumb-item position-relative">
                <a routerlink="{{ path('app_tableau_de_bord_candidat')}}" class="d-inline-block position-relative" href="{{ path('app_tableau_de_bord_candidat')}}">
                <i class="ri-home-8-line"></i> Tableau de bord </a>
            </li>
            <li class="breadcrumb-item position-relative"> Mes notifications </li>
        </ol>
    </div>
</section>
<section class="detail_db d-md-flex bp_">
    <div class="biographie-profil mb-4 p-4">
        <div class="mission-list-title">
            <h1>Mes notifications</h1>
                {% if notifications|length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">{{ knp_pagination_sortable(notifications, 'ID', 'n.id') }}</th>
                        <th scope="col">{{ knp_pagination_sortable(notifications, 'Expediteur', 'n.expediteur') }}</th>
                        <th scope="col" class="text-center">{{ knp_pagination_sortable(notifications, 'Créée le', 'n.dateMessage') }}</th>
                        <th scope="col" class="text-center">{{ knp_pagination_sortable(notifications, 'Status', 'n.status') }}</th>
                        <th scope="col" class="text-center">{{ knp_pagination_sortable(notifications, 'Lu', 'n.isRead') }}</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for notification in notifications %}
                        <tr>
                            <td>{{ notification.id }}</td>
                            <td>{{ notification.expediteur.email }}</td>
                            <td class="text-center">{{ notification.dateMessage|date('d/m/Y') }}</td>
                            <td class="text-center">{{ notification.inverseStatuses[notification.status]|raw  }}</td>
                            <td class="text-center">{{ notification.isRead ? '<i class="h3 bi bi-toggle-on"></i>' : '<i class="h3 bi bi-toggle-off"></i>' }}</td>
                            <td>
                                <a class="btn btn-sm rounded-cirle btn-info" href="{{ path('app_dashboard_moderateur_notification_show', {'id': notification.id}) }}"><i class="bi bi-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(notifications) }}
                {% else %}
                <div class="text-center col-lg-6 col-sm-12 mx-auto">
                    <img src="{{ asset('images/empty.png')}}" class="img-fluid">
                    <p class="text-center">Aucune notification trouvée</p>
                </div>
                {% endif %}
        </div>
    </div>
</section>
{% endblock %}