{% extends 'tableau_de_bord/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <div class="loader-container" id="loader-container" style="display:none;">
        <span class="loader"></span>
    </div>

    <section class="">
        <div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <a href="javascript:history.back()" class="d-block btn btn-info fw-semibold text-uppercase me-3 btn_retour">
                <i class="mx-2 bi bi-arrow-left"></i>Retour</a>
                <h5 class="mb-0"> Trouver une mission </h5>
            </div>
            <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
                <li class="breadcrumb-item position-relative">
                    <a routerlink="v2/candidate/dashboard/" class="d-inline-block position-relative" href="v2/candidate/dashboard/">
                    <i class="ri-home-8-line"></i> Tableau de bord </a> 
                </li>
                <li class="breadcrumb-item position-relative"> Trouver des missions </li>
            </ol>
        </div>
    </section>
    {% if not candidat.isIsPremium %}
    <section class="warning_freemium mb-4 d-flex align-items-center">
        <span><img src="{{ asset('v2/images/dashboard/warning_outline_icon.svg')}}" alt=""></span>
        <div class="warning-block">
            Vous êtes actuellement sur un plan gratuit. <a routerlink="{{ path('app_tableau_de_bord_candidat_tarifs_standard')}}" class="btn-primary" href="{{ path('app_tableau_de_bord_candidat_tarifs_standard')}}">Achetez du credit</a> pour <a routerlink="{{ path('app_tableau_de_bord_candidat_boost')}}" class="btn-primary" href="{{ path('app_tableau_de_bord_candidat_boost')}}">booster la visibilité</a> de votre profil ou encore, passez à un <a routerlink="{{ path('app_tableau_de_bord_candidat_tarifs')}}" class="btn-primary" href="{{ path('app_tableau_de_bord_candidat_tarifs')}}">abonnement premium</a> pour profiter d’avantages supplémentaires, gagné de rang pour être au sommet du resultat de recherche.
        </div>
    </section>
    {% endif %}
    <section class="detail_db d-md-flex bp_">
        <div class="biographie-profil mb-4 p-4">
            <div class="mission-list-title">
                <h1>Saisissez de nouvelles opportunités pour votre carrière</h1>
                <p> Accédez aux offres d'emploi publiées par des entreprises dans votre secteur. Positionnez-vous sur des projets pertinents pour élargir vos compétences et collaborer avec de nouveaux partenaires. Explorez des possibilités qui peuvent dynamiser votre trajectoire professionnelle et ouvrir la porte à de nouvelles expériences enrichissantes.
                </p>
            </div>
            <div class="ils_recrutentBlock mb-4">
                <h2><span>Ils recrutent</span></h2>
                <div class="inner-recruter d-flex align-items-center">
                    <div class="item-recruter-box">
                        <div class="recruter_box d-flex">
                            <a href="#">
                                <img class="img-fluid" src="{{ asset('images/pubs/logo_leaderprice.png')}}">
                            </a>
                            <a href="#">
                                <img class="img-fluid" src="{{ asset('images/pubs/logo_intelcia.png')}}">
                            </a>
                            <a href="#">
                                <img class="img-fluid" src="{{ asset('images/pubs/logo_kentiaRH.png')}}">
                            </a>
                        </div>
                    </div>
                    <div class="item-recruter-box">
                        <img class="img-fluid" src="{{ asset('images/pubs/olona-talents-horizontal.webp')}}">
                    </div>
                    <div class="item-recruter-box">
                        <div class="recruter_box d-flex">
                            <a href="#">
                                <img class="img-fluid" src="{{ asset('images/pubs/logo_orange.png')}}">
                            </a>
                            <a href="#">
                                <img class="img-fluid" src="{{ asset('images/pubs/logo_accesB.png')}}">
                            </a>
                            <a href="#">
                                <img class="img-fluid" src="{{ asset('images/pubs/logo_madalarm.png')}}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offre-emploi-list">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 user-results ">
                        <div id="joblistings-list">
                            {% if joblistings|length > 0 %}
                                {% include "v2/dashboard/result/parts/_part_joblistings_list.html.twig" %}
                            {% else %}
                                {% include "v2/dashboard/result/none/_none_joblistings.html.twig" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-sticky" style="top: 2rem;">
                            <div class="theiaStickySidebar">
                                <div class="pub_veticales mt-4 pt-1">
                                    <a href="">
                                        <img class="img-fluid" src="{{ asset('images/pubs/olona-talents-vertical.webp')}}">
                                    </a>
                                </div>
                                <div class="advertisment" style="background-image:url({{ asset('v2/images/home/home-olona-talents.webp')}});">
                                    <h4 class="title">Recrutement</h4>
                                    <p>Obtenez les emplois les mieux adaptés à vos besoins <br>
                                    Ajoutez votre CV MAINTENANT !</p>
                                    <div class="btn-signUp">
                                        <a href="" class="btn btn-primary white">En savoir plus</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script> 
    
    var currentPage = 1;
    var allDataLoaded = false;

    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - 100 && !allDataLoaded) {
            loadMoreJobs();
        }
    });

    function loadMoreJobs() {
        if (!allDataLoaded) {
            currentPage++;
            var url = `{{ path('api_job_offers') }}?page=${currentPage}`;
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json', 
                success: function(data) {
                    $('#jobs-container').append(data.html);
                    if (!data.hasMore) {
                        allDataLoaded = true;
                    }
                },
                error: function() {
                    allDataLoaded = true; 
                }
            });
        }
    }
    </script>
{% endblock %}
