{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Tous les candidats{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; }
</style>

<div class="example-wrapper">
    <h1>Tous les candidats</h1>
    <div>
        <a class="btn btn-primary my-3 px-5 rounded-pill" href="{{ path('app_white_label_candidat_profile_new') }}"><i class="bi me-2 bi-plus-lg"></i>Ajouter</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(candidats, 'ID', 'c.id') }}</th>
                <th>{{ knp_pagination_sortable(candidats, 'Nom', 'nom') }}</th>
                <th>{{ knp_pagination_sortable(candidats, 'Province', 'c.province') }}</th>
                <th>{{ knp_pagination_sortable(candidats, 'Région', 'c.region') }}</th>
                <th>{{ knp_pagination_sortable(candidats, 'Status', 'c.status') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for item in candidats %}
            {% set candidat = item[0] %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.candidat }} <br>
                    <span class="small fw-lighter">{{ candidat.titre }}</span></td>
                <td>{{ candidat.province }}</td>
                <td>{{ candidat.region }}</td>
                <td>{{ candidat.status }}</td>
                <td>
                    <a class="btn btn-sm rounded-cirle btn-info" href="{{ path('app_white_label_candidat_profile_show', {'id': candidat.id}) }}"><i class="bi bi-eye"></i></a>
                    <a class="btn btn-sm rounded-cirle btn-danger" href="{{ path('app_white_label_candidat_profile_edit', {'id': candidat.id}) }}"><i class="bi bi-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun candidat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(candidats) }}
</div>

{% endblock %}
