{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Candidat{% endblock %}
{% block page_title %}Candidat{% endblock %}


{% block body %}
<section class="p-0 m-0">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <h1 class="h3">{{ candidat.candidat }} </h1>

            <table class="table">
                <tbody>
                    {% if candidat.fileName is not null %}
                    <tr>
                        <th class="col-3">Photo de profil</th>
                        <td>
                            <img src="{{ asset('uploads/experts/' ~ candidat.fileName) }}" alt="Avatar" style="max-width: 150px;">
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th class="col-3">Inscrit le</th>
                        <td>{{ candidat.createdAt ? candidat.createdAt|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Titre professsionnel</th>
                        <td>{{ candidat.titre }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Adresse email</th>
                        <td>{{ candidat.candidat.email }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Téléphone</th>
                        <td> {{ candidat.candidat.telephone }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">CV</th>
                        <td> 
                        {% if candidat.cv %}
                            <a href="{{ asset('wl/client1/' ~ candidat.cv) }}" target=_blank class="btn btn-sm btn-outline-primary text-upercase fw-semibold">
                                <i class="bi bi-file-earmark-pdf-fill"></i> Voir son CV
                            </a>
                        {% else %}
                        <span class=""><i class="bi bi-info-circle"></i> CV manquant</span>
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="col-3">Adresse</th>
                        <td>{{ candidat.candidat.adress }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Localisation</th>
                        <td><i class="bi bi-geo-alt-fill"></i>{{ candidat.province }} {{ candidat.region }} {{ show_country(candidat.localisation) }}</td>
                    </tr>
                    {% if candidat.gender is not null %}
                    <tr>
                        <th class="col-3">Genre</th>
                        <td>{{ candidat.gender }}</td>
                    </tr>
                    {% endif %}
                    {% if candidat.status is not null %}
                    <tr>
                        <th class="col-3">Status</th>
                        <td>{{ candidat.status }}</td>
                    </tr>
                    {% endif %}
                    {% if candidat.tarifCandidat is not null %}
                    <tr>
                        <th class="col-3">Tarif indicatif</th>
                        <td>{{ candidat.tarifCandidat }}</td>
                    </tr>
                    {% endif %}
                    {% if candidat.metaDescription is not null %}
                    <tr>
                        <th class="col-3">Meta description</th>
                        <td>{{ candidat.metaDescription }}</td>
                    </tr>
                    {% endif %}
                    {% if candidat.getCountCompetences() > 0 %}
                    <tr>
                        <th class="col-3">Nombre de compétences</th>
                        <td>{{ candidat.getCountCompetences() }}</td>
                    </tr>
                    {% endif %}
                    {% if candidat.getCountExperiences() > 0 %}
                    <tr>
                        <th class="col-3">Nombre d'expériences</th>
                        <td>{{ candidat.getCountExperiences() }}</td>
                    </tr>
                    {% endif %}
                    {% if candidat.langages|length > 0 %}
                    <tr>
                        <th class="col-3">Langues</th>
                        <td>
                            {% for langue in candidat.langages %}
                                {{ isoToEmoji(langue.langue.code) }} {{ langue.langue.nom }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th class="col-3">Description</th>
                        <td>{{ candidat.resume|raw }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end w-100">
                <a class="btn btn-secondary px-5 rounded-pill" href="{{ path('app_white_label_candidat_profile_edit', {'id': candidat.id}) }}"><i class="bi me-2 bi-pencil"></i>Modifier</a>
                {{ include('white_label/client1/admin/candidat/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>

{% endblock %}
