{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Candidat{% endblock %}
{% block page_title %}Candidat{% endblock %}


{% block body %}
<section class="p-0 m-0">
    <div class="container">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <h1 class="h3">{{ candidat.candidat }} </h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th class="col-3">Inscrit le</th>
                        <td>{{ candidat.createdAt ? candidat.createdAt|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Titre professsionnel</th>
                        <td>{{ candidat.titre }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Adresse email</th>
                        <td>{{ candidat.candidat.email }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Téléphone</th>
                        <td> {{ candidat.candidat.telephone }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">CV</th>
                        <td> 
                        {% if candidat.cv %}
                            <a href="{{ asset('wl/client1/' ~ candidat.cv) }}" target=_blank class="btn btn-sm btn-outline-primary text-upercase fw-semibold">
                                <i class="bi bi-file-earmark-pdf-fill"></i> Voir son CV
                            </a>
                        {% else %}
                        <span class=""><i class="bi bi-info-circle"></i> CV manquant</span>
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="col-3">Adresse</th>
                        <td>{{ candidat.candidat.adress }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Région</th>
                        <td>{{ candidat.region }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Province</th>
                        <td>{{ candidat.province }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Localisation</th>
                        <td><i class="bi bi-geo-alt-fill"></i>{{ candidat.province }} {{ candidat.region }} {{ show_country(candidat.localisation) }}</td>
                    </tr>
                    <tr>
                        <th class="col-3">Description</th>
                        <td>{{ candidat.resume|raw }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end w-100">
                <a class="btn btn-secondary px-5 rounded-pill" href="{{ path('app_white_label_candidat_profile_edit', {'id': candidat.id}) }}"><i class="bi me-2 bi-pencil"></i>Modifier</a>
                {{ include('white_label/client1/admin/candidat/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</section>

{% endblock %}
