<div class="section-content">
	<div class="jobs-grid-wrap">
		<div class="row">
            {% if joblistings_boost|length > 0 %}
                {% for joblisting in joblistings_boost %}
                <div class="col-lg-6 col-md-6">
                    <div class="jobs-grid m-b30">
                        <div class="media">
                            <img class="img-fluid profile-img" style="border-radius: 10px; object-fit: cover;" src="{{ joblisting.entreprise.fileName ? asset('uploads/compagnies/' ~ joblisting.entreprise.fileName) : asset('images/dashboard/logo_defaut_entreprise2.webp') }}" alt="{{ generatePseudoById(joblisting.id) }}" >
                        </div>
                        <span class="job-post-duration"><span class="fw-lighter small">Date limite :</span> {{ joblisting.dateExpiration|date('d/m/Y') }}</span>
                        <div class="jobs-category"><span class="bg-urgent">Urgent</span></div>
                        <div class="mid-content">
                            <a href="" class="job-title">
                                <h4>
                                {% set title_words = joblisting.titre|striptags|split(' ') %}
                                {% if title_words|length > 5 %}
                                    {{ title_words|slice(0, 5)|join(' ') }}...
                                {% else %}
                                    {{ title_words|join(' ') }}
                                {% endif %}
                                </h4>
                            </a>
                            <p class="job-address">
                                Ref: {{ generateJobReference(joblisting.id) }}
                                <small class="badge bg-info rounded-pill">{{ joblisting.typeContrat }}</small>
                            </p>
                            <div>
                                <span class="">
                                    <small><i class="bi bi-eye"></i> {{ joblisting.annonceVues|length }} vues</small> |
                                    <small><i class="mx-1 bi bi-patch-check"></i> {{ joblisting.applications|length }} offres</small>
                                </span>
                            </div>
                        </div>
                        <div class="right-content">
                            {% if app.user %}
                                <a href="{{ path('app_v2_job_offer_view', {'id': joblisting.id})}}" class="btn btn-primary ot-text-primary">Contacter</a>
                            {% else %}
                                <button type="button" class="btn btn-primary ot-text-primary" data-bs-toggle="modal" data-bs-target="#connectingModal" data-bs-href="{{ path('app_v2_job_offer_view', {'id':joblisting.id}) }}">Contacter</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if joblistings_boost|length == 1 %}
                    <div class="card mt-3 text-center">
                        <a href="{{ path('app_contact') }}">
                            <img class="img-fluid rounded" src="{{ asset('images/Ot-votrepubici-verticalbis.webp')}}">
                        </a>
                    </div>
                    {% if not app.user %}
                        <div class="card mt-3 text-center">
                            <a href="{{ path('app_contact') }}">
                                <img class="img-fluid rounded" src="{{ asset('images/Ot-votrepubici-verticalbis.webp')}}">
                            </a>
                        </div>
                    {% endif %}
                    {% if joblistings_boost|length == 2 %}
                        {% if not app.user %}
                            <div class="card mt-3 text-center">
                                <a href="{{ path('app_contact') }}">
                                    <img class="img-fluid rounded" src="{{ asset('images/Ot-votrepubici-verticalbis.webp')}}">
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
		</div>
	</div>
</div>