<div class="boosts-container" data-slider>
    <div class="boosts" data-slider-wrapper>
        {% if joblistings_boost|length > 0 %}
            {% for joblisting in joblistings_boost %}
                <div class="boost"> 
                    <div class="card mt-3 text-center">
                        <div class="">
                            <span class="position-absolute top-0 start-0 ms-5 px-3 translate-middle badge bg-danger rounded-pill" style="z-index:999">URGENT</span>
                        </div>
                        <div class="card-image-wrapper">
                            <div class="job-image card-img-top" style="background-image: url('{{ joblisting.entreprise.fileName ? asset('uploads/compagnies/' ~ joblisting.entreprise.fileName) : asset('images/annonce.png') }}');" alt="{{ generatePseudoById(joblisting.id) }}"></div>
                            <div class="card-body-candidat">
                                <p class="job-title">Ref: {{ generateJobReference(joblisting.id) }}</p>
                                <div style="min-height:50px;display: flex; align-items: center; justify-content: center;">
                                    <h2 class="fw-bold text-uppercase fs-6">
                                        {% set title_words = joblisting.titre|striptags|split(' ') %}
                                        {% if title_words|length > 5 %}
                                            {{ title_words|slice(0, 5)|join(' ') }}...
                                        {% else %}
                                            {{ title_words|join(' ') }}
                                        {% endif %}
                                    </h2>
                                </div>
                                <div class="">
                                    <span class="">
                                        <small><i class="bi bi-eye"></i> {{ joblisting.annonceVues|length }} vues</small> |
                                        <small><i class="mx-1 bi bi-patch-check"></i> {{ joblisting.applications|length }} offres</small>
                                    </span><br>
                                    <span class="">
                                        <small class="badge bg-info rounded-pill">{{ joblisting.typeContrat }}</small><br>
                                        <span class="fw-lighter small">Date limite :</span> {{ joblisting.dateExpiration|date('d/m/Y') }}
                                    </span>
                                </div>
                                {% if app.user %}
                                    <a href="{{ path('app_v2_job_offer_view', {'id': joblisting.id})}}" class="btn btn-primary btn-sm fw-semibold mb-3 px-3 mt-3 mx-auto">Contacter</a>
                                {% else %}
                                    <button type="button" class="btn btn-primary btn-sm fw-semibold mb-3 px-3 mt-3 mx-auto" data-bs-toggle="modal" data-bs-target="#connectingModal" data-bs-href="{{ path('app_v2_job_offer_view', {'id':joblisting.id}) }}">Contacter</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <span class="boosts_navigation prev-boost shadow" data-slider-prev hidden>
        <i class="bi bi-chevron-left"></i>
    </span>
    <span class="boosts_navigation next-boost shadow" data-slider-next>
        <i class="bi bi-chevron-right"></i>
    </span>
</div>