{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Assistance{% endblock %}

{% block body %}
<div class="biographie-profil mb-4 p-4 besoin_assitacne">
    <h2> Besoin d'assistance ? <br/> Dites-nous en plus sur vos besoins ! </h2>
    {{ form_start(form) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.message) }}
    <div style="display:none;">
        {{ form_widget(form) }}
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
