{% extends 'white_label/client1/base.html.twig' %}

{% block title %}Mes infos{% endblock %}
{% block page_title %}Mon profil{% endblock %}

{% block body %}
        {% if form is defined %}
            {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary mt-3">Sauvegarder</button>
            {{ form_end(form) }}
        {% endif %}

        {% if employeForm is defined %}
            <hr/>
            <h2>Employé</h2>
            {{ form_start(employeForm, {'attr': {'data-turbo': 'false'}}) }}
            {{ form_widget(employeForm) }}
            <button class="btn btn-primary mt-3">Sauvegarder</button>
            {{ form_end(employeForm) }}
        {% endif %}
{% endblock %}
